{%extends "CIELOEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Liste des participants au jeu {{campagneJeu.jeu.nom}} de la campagne {{campagneJeu.campagne.nom}} {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Camagne</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid">

                <!--Chart Icons -->
                <div class="span4">
                    <div class="utopia-chart-legend">
                        <div class="utopia-chart-icon">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/access_point.png')}}">
                        </div>
                        <div class="utopia-chart-heading">{{totalParticipation}}</div>
                        <div class="utopia-chart-desc">Nombre de participations</div>
                    </div>
                </div>

                <div class="span4">
                    <div class="utopia-chart-legend">
                        <div class="utopia-chart-icon">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/clock.png')}}">
                        </div>
                        <div class="utopia-chart-heading">{{totalGagnant}}</div>
                        <div class="utopia-chart-desc">Nombre de gagnants</div>
                    </div>
                </div>

                <div class="span4">
                    <div class="utopia-chart-legend">
                        <div class="utopia-chart-icon">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/download2.png')}}">
                        </div>
                        <div class="utopia-chart-heading">{{totalParticipation - totalGagnant}}</div>
                        <div class="utopia-chart-desc">Nombre de perdants</div>
                    </div>
                </div>

                
            </div>
            <!--
            <div class="row-fluid">
                <div class="span12">
                    <div class="utopia-chart-legend" style="height: auto">
                        <div class="utopia-chart-sparkline" id="graphe-campagne-jeu" style="height: 150px" >
                        </div>
                        <div class="utopia-chart-heading">LINE</div>
                        <div class="utopia-chart-desc">SPARKLINE</div>
                    </div>
                </div>
            </div>
             -->
            
                <div class="row-fluid" style="margin-bottom: 20px; ">
                    <div style="float: right">
                        <!--<a class="btn" href="{{path('cielo_admin_enterprise_creer_produit')}}" title="Ajouter un nouveau produit">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                         Ajouter Produit
                        </a>
                        <a class="btn" href="{{path('cielo_enterprise_ajouter_propriete_produit')}}" title="Créer une nouvelle catégorie">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/gear.png')}}" class="utopia-icons2-medium-img">
                         Ajouter Propriété
                        </a>
                        <a class="btn" href="{{path('cielo_enterprise_voir_propriete_produit')}}" title="Créer une nouvelle catégorie">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/audio_knob.png')}}" class="utopia-icons2-medium-img">
                         Voir les Propriétés
                        </a>-->
                    </div>
                </div>
                
            <div class="row-fluid">
                <div class="span12">
                    <section class="utopia-widget">
                        <div class="utopia-widget-title">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                            <span>Liste des participants au jeu {{campagneJeu.jeu.nom}} de la campagne {{campagneJeu.campagne.nom}}</span>
                        </div>

                        <div class="utopia-widget-content">

                            <table class="table datatable table-striped table-bordered">

                                <colgroup>
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                </colgroup>


                                <thead>
                                <tr>
                                    <th>Participant</th>
                                    <th>Date de participation</th>
                                    <th>Id de participation</th>
                                    <th>Gain remporté</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for p in campagneJeu.participationsJeu%}
                                     <tr>
                                         <td>
                                             {{p.client.nom}} {{p.client.prenom}}
                                         </td>
                                         <td>
                                             {{p.dateParticipation|date('d/m/Y')}}
                                         </td>
                                         <td>
                                             {{p.numGagnant}}
                                         </td>
                                         <td>
                                             {{p.gain}}
                                         </td>
                                         <td>
                                             <a href="{{path('cielo_enterprise_campagne_jeu_consulter', {'id': p.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/audio_knob.png')}}" title="Consulter les statistiques"></a>
                                         </td>
                                     </tr>
                                 {%endfor%}
                              </tbody>

                                <tfoot>
                                <tr>
                                    <th>Participant</th>
                                    <th>Date de participation</th>
                                    <th>Id de participation</th>
                                    <th>Gain remporté</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
        $(document).ready(function(){
            $("#graphe-campagne-jeu").sparkline([5, 6, 7, 9, 9, 5, 3, 2, 2, 4, 6, 7, 5, 6, 7, 9, 9], {type:"line", height:150, width:400});
        })
</script>
{% endblock bodyFils1%}