{%extends "CIELOEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Liste des jeux dans la campagne {{campagne.nom}} {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Camagne</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="row-fluid" style="margin-bottom: 20px; ">
                    <div style="float: right">
                        <!--<a class="btn" href="{{path('cielo_admin_enterprise_creer_produit')}}" title="Ajouter un nouveau produit">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                         Ajouter Produit
                        </a>
                        <a class="btn" href="{{path('cielo_enterprise_ajouter_propriete_produit')}}" title="Créer une nouvelle catégorie">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/gear.png')}}" class="utopia-icons2-medium-img">
                         Ajouter Propriété
                        </a>
                        <a class="btn" href="{{path('cielo_enterprise_voir_propriete_produit')}}" title="Créer une nouvelle catégorie">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/audio_knob.png')}}" class="utopia-icons2-medium-img">
                         Voir les Propriétés
                        </a>-->
                    </div>
                </div>
                
            <div class="row-fluid">
                <div class="span12">
                    <section class="utopia-widget">
                        <div class="utopia-widget-title">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                            <span>Liste des jeux dans la campagne {{campagne.nom}}</span>
                        </div>

                        <div class="utopia-widget-content">

                            <table class="table datatable table-striped table-bordered">

                                <colgroup>
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                </colgroup>


                                <thead>
                                <tr>
                                    <th>Nom du jeux</th>
                                    <th>Nombre de participants</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for c in campagnesJeu%}
                                     <tr>
                                         <td>
                                             {{c.jeu.nom}}
                                         </td>
                                         <td>
                                             {{c.participationsJeu|length}}
                                         </td>
                                         <td>
                                             <a href="{{path('cielo_enterprise_campagne_jeu_consulter', {'id': c.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/audio_knob.png')}}" title="Consulter les statistiques"></a>
                                         </td>
                                     </tr>
                                 {%endfor%}
                              </tbody>

                                <tfoot>
                                <tr>
                                    <th>Nom du jeux</th>
                                    <th>Nombre de participants</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyFils1%}