{%extends "CIELOEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Produit {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Camagne</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="row-fluid" style="margin-bottom: 20px; ">
                    <div style="float: right">
                        
                    </div>
                </div>
                
            <div class="row-fluid">
                <div class="span12">
                    <section class="utopia-widget">
                        <div class="utopia-widget-title">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                            <span>Toutes les campagnes</span>
                        </div>

                        <div class="utopia-widget-content">

                            <table class="table datatable table-striped table-bordered">

                                <colgroup>
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                </colgroup>


                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Date de fin</th>
                                    <th>Date de début</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for c in campagnes%}
                                     <tr>
                                         <td>
                                             {{c.nom}}
                                         </td>
                                         <td>
                                             {{c.dateDebut|date('d/m/Y')}}
                                         </td>
                                         <td>
                                             {{c.dateFin|date('d/m/Y')}}
                                         </td>
                                         <td>
                                             <a href="{{path('cielo_enterprise_campagne_jeu_list', {'id': c.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/audio_knob.png')}}" title="Voir ses propriétés"></a>
                                         </td>
                                     </tr>
                                 {%endfor%}
                              </tbody>

                                <tfoot>
                                <tr>
                                    <th>Nom</th>
                                    <th>Date de fin</th>
                                    <th>Date de début</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyFils1%}