<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Cielo Market: {{ status_text }}</title>
    </head>
    <body>
        <h1>Oops! Une erreur s'est produite</h1>
        <h2>La ressource demandée est actuellement indisponible veuillez réessayer.</h2>
   </body>
</html>