{%extends "CIELOAdminEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Enterprise | Créer Promotion {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_enterprise_homepage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{path('cielo_enterprise_promotion')}}">Promotion</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Ajouter un produit à une promotion</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <section id="formElement" class="utopia-widget utopia-form-box section">
            <div class="utopia-widget-title">
                <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                <span>Ajout d'un produit à une promotion</span>
            </div>
            <div class="row-fluid">
                <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                    <form method="post" {{ form_enctype(form) }} data-prototype="{#{form_widget(form.promotionProduits.vars.prototype)|e}#}" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span3">
                                {{ form_label(form.promotion, "Promotion") }}
                                <span style="color: red"> {{ form_errors(form.promotion) }}</span>
                                {{ form_widget(form.promotion) }}
                                 
                                {{ form_label(form.categorie, "Catégorie") }}
                                <span style="color: red"> {{ form_errors(form.categorie) }}</span>
                                {{ form_widget(form.categorie) }}
                                    
                                {{ form_label(form.reduction, "Réduction") }}
                                <span style="color: red"> {{ form_errors(form.reduction) }}</span>
                                {{ form_widget(form.reduction) }}
                            </div>
                                  {{ form_widget(form) }}
                        </div>
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                        <script type="text/javascript">
                            $("#promotion-produit-add").click(function(e) {
                                e.preventDefault();
                                addImageToForm();
                            });
                            function addImageToForm(imageContainer) {
                                imageContainer = $("#promotion-produit-container");
                                var prototype = $(".form-horizontal").attr("data-prototype");
                                var newImageForm = prototype.replace(/__name__/g, imageContainer.children().length);
                                imageContainer.append(newImageForm);
                            }
                            </script>

                        </div>
                    </div>
            </div>
        </div>
{% endblock bodyFils1%}