{%extends "CIELOEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Produit à mettre en Promo{% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_enterprise_promotion')}}">Promotion</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Les produits à mettre en promo</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
            </div>
                
                
            <div class="row-fluid">
                <div class="span12">
                    <section class="utopia-widget">
                        <div class="utopia-widget-title">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                            <span>Création de promotion (Etape 2)</span>
                        </div>

                        <div class="utopia-widget-content">

                            <table class="table datatable table-striped table-bordered">

                                <colgroup>
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                </colgroup>


                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Prix</th>
                                    <th>Catégorie</th>
                                    <th><input class="utopia-check-all" type="checkbox"> Choisir</th>
                                    <th>Prix Promo</th>
                                </tr>
                                </thead>

                                <tbody>
                                    {% for pp in produits%}
                                {% for p in pp%}
                                 <tr>
                                     <td>
                                         {%if p.modeles[0].documents!=null%}
                                         {% if p.modeles[0].documents[0].lien!=null%}
                                            <img 
                                                src="{{ asset(p.modeles[0].documents[0].webPath) }}"
                                                alt="{{ p.modeles[0].documents[0].nom }}"
                                                title="{{ p.modeles[0].documents[0].description }}" 
                                                style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                            />
                                                {%else%}
                                            <img 
                                                <img 
                                                    src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                    style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                                />
                                            {%endif%}
                                         {%endif%}
                                     </td>
                                     <td>
                                         {{p.nom}}
                                     </td>
                                     <td>
                                         {#{p.prix}#}
                                     </td>
                                     <td>
                                         {{p.categorie.nom}}
                                     </td>
                                     <td>
                                         <input class="chkbox" type="checkbox" id="{{p.id}}" name="checkbox[]">
                                     </td>
                                     <td>
                                         <input type="number" value="{#{p.prix}#}" id="produitPrixPromo{{p.id}}"/>
                                     </td>
                                 </tr>
                                 {%endfor%}
                                 {%endfor%}
                              </tbody>

                                <tfoot>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Prix</th>
                                    <th>Catégorie</th>
                                    <th><input class="utopia-check-all" type="checkbox"> Choisir</th>
                                    <th>Prix Promo</th>
                                </tr>
                                </tfoot>
                            </table>
                            <button class="ajouterProduitPromo" id="btn_{{promotion.id}}">Valider</button>
                            <!--<a href="" class="btn ajouterProduitPromo">{{promotion.nom}}</a>-->
                        </div>
                    </section>
                        
                </div>
                    
            </div>
        </div>
    </div>
{% endblock bodyFils1%}