{%extends "CIELOAdminEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Promotion {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#">Promotion</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#">Produit</a> <span class="divider">/</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Les produits de cette promotion</span>
                    </div>

                    <div class="utopia-widget-content">

                        <table class="table datatable table-striped table-bordered">

                            <colgroup>
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                            </colgroup>


                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Prix</th>
                                    <th>Prix Promo</th>
                                    <th>Réduction</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {%if promotionProduit|length>0%}
                                {% for pp in promotionProduit%}

                                    <tr>
                                        <td>
                                         {%if pp.produit.modeles[0].documents|length>0%}
                                         {% if pp.produit.modeles[0].documents[0].lien!=null%}
                                                <img 
                                                    src="{{ image(pp.produit.modeles[0].documents[0].webPath).resize(96,96, 'f5f5f5') }}"
                                                    alt="{{ pp.produit.modeles[0].documents[0].nom }}"
                                                    title="{{ pp.produit.modeles[0].documents[0].description }}" 
                                                    />
                                                {%else%}
                                            <img 
                                                <img 
                                                src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                                />
                                            {%endif%}
                                            {%else%}
                                        <img 
                                            src="{{asset('bundles/cielouser/images/deux.png')}}"
                                            style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                            />
                                         {%endif%}
                                </td>
                                <td>
                                         {{pp.produit.nom}}
                                    </td>
                                    <td>
                                         {{pp.produit.modeles[0].prix}}
                                        </td>
                                        <td>
                                         {{pp.produit.modeles[0].prixPromo}}
                                            </td>
                                            <td>
                                         {{pp.reduction}}%
                                                </td>
                                                <td>
                                                    <a href="{{path('cielo_admin_enterprise_modifier_produit_dune_promotion', {'id': pp.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                                    <a href="javascript:void(0)" class="supprimer-produit-promotion-entreprise" id="btn_supprimer_produit_promotion_entreprise_{{pp.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                                    <a style="display: none" href="{{path('cielo_admin_enterprise_supprimer_produit_dune_promotion', {'id': pp.id})}}" class="delete" id="link_btn_supprimer_produit_promotion_entreprise_{{pp.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                                </td>

                                            </tr>

                                        {%endfor%}
                                    {%endif%}  
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <th>Image</th>
                                                <th>Nom</th>
                                                <th>Prix</th>
                                                <th>Prix Promo</th>
                                                <th>Réduction</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
{% endblock bodyFils1%}