{%extends "CIELOAdminEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Promotion {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#">Promotion</a> <span class="divider">/</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-fluid" style="margin-bottom: 20px; ">
            <div style="float: right; margin-left: 5px;">
                <a class="btn" href="{{path('cielo_admin_enterprise_creer_promotion')}}" title="Ajouter un nouveau produit">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                    Créer une promotion
                </a>

            </div>
            <div style="float: right; margin-left: 5px;">
                <a class="btn" href="{{path('cielo_admin_enterprise_ajouter_categorie_promotion')}}" title="Ajouter un nouveau produit">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                    Ajouter une catégorie
                </a>

            </div>
            <div style="float: right">
                <a class="btn" href="{{path('cielo_admin_enterprise_ajouter_un_produit_promotion')}}" title="Ajouter un nouveau produit">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                    Ajouter un produit
                </a>

            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Toutes les  promotions</span>
                    </div>

                    <div class="utopia-widget-content">

                        <table class="table datatable table-striped table-bordered">

                            <colgroup>
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                            </colgroup>


                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Durée</th>
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {%if promotions|length>0%}
                                            {%for p in promotions%}
                                <tr>
                                        
                                        <td>
                                            {{p.nom}}
                                            </td>
                                            <td>
                                                du {{p.dateDebutPromotion|date('d/m/Y')}} 
                                                au {{p.dateFinPromotion|date('d/m/Y')}}
                                            </td>
                                            <td>
                                                {%if p.dateDebutPromotion<now%}
                                                    {%if p.dateFinPromotion>now%}
                                                    En cours
                                                    {%endif%}
                                                {%endif%}
                                                {%if p.dateFinPromotion<now%}
                                                    Terminée
                                                {%endif%}
                                                {%if p.dateDebutPromotion>now%}
                                                    En attente
                                                {%endif%}
                                            </td>
                                            <td>
                                                <a href="{{path('cielo_admin_enterprise_produit_dune_promotion', {'id': p.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/eye.png')}}" title="Voir les produits de cette promo"></a>
                                                <a href="{{path('cielo_admin_enterprise_modifier_promotion', {'id': p.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                                <a href="javascript:void(0)" class="supprimer-promotion-entreprise" id="btn_supprimer_promotion_entreprise_{{p.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                                <a style="display: none" href="{{path('cielo_admin_enterprise_supprimer_promotion', {'id': p.id})}}" class="delete" id="link_btn_supprimer_promotion_entreprise_{{p.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a> 
                                            </td>
                                            
                                        </tr>
                                        {%endfor%}
                                        {%endif%}
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Durée</th>
                                            <th>Etat</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
{% endblock bodyFils1%}