{%extends "::global_admin_layout.html.twig"%}
{% block title %} {{ parent() }}User | Login {% endblock title %}
{% block body %}
<div class="container-fluid">

    <div class="row-fluid">
        <div class="span12">
            <div class="utopia-login-message">
                <h1>Bienvenu à CIELO Market</h1>
                <p>Identifiez-vous pour avoir accès</p>
            </div>
        </div>
    </div>
    <div class="row-fluid">

        <div class="span12">

            <div class="row-fluid">

                <div class="span6">
                    <div class="utopia-login-info">
                        <img src="{{asset('bundles/cieloadmin/admin/img/login.png')}}" alt="image">
                    </div>

                </div>

                <div class="span6">
                    <div class="utopia-login">
                        <h1>Connexion</h1>
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock body%}
