{%extends "CIELOAdminBundle::layout.html.twig"%}
{% block title %} {{ parent() }} Admin Entreprise {% endblock title %}
{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            {%block path_line%}
            {%endblock path_line%}
        </div>
     </div>
     <div class="row-fluid">
        <section id="formElement" class="utopia-widget utopia-form-box section">
            <div class="utopia-widget-title">
                <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                <span>{%block sub_title%}{%endblock sub_title%}</span>
            </div>
            <div class="row-fluid">
                <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </div>
     </div>
</div>
{% endblock bodyFils1 %}