{%extends "CIELOEcommerceBundle::layout.html.twig"%}
{% block title %} {{ parent() }} Client {% endblock title %}
{% block body %}
{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        {%if type=="success"%}
        <div data-alert class="alert-box success flash-{{ type }}">
            Votre compte a été créé avec succès{#{{ message }}#}. Consultez votre mail pour le valider.
            <a href="#" class="close">&times;</a>
        </div>
        {%elseif type=="error"%}
        <div data-alert class="alert-box warning flash-{{ type }}">
            {{ message }}
            <a href="#" class="close">&times;</a>
        </div>
        {%else%}
        <div data-alert class="alert-box info flash-{{ type }}">
            {{ message }}
            <a href="#" class="close">&times;</a>
        </div>
        {%endif%}
    {% endfor %}
{% endfor %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
{%endblock body %}