<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Cielo Market | 
            {% endblock title %}
            </title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="Site béninois e-commerce pour la vente et l'achat de différents produits classés en catégories, ayant une partie pour les jeux et les promotions">
            <meta name="keywords" content="Site béninois e-commerce pour la vente et l'achat de différents produits classés en catégories, ayant une partie pour les jeux et les promotions">
            <meta name="author" content="MobileLab">
        {%block stylesheets%}
            <link rel="shortcut icon" type="image/x-icon" href="{{asset('bundles/cieloadmin/admin/img/logo_short.ico')}}">  

            <link href="{{asset('bundles/cieloadmin/admin/css/utopia-white.css')}}" rel="stylesheet">
            <link href="{{asset('bundles/cieloadmin/admin/css/utopia-responsive.css')}}" rel="stylesheet">
            <link href="{{asset('bundles/cieloadmin/admin/css/ui-lightness/jquery-ui.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('bundles/cieloadmin/admin/css/weather.css')}}" rel="stylesheet" type="text/css"/>
            <link href="{{asset('bundles/cieloadmin/admin/css/gallery/modal.css')}}" rel="stylesheet">
            <link href="{{asset('bundles/cieloadmin/admin/css/validationEngine.jquery.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('bundles/cieloadmin/admin/css/chosen.css')}}" media="screen" rel="stylesheet" type="text/css"/>
            <link href="{{asset('bundles/cieloadmin/admin/css/ie.css')}}" rel="stylesheet"/>
            <link href="{{asset('bundles/cieloadmin/admin/css/cieloAdminStyle.css')}}" rel="stylesheet"/>
            <link href="{{asset('bundles/cieloadmin/admin/css/alerts.css')}}" rel="stylesheet"/>
            <link href="{{asset('bundles/cieloadmin/admin/css/datepicker.css')}}" rel="stylesheet"/>
            <link href="{{asset('bundles/cieloadmin/admin/css/chosen.css')}}" rel="stylesheet"/>
            <link href="{{asset('bundles/cieloadmin/admin/css/utopia-growl.css')}}" rel="stylesheet"/>

            <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery.cookie.js')}}"></script>
            <script type="text/javascript">

                if ($.cookie("css")) {
                    $('link[href*="utopia-white.css"]').attr("href", $.cookie("css"));
                    $('link[href*="utopia-dark.css"]').attr("href", $.cookie("css"));
                    $('link[href*="utopia-wooden.css"]').attr("href", $.cookie("css"));
                }
                $(document).ready(function() {
                    $(".theme-changer a").live('click', function() {
                        $('link[href*="utopia-white.css"]').attr("href", $(this).attr('rel'));
                        $('link[href*="utopia-dark.css"]').attr("href", $(this).attr('rel'));
                        $('link[href*="utopia-wooden.css"]').attr("href", $(this).attr('rel'));
                        $.cookie("css", $(this).attr('rel'), {expires: 365, path: '/'});
                        $('.user-info').removeClass('user-active');
                        $('.user-dropbox').hide();
                    });
                });
                </script>

                <!--[if IE 8]>
                <link href="css/ie8.css" rel="stylesheet">
                <![endif]-->

                <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->

                <!--[if gte IE 9]>
                  <style type="text/css">
                    .gradient {
                       filter: none;
                    }
                  </style>
                <![endif]-->
        {%endblock%}

            </head>
            <body>
        {% block body %}


        {% endblock body %}
        {%block javascript%}
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/utopia.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery.hoverIntent.min.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/alerts.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/bootstrap-datepicker.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/cieloAdminJS.js')}}"></script>

                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery.easing.1.3.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery.datatable.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/tables.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery.sparkline.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery.vticker-min.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/ui/datepicker.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/upload/load-image.min.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/upload/image-gallery.min.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery.simpleWeather.js')}}"></script>
                    <script src="{{asset('bundles/cieloadmin/admin/js/jquery.validationEngine.js')}}" type="text/javascript"></script>
                    <script src="{{asset('bundles/cieloadmin/admin/js/jquery.validationEngine-en.js')}}" type="text/javascript"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/maskedinput.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/chosen.jquery.js')}}"></script>
                    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAeTbCOpuPIKT4i9n8iUQsBHNUt_MWjtog&sensor=false"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/gmap3.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/header.js?v1')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/sidebar.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/utopia-growl.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/utopia-ui.js')}}"></script>

                    <script type="text/javascript">

                            $(function() {

                                $("#utopia-dashboard-datepicker").datepicker().css({marginBottom: '20px'});

                                jQuery("#validation").validationEngine();
                                $("#phone").mask("(999) 9999999999");
                                $(".chzn-select").chosen();
                                $(".chzn-select-deselect").chosen({allow_single_deselect: true});

                                $.simpleWeather({
                                    zipcode: '10001',
                                    unit: 'f',
                                    success: function(weather) {
                                        html = '<h2>' + weather.city + ', ' + weather.region + '</h2>';
                                        html += '<img style="float:left" width="125px " src="' + weather.image + '">';
                                        html += '<p>' + weather.temp + '&deg; ' + weather.units.temp + '<br /><span>' + weather.currently + '</span></p>';
                                        html += '<a href="' + weather.link + '">View Forecast &raquo;</a>';

                                        $("#utopia-dashboard-weather").css({marginBottom: '20px'}).html(html);
                                    },
                                    error: function(error) {
                                        $("#utopia-dashboard-weather").html('<p>' + error + '</p>');
                                    }
                                });


                                /* maps with route directions */
                                $("#utopia-google-map-5").gmap3(
                                        {action: 'getRoute',
                                            options: {
                                                origin: '48 Pirrama Road, Pyrmont NSW',
                                                destination: 'Bondi Beach, NSW',
                                                travelMode: google.maps.DirectionsTravelMode.DRIVING
                                            },
                                            callback: function(results) {
                                                if (!results)
                                                    return;
                                                $(this).gmap3(
                                                        {action: 'init',
                                                            zoom: 13,
                                                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                                                            streetViewControl: true,
                                                            center: [-33.879, 151.235]
                                                        },
                                                {action: 'addDirectionsRenderer',
                                                    options: {
                                                        preserveViewport: true,
                                                        draggable: false,
                                                        directions: results
                                                    }
                                                }
                                                );
                                            }
                                        }
                                );
                                /* maps with route directions end */

                            });


                            $("#utopia-sparkline-type1").sparkline([5, 6, 7, 9, 9, 5, 3, 2, 2, 4, 6, 7, 5, 6, 7, 9, 9], {type: "line", height: 48, width: 140});

                            $('.utopia-activity-feeds').vTicker({
                                speed: 500,
                                pause: 3000,
                                animation: 'fade',
                                height: 335,
                                mousePause: true,
                                showItems: 4
                            });

                            var today = new Date();
                            var dd = today.getDate();
                            var mm = today.getMonth() + 1; //January is 0!
                            var yyyy = today.getFullYear();
                            if (dd < 10) {
                                dd = '0' + dd
                            }
                            if (mm < 10) {
                                mm = '0' + mm
                            }
                            var today = mm + '-' + dd + '-' + yyyy;
                            $('#datepicker').val(today);

                            $('#datepicker').datepicker({
                                format: 'yyyy-mm-dd',
                                weekStart: '0'
                            });


                        </script>   
        {%endblock javascript%}
                    </body>
                </html>
