{# empty Twig template #}
{%extends "::global_admin_layout.html.twig"%}

{% block body %}
<div class="container-fluid">

    <!-- Header starts -->
    {%block enteteEntreprise%}
    {% set vars = getVarsAdminEntreprise()%}
    <div class="row-fluid">
        <div class="span12">

            <div class="header-top">

                <div class="header-wrapper">

                    <a href="#" class="utopia-logo">
                        <img src="{{asset(vars.entrepriseCourant.document.webPath)}}" alt="Utopia" style="max-height: 50px; max-width: 200px">
                        <span style="font-size: 20px">{{vars.entrepriseCourant.nom}}</span>
                    </a>

                    <div class="header-right">
                        <div class="header-divider">&nbsp;</div>

                        <div class="header-divider" style="padding: 0px;">
                            <a href="{{path('cielo_admin_dashboardpage')}}"><img src="{{asset('bundles/cieloadmin/admin/img/cieloLogo.png')}}" style="width: 200px; height: 50px; margin-top: 7px;"/></a>
                        </div>
                        
                        <div class="search-panel header-divider">
                            <div class="">
                                <form action="{{path('cielo_admin_recherche')}}" method="post" style="">
                                    <input style="width: 150px" type="text" name="searchContent" placeholder="Recherche...">
                                    <select style="width: 150px" name="searchType">
                                        <option value="produit">Produit</option>
                                        <option value="domaineActivite">Domaine d'activité</option>
                                        <option value="famille">Famille</option>
                                        <option value="entreprise">Entreprise</option>
                                        <option value="client">Client</option>
                                        <option value="evenement">Evènement</option>
                                        <option value="commande">Commande</option>
                                    </select>
                                    <input type="submit" value="Valider"/>
                                </form>
                            </div>
                        </div>

                        <div class="user-panel header-divider">
                                <div class="user-info">
                                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/user.png')}}" alt="">
                                    {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                                        <a href="#">{{ app.user.username }}</a>
                                    {%endif%}
                                </div>

                                <div class="user-dropbox">
                                    <ul>
                                        <li class="theme-changer dark-theme"><a href="javascript:void(0)" class="dark" rel="{{asset('bundles/cieloadmin/admin/css/themes/utopia-dark.css?v18')}}" >Dark theme</a></li>
                                        <li class="theme-changer white-theme"><a href="javascript:void(0)" class="white" rel="{{asset('bundles/cieloadmin/admin/css/utopia-white.css?v19')}}" >White theme</a></li>
                                        <li class="theme-changer siteclient"><a href="{{path('cielo_user_homepage')}}" class="white" rel="{{asset('bundles/cieloadmin/admin/css/utopia-white.css?v19')}}" >Accéder au Site client</a></li>
                                        <li class="logout"><a href="{{path('cielo_admin_entreprise_logout')}}">Déconnexion</a></li>
                                    </ul>
                                </div>

                         </div><!-- User panel end -->

                    </div><!-- End header right -->

                </div><!-- End header wrapper -->

            </div><!-- End header -->

        </div>

    </div>
    {%endblock enteteEntreprise%}

    <!-- Header ends -->

    <div class="row-fluid">

        <!-- Sidebar statrt -->
        <div class="span2 sidebar-container">

            <div class="sidebar">

                <div class="navbar sidebar-toggle">
                    <div class="container">

                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                    </div>
                </div>
                {%block menuEntreprise%}
                <div class="nav-collapse collapse leftmenu collapse" style="height: 0px;">

                    <ul>
                        <li class="current"><a class="dashboard smronju" href="dashboard.html" title="Tableau de bord"><span>Tableau de bord</span></a></li>
                        <li><a class="categoriebri" href="{{path('cielo_admin_entreprise_categories')}}" title="Catégories"><span>Catégories</span></a> </li>
                        <li><a class="produitbri" href="{{path('cielo_admin_enterprise_produit')}}" title="Produits"><span>Produits</span></a></li>
                        <li><a class="promotionbri" href="{{path('cielo_admin_enterprise_promotion')}}" title="Promotions"><span>Promotions</span></a></li>
                        <li><a class="jeubri" href="{{path('cielo_enterprise_campagne_list')}}" title="Campagne"><span>Campagne</span></a></li>
                        <li><a class="adminbri" href="" title="Administration"><span>Administration</span></a></li>
                    </ul>

                </div>
                {%endblock menuEntreprise%}

            </div>
        </div>

        <!-- Sidebar end -->
        {% block bodyFils1 %}

        {% endblock bodyFils1 %}
    </div>

    <!-- Maincontent end -->

</div> <!-- end of container -->

{% endblock body %}