{%extends "CIELOEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Enterprise | Créer Promotion {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_enterprise_homepage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{path('cielo_enterprise_promotion')}}">Promotion</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Créer une nouvelle promotion</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <section id="formElement" class="utopia-widget utopia-form-box section">
            <div class="utopia-widget-title">
                <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                <span>Erreur</span>
            </div>
            <div class="row-fluid">
                <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="alert alert-error">
                                <a class="close" data-dismiss="alert" href="#">×</a>
                                <strong>Ce produit a été déjà ajouter à cette promotion</strong>.
                            </div>

                        </div>
                    </div>
                    <div class="row-fluid">
                        <a class="btn" href="{{path('cielo_enterprise_ajouter_un_produit_promotion')}}" title="Ajouter un nouveau produit">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                            Ajouter un produit
                        </a>
                    </div>

                    <br/>
                </div>
            </div>
    </div>
</div>
{% endblock bodyFils1%}