<form method="post"  {{ form_enctype(form) }} class="form-horizontal" data-prototype="{{form_widget(form.proprietes.vars.prototype)|e}}">
    <div class="row-fluid">
        <div class="span6">
            {{form_label(form.nom)}}
            {{form_widget(form.nom)}}
            {{form_label(form.icon)}}
            {{form_widget(form.icon)}}
            {{form_label(form.code)}}
            {{form_widget(form.code)}}
            {{form_label(form.description)}}
            {{form_widget(form.description)}}
        </div>
        <div class="span6">
            {{form_label(form.proprietes, " ")}}
                
                <a href="#" id="button-add" class="btn">Ajouter proprietes</a>
            <div id="propriete-container">
            {{form_widget(form.proprietes)}}
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    <input type="submit" class="btn" style="margin-top: 10px;"/>
    <script type="text/javascript">
       $("#button-add").click(function(e){
           e.preventDefault();
           addProprieteToForm();
           $(".propriete_input_entity").parent().hide();
           $(".propriete_input_choice").parent().hide();
           
       });
       $('#propriete-container').on('change', '.propriete_select_choice', function(e){
           var value = this.options[this.selectedIndex].value;
           $(this).parents('[id*=cielo_admin_jeux_form_proprietes]').find(".propriete_input_entity").parent().hide();
            $(this).parents('[id*=cielo_admin_jeux_form_proprietes]').find(".propriete_input_choice").parent().hide();
            if(value == "choice"){
               $(this).parents('[id*=cielo_admin_jeux_form_proprietes]').find(".propriete_input_choice").parent().show();
           }else if(value == "entity"){
               $(this).parents('[id*=cielo_admin_jeux_form_proprietes]').find(".propriete_input_entity").parent().show();
           }
       })
        function addProprieteToForm(){
            var proprieteContainer = $("#propriete-container");
            var prototype = $(".form-horizontal").attr("data-prototype");
            var newProprieteForm = prototype.replace(/__name__/g, proprieteContainer.children().length);
            
            proprieteContainer.append(newProprieteForm);
        }
    </script>
</form>