{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Jeux {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Jeu</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="row-fluid" style="margin-bottom: 20px; ">
                    <div style="float: right">
                        <a class="btn" href="{{path('cielo_admin_editer_jeux')}}" title="Ajouter un nouveau jeu">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                         Ajouter Un Jeu
                        </a>
                    </div>
                </div>
                
            <div class="row-fluid">
                <div class="span12">
                    <section class="utopia-widget">
                        <div class="utopia-widget-title">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                            <span>Tous les jeu</span>
                        </div>

                        <div class="utopia-widget-content">

                            <table class="table datatable table-striped table-bordered">

                                <colgroup>
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                </colgroup>


                                <thead>
                                <tr>
                                    <th>Icone</th>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                    {% for j in jeux%}
                                 <tr>
                                     <td>
                                         {%if j.icon%}
                                            <img 
                                                src="{{ asset(j.icon.webPath) }}"
                                                alt="{{ j.icon.nom }}"
                                                title="{{ j.icon.description }}" 
                                                style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                            />
                                            {%else%}
                                            <img 
                                                    src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                    style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                                />
                                         {%endif%}
                                     </td>
                                     <td>
                                         {{j.nom}}
                                     </td>
                                     <td>
                                         {{j.description}}
                                     </td>
                                     <td>
                                        <a href="{{path("cielo_admin_list_propriete_jeu", {id : j.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/audio_knob.png')}}" title="Modifier"></a>
                                        <a href="{{path("cielo_admin_editer_jeux", {id : j.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                        <a href="{{path("cielo_admin_supprimer_jeux", {id : j.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                     </td>
                                 </tr>
                                 {%endfor%}
                              </tbody>

                                <tfoot>
                                <tr>
                                    <th>Icone</th>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="row-fluid">
                                <div class="span6">
                                    
                                </div>

                                <div class="span6">
                                    <span style="float: right; color: #999; font-size: 0.6rem">selon la base de données</span>
                                    <div class="pagination pagination-right">
                                        <ul>
                                            <li class="prev {%if page==1%}disabled{%endif%}"><a href="{{path('cielo_admin_list_jeux', {'page': 1})}}">←</a></li>
                                            {%for i in 1..nbrTotalPages%}
                                            <li class="{%if i==page%}active{%endif%}"><a href="{{path('cielo_admin_list_jeux', {'page': i})}}">{{i}}</a></li>
                                            {%endfor%}
                                            <li class="next {%if page==nbrTotalPages%}disabled{%endif%}"><a href="{{path('cielo_admin_list_jeux', {'page': nbrTotalPages})}}">→ </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyFils1%}