{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Jeux {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Jeu</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="row-fluid" style="margin-bottom: 20px; ">
                    <div style="float: right">
                        <a class="btn" href="{{path('cielo_admin_editer_jeux', {id: jeu.id})}}" title="Revenir au Jeu">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                         Revenir au Jeu
                        </a>
                    </div>
                </div>
                
            <div class="row-fluid">
                <div class="span12">
                    <section class="utopia-widget">
                        <div class="utopia-widget-title">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                            <span>Liste des proprietes du jeu {{jeu.nom}}</span>
                        </div>

                        <div class="utopia-widget-content">

                            <table class="table datatable table-striped table-bordered">

                                <colgroup>
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                </colgroup>


                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Alias</th>
                                    <th>Type</th>
                                    <th>Entité</th>
                                    <th>Choix</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                    {% for p in jeu.proprietes%}
                                 <tr>
                                     <td>
                                         {{p.nom}}
                                     </td>
                                     <td>
                                         {{p.alias}}
                                     </td>
                                     <td>
                                         {{p.type}}
                                     </td>
                                     <td>
                                         {{p.entity}}
                                     </td>
                                     <td>
                                         {{p.choix}}
                                     </td>
                                     <td>
                                         {{p.description|slice(0, 100)}}
                                     </td>
                                     <td>
                                        <a href="{{path("cielo_admin_supprimer_propriete_jeu", {id : p.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                     </td>
                                 </tr>
                                 {%endfor%}
                              </tbody>

                                <tfoot>
                                <tr>
                                    <th>Nom</th>
                                    <th>Alias</th>
                                    <th>Type</th>
                                    <th>Entité</th>
                                    <th>Choix</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyFils1%}