{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Accueil {% endblock title %}

{% block body %}
<div class="small-12 columns margebri">
    <ul data-orbit data-options="resume_on_mouseout: true;  timer_speed:10000">
        {%for c in carousel%}
        <li>
            <img src="{{image(c.document.webPath).resize(1000, 300, 'ffffff')}}" alt="{{c.textAlternatif}}"  class="carrousellbri" />
            <div class="orbit-caption">
                {{c.description}}
            </div>
        </li>
        {%endfor%}
    </ul>
</div>   
   
{%if produitsPlusAchetes!=null%}
<div class="small-12 columns margebri">
    <h6 style="color: black"> Les Produits les plus achetés </h6>
    <hr style="margin-top: 3px;" />
    

    <div class="row">
        {%for pa in produitsPlusAchetes%}
            <div class="small-12 medium-4 large-3 columns" style="float: left">
                <div class="small-12 produitbri columns">
                    <div class="nomproduitbri" style="height: 35px"><strong> <a title="Voir les détails sur ce produits" style="font-size: 14px; color: black" href="{{path("cielo_user_detail_produit", {'id': pa.id})}}">{%if pa.nom|length>25%}{{pa.nom|slice(0,25)}}...{%else%}{{pa.nom}}{%endif%} </a> </strong> </div>
                    <div class="nomentreprisebri" style="height: 20px"><a title="Explorer cette entreprise" href="{{path('cielo_user_entreprise', {'id': pa.categorie.entreprise.id})}}" style="font-size: 14px; color: #5d6067">{%if pa.categorie.entreprise.nom|length>13%}{{pa.categorie.entreprise.nom|slice(0,13)}}...{%else%}{{pa.categorie.entreprise.nom}}{%endif%}</a></div>
                    <a href="{{path("cielo_user_detail_produit", {'id': pa.id})}}">
                        <div class="divimageproduitbri"> 
                    {%if pa.modeles[0].documents|length>0%}
                                {%if pa.modeles[0].documents[0].lien!=null%}
                                <img src="{{image((pa.modeles[0].documents[0]).webPath).resize(146,140, 'ffffff')}}" alt="produit" class="tailleimagebri" />

                        {%else%}
                                <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="tailleimagebri" />
                     {%endif%}
                    {%endif%}
                            </div>
                            <div class="" style="font-size: 0.7rem; text-justify: auto; color: #5d6067; text-align: left; height: 20px;"  >
                    {%if pa.description|length<=45%}
                        {{pa.description}}
                    {%else%}
                        {{pa.description|slice(0,45)}}...
                        {%endif%}
                                </div>
                            </a>
                            <div class="priproduitbribarre" style="font-size: 12px; height: 15px"><strong> {%if pa.modeles[0].prix != pa.modeles[0].prixPromo%}{{pa.modeles[0].prix}} FCFA{%endif%}</strong> </div>
                            <div class="priproduitbri" style="margin-top: 5px"><strong>  {{pa.modeles[0].prixPromo}} FCFA</strong> </div>
                            <div class="boutoncommanderbri"> 
                                {%if pa.commandable==true%}
                                <a href="#" data-reveal-id="produit{{pa.id}}" class="small button alert closebri" style="color: #FFFFFF;" id="{{pa.id}}">Ajouter 
                                    <img src="{{asset('bundles/cielouser/images/panierbri.png')}}" alt="panier"/>
                                </a>
                                {%else%}
                                <a href="#" data-reveal-id="produit{{pa.id}}" class="small button alert closebri" style="color: #FFFFFF; font-size: 12px" id="{{pa.id}}">Prendre RDV 
                                    <img src="{{asset('bundles/cielouser/images/rdv.png')}}" alt="panier"/>
                                </a>
                                {%endif%}
                            </div>
                        </div>
                    </div>

                    <div id="produit{{pa.id}}" class="reveal-modal tiny"  data-reveal >
                        <div style="text-align: center; margin-bottom: 5px"><strong style="color: black; font-size: 14px" id="nomProduit_{{pa.id}}"> {{pa.nom}} </strong></div>
                        <div style="text-align: center; margin-bottom: 10px; font-size: 10px;">Vendu par : <a href="{{path('cielo_user_entreprise', {'id': pa.categorie.entreprise.id})}}" style="color:  #ea7d10; font-size: 12px;">{{pa.categorie.entreprise.nom}}</a> </div>
                        <div style="margin-top: 10px; font-size: 12px">{{pa.description}}</div>
                        <div style="margin-top: 5px; margin-bottom: 5px; font-size: 12px; text-align: center">Ce produit dispose de {{pa.modeles|length}} modèle(s)</div>
                        <ul data-orbit class="" style="min-height : 250px; max-height: 250px" id="oscar-carousel-{{pa.id}}">
                                {%if pa.modeles|length>0%}
                                    {%for k, m in pa.modeles%}
                                <li id="modele_{{m.id}}">
                                    <img src="{{image(m.documents[0].webPath).resize(343,250,'ffffff')}}" alt="produit" class="carrousellbri2" />
                                    <div class="orbit-caption">
                                        <div class="small-6 medium-6 columns">
                                            Modèle {{k + 1}}: <br/>
                                            <strong style="font-size: 16px" id="prixUnitaire_{{m.id}}">{{m.prixPromo}} F CFA</strong> </span>
                                        </div>
                                            <div class="small-6 medium-6 columns">
                                                <span style="font-size: 11px;">
                                        {%if m.proprieteProduits|length>0%}
                                            {%if m.proprieteProduits|length>3%}
                                                {%for p in m.proprieteProduits|slice(0, 3)%}
                                                    <div>{{p.nom}}: {{p.valeur}}</div>
                                                {%endfor%}
                                                    <div>...</div>
                                            {%else%}
                                                {%for p in m.proprieteProduits%}
                                                    {{p.nom}}: {{p.valeur}}<br/>
                                                {%endfor%}  
                                            {%endif%}
                                        {%endif%}
                                            </span>
                                            </div>
                                            {%if m.produit.commandable==true%}
                                            <div class="row">
                                                <div class="small-6 medium-6 columns" style="font-size: 11px">
                                                Quantité: 
                                            </div>
                                                    <div class="small-6 medium-6 columns" style="height: 20px">
                                                        <input id="quantiteProduit_{{m.id}}" min="1" type="number" name="quantite" value="1" style="height : 20px; padding:4px 4px 4px 0px; font-size: 10px; width: 60px"/>
                                            </div>
                                            </div>
                                            {%endif%}
                                    </div>
                                </li>
                                    {%endfor%}
                                {%else%}
                                <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="carrousellbri2" />
                                {%endif%}

                            </ul>
                        
                        <div class="row">
                            <div class="boutoncommanderbri2 small-6 medium-6 large-6 columns"> 
                                {%if pa.commandable==true%}
                                <a href="#" class="small button alert closebri" style="color: #FFFFFF;" id="{{pa.id}}" onclick="AjouterAuPanier(this.id)">Ajouter 
                                    <img src="{{asset('bundles/cielouser/images/panierbri.png')}}" alt="panier"/>
                                </a>
                                {%else%}
                                <a href="#" class="small button alert closebri" style="color: #FFFFFF; font-size: 12px" id="{{pa.id}}" onclick="prendreRDV(this.id, {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}{{app.user.id}}{%else%}null{%endif%}, '{{path('cielo_service_rdv')}}')">Prendre RDV 
                                    <img src="{{asset('bundles/cielouser/images/rdv.png')}}" alt="panier"/>
                                </a>
                                {%endif%}
                            </div>
                            <div class="boutoncommanderbri2 small-5 medium-5 large-5 columns"> 
                                <a href="{{path("cielo_user_detail_produit", {'id': pa.id})}}" class="small button closebri" style="color: #FFFFFF;" onclick="/*AjouterAuPanier(this.id)*/">Détails 
                                    <img src="{{asset('bundles/cielouser/images/detailsbri.png')}}" alt="panier"/>
                                </a>
                            </div>
                            </div>

                            <a class="close-reveal-modal fermebri">&#215;</a>
                        </div>
            {%endfor%}
                    </div>
    <a href="{{path('cielo_user_produit_plus_acheter', {'page': 1})}}" class="button tiny">Voir plus...</a>
                </div>
{%endif%}

{% endblock body %}
{%block javascript%}
{{ parent() }}
<script>
        $("#after-carousel").on("before-slide-change.fndtn.orbit", function(event) {
            console.info("before slide change");
        });
        $(".orbit-next").click(function(){
            console.log("next");
        });
</script>
{%endblock javascript%}

