{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Accueil {% endblock title %}

{% block body %}
<h6> Détails de l'évènement</h6>
<hr style="margin-top: 3px;" />
<div  style="margin-bottom: 5px"><strong> {{evenement.nom}} </strong> </div>
    {%if evenement.dateDebut==evenement.dateFin%}
<div style="margin-bottom: 5px">{{evenement.dateDebut|date('d/m/Y')}}</div>
    {%else%}
<div style="margin-bottom: 5px">du {{evenement.dateDebut|date('d/m/Y')}} au {{evenement.dateFin|date('d/m/Y')}}</div>
    {%endif%}
<div style="margin-bottom: 5px">Participation: {%if evenement.prixParticipation!=null%}{{evenement.prixParticipation}} F CFA{%else%} Gratuite {%endif%}</div>
<div style="margin-bottom: 10px"> {{evenement.description}}</div>
    {%if evenement.documents|length>0%}
<div class="row">

    <div class="small-12 medium-12 large-12 columns" style="float: left">
        <div class="small-12 produitbri columns">
            <div class="divimageevenementbri" style="margin-bottom : 0;"> 
                <img src="{{image(evenement.documents[0].webPath).resize(708,360,'ffffff')}}" alt="produit" class="tailleevenementbri grandbrimodeleProduit{{evenement.id}}" style=""/>
            </div>
            <div class="row" style="background-color: white; width : 100%; margin-left : 0; padding-top : 10px">
                    {%for d in evenement.documents%}
                    <div class="small-2 medium-2 large-2 columns imageminiature" style="float: left; margin-right: 5px; background-color: white; height: 53px;">
                        <img src="{{image(d.webPath).resize(708,360,'ffffff')}}" alt="produit" class="miniaturebri" id="modeleProduit{{evenement.id}}" style="max-height: 53px; max-width: 53px;"/>
                    </div>  
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="small-4 columns boutoncommanderbri"> 
            <a href="javascript:void(0)" class="small button alert btn-participer-evenement" style="color: #FFFFFF;" id="{{evenement.id}}">Participer 
                <img src="{{asset('bundles/cielouser/images/evenement.png')}}" alt="evenement" />
            </a>
        </div>
    </div>
    {%endif%}
{% endblock body %}
{%block javascript%}
{{ parent() }}
<script>
            $('.btn-participer-evenement').click(function(e) {
                var user = "{{app.user}}";
                if(user!==""){
                    participerEvenement("{%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}{{app.user.id}}{%endif%}", this.id);
                }else{
                    alert("vous devez etre connecté");
            }});
            function participerEvenement(id_user, id_evenement) {
                $.ajax({
                    url: "{{path('cielo_service_participer_evenement')}}",
                    data: {id_user: id_user, id_evenement: id_evenement},
                    type: "POST",
                    success: function(response) {
                        alert(response);
                    },
                    error: function() {
                        alert("echec participer evenement");
                    }
                });
            }
            </script>
<script>
                    $(document).foundation();
                    </script>
{%endblock javascript%}

