{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }} Ecommerce | Détail Produit{% endblock title %}

{% block body %} 

<div class="small-12 columns margebri">
    <h6 style="color: black"> Détails du produit </h6>
    <hr style="margin-top: 3px;" />
    {%if produit!=null%}
    {%set currentProductId=produit.id%}
    {%set currentFamilleId=produit.categorie.famille.id%}
    <div class="row">
        <div class="small-12 medium-4 large-4 columns">
            <div class="small-12 produitbri columns">
                <div class="divimageproduitbri demo"> 
                    {%if produit.modeles[0].documents|length>0%}
                                {%if produit.modeles[0].documents[0].lien!=null%}
                                <img src="{{image((produit.modeles[0].documents[0]).webPath)}}" alt="produit" class="tailleimagebri demo-2" />
                               
                        {%else%}
                                <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="tailleimagebri" />
                     {%endif%}
                    {%endif%}
                </div>

            </div>
        </div>

        <div class="small-12 medium-8 large-8 columns" style=" font-size: 0.96rem;">
            <div  style="margin-bottom: 5px"><strong id="nomProduit_{{produit.id}}"> {{produit.nom}} </strong> </div>
            <div style="margin-bottom: 5px"><a href="{{path("cielo_user_entreprise", {'id': produit.categorie.entreprise.id})}}">{{produit.categorie.entreprise.nom}}</a> </div>
            <div style="margin-bottom: 10px"> {{produit.description}} </div>
            {%if produit.numProduit!=null%}
            {{produit.numProduit}}
            {%endif%}
            <div class="row-fluid">
                {%if produit.dateFabrication!=null%}
                <br/>
                <strong>Date de fabrication: </strong>{{produit.dateFabrication|date('d/m/Y')}}
                {%endif%}
                {%if produit.dateExpiration!=null%}
                <br/>
                <strong>Date d'expiration: </strong>{{produit.dateExpiration|date('d/m/Y')}}
                {%endif%}
                <br/>
            </div>
            <div class="starbri1"></div>
        </div>

    </div>
    {%endif%}

    <h6 style="color: black"> Les différents modèles de ce produit </h6>
    <hr style="margin-top: 3px;" />
    <div class="row">
        {%for m in produit.modeles%}
        <div class="small-12 medium-6 large-6 columns" style="float: left">
            <div class="small-12 produitbri columns" id="oscar-carousel-{{produit.id}}">
                <div class="divimageproduitbri active" style="margin-bottom : 0" id="modele_{{m.id}}"> 
                    <img src="{{asset(m.documents[0].webPath)}}" alt="produit" class="tailleimagebri grandbrimodeleProduit{{m.id}}" />
                </div>
                <div class="row" style="width : 100%; margin-left : 0; margin-top: 5px;">
                    {%for d in m.documents%}
                    <div class="small-3 medium-3 large-3 columns imageminiature" style="float: left; margin-right: 5px; background-color: white; height: 53px;">
                        <img src="{{asset(d.webPath)}}" alt="produit" class="miniaturebri" id="modeleProduit{{m.id}}" style="max-height: 53px; max-width: 53px;"/>
                    </div>
                    {%endfor%}
                </div>
                <div class="small-6 medium-6 large-6 columns " style="padding-top: 10px; color: black; font-size: 12px;">
                    {%if m.proprieteProduits|length>0%}
                        {%for p in m.proprieteProduits%}
                        {{p.nom}} : {{p.valeur}}<br/>
                        {%endfor%}
                    {%endif%}
                </div>
                <div class="small-6 medium-6 large-6 columns " style="padding-top: 10px; color: green; text-align: center">
                    <strong id="prixUnitaire_{{m.id}}"> {{m.prixPromo}} FCFA</strong>
                </div>
                {%if m.produit.commandable==true%}
                <div class="small-6 medium-6 large-6 columns " style="padding-top: 10px;">
                    <input type="number" name="quantite" value="1" style="height : 30px;  width : 100%; margin-bottom: 0px;" id="quantiteProduit_{{m.id}}">
                </div>
                {%endif%}
                <div class="small-12 medium-12 large-12 columns" style=""> 
                    <div class="" style="margin-bottom: 5px; margin-top: 5px"> 
                        {%if m.produit.commandable==true%}
                        <a href="#" class="small button alert" style="color: #FFFFFF;" id="{{m.id}}" onclick="AjouterAuPanierDetailProduit('{{produit.id}}', this.id)">Ajouter 
                            <img src="{{asset('bundles/cielouser/images/panierbri.png')}}" alt="panier" />
                        </a>
                        {%else%}
                            <a href="#" class="small button alert " style="color: #FFFFFF; font-size: 12px" id="{{m.id}}" onclick="prendreRDV('{{produit.id}}', {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}{{app.user.id}}{%else%}null{%endif%}, '{{path('cielo_service_rdv')}}')">Prendre RDV 
                                    <img src="{{asset('bundles/cielouser/images/rdv.png')}}" alt="panier"/>
                                </a>
                        {%endif%}
                    </div> 
                </div>
            </div>

        </div>
            {%endfor%}
       
    </div>
    
    <br/><br/>
    {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
    <h6 style="color: black"> Noter ce produit</h6>
    <hr style="margin-top: 3px;" />
        
        <div class="starbri2"></div><br/>
    
    <h6 style="color: black"> Commentaires </h6>
    <hr style="margin-top: 3px;" />
        <form method="post" {{ form_enctype(form) }}>
            <div class="row">
                <div class="small-12 medium-3 large-3 columns">
                    <label for="right-label" class="right">
                        {{ form_label(form.contenu, "Votre commentaire") }}
                            <span style="color: red">{{ form_errors(form.contenu) }}</span>
                            
                    </label>
                </div>
                <div class="small-12 medium-6 large-6 columns">
                    {{ form_widget(form.contenu) }}
                </div>
                <div class="small-12 medium-3 large-3 columns">
                    {{ form_widget(form) }}
                    <input type="submit" class="button tiny secondary"/>
                </div>
                </div>
            </form>
            {%else%}
            <a href="{{path('cielo_client_login')}}">Connectez-vous pour commenter et noter ce produit</a><br/><br/>
            {%endif%}
    
    <hr style="margin-top: 3px;" />
    {%if commentaires|length>0%}
    {%for com in commentaires%}
    <div class="" style="font-size: 12px; line-height: 15px; margin-top: 2px;">
        <div class="small-12 columns" style="background: #eee; padding: 5px">
            <div class="" style="background: #ccc">
                <div class="small-4 medium-2 large-2 columns" style="font-weight: bold">
                    {{com.user.username}}
                </div>
                <div class="small-8 medium-10 large-10 columns">
                    {{com.contenu}}<br/>
                    le <span style="color: #ea7d10">{{com.date|date('d/m/Y')}}</span>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top: 3px; margin-bottom: 0px; border-color: #eee" />
    {%endfor%}
    {%else%}
    <span style="color: #999; font-size: 12px;">Aucun commentaire pour l'instant. Soyez le premier à commenter ce produit</span> <br/>
    {%endif%}
    <br/>
    <h6 style="color: black"> Autres produits de la même catégorie </h6>
    <hr style="margin-top: 3px;" />
    {%set compteur=0%}
    <div class="row">
        {%for cat in produit.categorie.famille.categories%}
            {%for p in cat.produits%}
            {%if p.id!= currentProductId%}
            {%if compteur < 9%}
        <div class="small-12 medium-4 large-3 columns" style="float: left">
            <div class="small-12 produitbri columns">
                <div class="nomproduitbri" style="height: 35px"><strong> <a style="color: black; font-size: 14px" href="{{path("cielo_user_detail_produit", {'id': p.id})}}">{%if p.nom|length>25%}{{p.nom|slice(0,25)}}...{%else%}{{p.nom}}{%endif%} </a> </strong> </div>
                <div class="nomentreprisebri"><a href="{{path('cielo_user_entreprise', {'id': p.categorie.entreprise.id})}}" style="color:  #5d6067; font-size: 14px;">{{p.categorie.entreprise.nom}}</a></div>
                <a href="{{path("cielo_user_detail_produit", {'id': p.id})}}">
                <div class="divimageproduitbri"> 
                    {%if p.modeles[0].documents|length>0%}
                                {%if p.modeles[0].documents[0].lien!=null%}
                                <img src="{{image((p.modeles[0].documents[0]).webPath).resize(146, 140, 'ffffff')}}" alt="produit" class="tailleimagebri" />
                               
                        {%else%}
                                <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="tailleimagebri" />
                     {%endif%}
{%endif%}
                </div>
                <div class="" style="font-size: 0.7rem; text-justify: auto; color: #5d6067; text-align: left; height: 20px;"  >
                    {%if p.description|length<=45%}
                        {{p.description}}
                    {%else%}
                        {{p.description|slice(0,45)}}...
                        {%endif%}
                                </div></a>
                <div class="priproduitbri"><strong> {{p.modeles[0].prix}} FCFA</strong> </div>
                <div class="boutoncommanderbri2 small-12 medium-12 large-12 columns"> 
                    {%if p.commandable==true%}
                    <a href="#" data-reveal-id="produit{{p.id}}" class="small button alert closebri" style="color: #FFFFFF;" id="{{p.id}}">Ajouter
                        <img src="{{asset('bundles/cielouser/images/panierbri.png')}}" alt="panier"/>
                    </a>
                    {%else%}   
                        <a href="#" data-reveal-id="produit{{p.id}}" class="small button alert closebri" style="color: #FFFFFF; font-size: 12px" id="{{p.id}}">Prendre RDV 
                            <img src="{{asset('bundles/cielouser/images/rdv.png')}}" alt="panier"/>
                        </a>
                    {%endif%}
                </div>
            </div>
        </div>
            <div id="produit{{p.id}}" class="reveal-modal tiny"  data-reveal >
                        <div style="text-align: center; margin-bottom: 5px"><strong style="color: black; font-size: 14px" id="nomProduit_{{p.id}}"> {{p.nom}} </strong></div>
                        <div style="text-align: center; margin-bottom: 10px; font-size: 10px;">Vendu par : <a href="{{path('cielo_user_entreprise', {'id': p.categorie.entreprise.id})}}" style="color:  #ea7d10; font-size: 12px;">{{p.categorie.entreprise.nom}}</a> </div>
                        <div style="margin-top: 10px; font-size: 12px">{{p.description}}</div>
                        <div style="margin-top: 5px; margin-bottom: 5px; font-size: 12px; text-align: center">Ce produit dispose de {{p.modeles|length}} modèle(s)</div>
                        <ul data-orbit class="" style="min-height : 250px; max-height: 250px" id="oscar-carousel-{{p.id}}">
                                {%if p.modeles|length>0%}
                                    {%for k, m in p.modeles%}
                                <li id="modele_{{m.id}}">
                                    <img src="{{image(m.documents[0].webPath).resize(343,250,'ffffff')}}" alt="produit" class="carrousellbri2" />
                                    <div class="orbit-caption">
                                        <div class="small-6 medium-6 columns">
                                            Modèle {{k + 1}}: <br/>
                                            <strong style="font-size: 16px" id="prixUnitaire_{{m.id}}">{{m.prixPromo}} F CFA</strong> </span>
                                        </div>
                                            <div class="small-6 medium-6 columns">
                                                <span style="font-size: 11px;">
                                        {%if m.proprieteProduits|length>0%}
                                            {%if m.proprieteProduits|length>3%}
                                                {%for pp in m.proprieteProduits|slice(0, 3)%}
                                                    <div>{{pp.nom}}: {{pp.valeur}}</div>
                                                {%endfor%}
                                                    <div>...</div>
                                            {%else%}
                                                {%for pp in m.proprieteProduits%}
                                                    {{pp.nom}}: {{pp.valeur}}<br/>
                                                {%endfor%}  
                                            {%endif%}
                                        {%endif%}
                                            </span>
                                            </div>
                                            {%if m.produit.commandable==true%}
                                            <div class="row">
                                                <div class="small-6 medium-6 columns" style="font-size: 11px">
                                                Quantité: 
                                            </div>
                                                    <div class="small-6 medium-6 columns" style="height: 20px">
                                                        <input id="quantiteProduit_{{m.id}}" min="1" type="number" name="quantite" value="1" style="height : 20px; padding:4px 4px 4px 0px; font-size: 10px; width: 60px"/>
                                            </div>
                                            </div>
                                            {%endif%}
                                    </div>
                                </li>
                                    {%endfor%}
                                {%else%}
                                <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="carrousellbri2" />
                                {%endif%}

                            </ul>
                        
                        <div class="row">
                            <div class="boutoncommanderbri2 small-6 medium-6 large-6 columns"> 
                                {%if p.commandable==true%}
                                <a href="#" class="small button alert closebri" style="color: #FFFFFF;" id="{{p.id}}" onclick="AjouterAuPanier(this.id)">Ajouter 
                                    <img src="{{asset('bundles/cielouser/images/panierbri.png')}}" alt="panier"/>
                                </a>
                                {%else%}
                                <a href="#" class="small button alert closebri" style="color: #FFFFFF; font-size: 12px" id="{{p.id}}" onclick="prendreRDV(this.id, {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}{{app.user.id}}{%else%}null{%endif%}, '{{path('cielo_service_rdv')}}')">Prendre RDV 
                                    <img src="{{asset('bundles/cielouser/images/rdv.png')}}" alt="panier"/>
                                </a>
                                {%endif%}    
                            </div>
                            <div class="boutoncommanderbri2 small-5 medium-5 large-5 columns"> 
                                <a href="{{path("cielo_user_detail_produit", {'id': p.id})}}" class="small button closebri" style="color: #FFFFFF;">Détails 
                                    <img src="{{asset('bundles/cielouser/images/detailsbri.png')}}" alt="panier"/>
                                </a>
                            </div>
                            </div>

                            <a class="close-reveal-modal fermebri">&#215;</a>
                        </div>
            {%set compteur=compteur+1%}
            {%endif%}
            {%endif%}
            {%endfor%}
             {%endfor%}


    </div>
    <a href="{{path("cielo_user_produit_dune_famille", {'id': currentFamilleId})}}" class="tiny button success" style="float: right">Voir tous</a>
    
</div>
{% endblock body %}
{%block javascript%}
{{ parent() }}
<script>
                    
                   $(function() {


                       $('.starbri1').raty({
                           half: false,
                           path: '{{asset('bundles/cielouser/images')}}',
                           starHalf: 'star-half.png',
                           starOff: 'star-off.png',
                           starOn: 'star-on.png',
                           hints: ['très mauvais', 'mauvais', 'moyen', 'bon', 'excellent'],
                           score: '{{noteProduit}}',
                           /*click: function(score, evt) {
                               var nbreStar = score;
                               //alert(nbreStar);
                           }*/
                       });
                       $('.starbri2').raty({
                           half: false,
                           path: '{{asset('bundles/cielouser/images')}}',
                           starHalf: 'star-half.png',
                           starOff: 'star-off.png',
                           starOn: 'star-on.png',
                           hints: ['très mauvais', 'mauvais', 'moyen', 'bon', 'excellent'],
                           click: function(score, evt) {
                               noterProduit('{%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}{{app.user.id}}{%endif%}', '{{produit.id}}', score);
                           }
                       });
                       
                       function noterProduit(id_auteur, id_produit, note) {
                            $.ajax({
                                url: "{{path('cielo_service_noter_produit')}}",
                                data: {id_auteur: id_auteur, id_produit: id_produit, note: note},
                                type: "POST",
                                success: function(response) {
                                    alert("produit bien noter");
                                },
                                error: function() {
                                    alert("Echec note produit");
                                }
                            });
                      }


                   });
    </script>
{%endblock javascript%}

