{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Les domaines d'activités {% endblock title %}

{% block body %}
<div class="small-12 columns margebri">
    <h6> Domaines d'activité </h6>
    <hr style="margin-top: 3px;" />

    <div class="row">
        {%if domaineActivites|length>0%}
        {%for d in domaineActivites%}
        <div class="small-12 medium-3 large-3 columns"
             title="{{d.description}}"
             style="float: left"
             >
            <div class="small-12 produitbri columns">
                <div class="divimageproduitbri"> 
                    <a href="{{path('cielo_user_famille_dun_domaine', {'id': d.id})}}">
                    {%if d.document!=null%}
                        {% if d.document.lien!=null%}
                    <img 
                        src="{{ image(d.document.webPath).resize(146,140, 'ffffff') }}"
                        alt="{{ d.document.nom }}"
                        title="{{ d.document.description }}" 
                        class="tailleimagebri" 
                    />
                        {%else%}
                        <img 
                            src="{{asset('bundles/cielouser/images/deux.png')}}"
                        />
                        {%endif%}
                        
                    {%endif%}
                </a>
                </div>
                    <div class="nomproduitbri" style="margin-bottom: 5px; height: 35px; font-size: 1rem;"> 
                        <a href="{{path('cielo_user_famille_dun_domaine', {'id': d.id})}}">{%if d.nom|length>25%}{{d.nom|slice(0,25)}}...{%else%}{{d.nom}}{%endif%}</a> 
                    </div>
            </div>
        </div>
        {%endfor%}
        {%endif%}

    </div>
</div>

<br/><br/>
                    {%if domaineActivites|length>0%}
                        <ul class="pagination">
                            <li class="arrow {%if page==1%}unavailable{%endif%}"><a href="{{path('cielo_user_domaine_activite', {'page': 1})}}">&laquo;</a></li>
                            {%for i in 1..nbrTotalPages%}
                                <li class="{%if i==page%}current{%endif%}"><a href="{{path('cielo_user_domaine_activite', {'page': i})}}">{{i}}</a></li>
                            {%endfor%}
                            <li class="arrow {%if page==nbrTotalPages%}unavailable{%endif%}"><a href="{{path('cielo_user_domaine_activite', {'page': nbrTotalPages})}}">&raquo;</a></li>
                        </ul>
                     {%else%}
                        <p>Aucun domaine d'activité trouvé</p>
                     {%endif%}
{% endblock body %}

