Bonjour cher administrateur!
Vous recevez ici la  facture de {{client}} pour son achat du {{"now"|date('d/m/Y')}} sur CieloMarket.
{{contenuFacture}}
Le code de sa facture est le suivant: {{codeFacture}}
