Bonjour {{client}} !
Vous recevez ici la  facture de votre achat du {{"now"|date('d/m/Y')}} sur CieloMarket.
{{contenuFacture}}
Le code de votre facture est le suivant: {{codeFacture}}

Merci d'utiliser CieloMarket et de le conseiller à vos proches.
