{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Catalogue d'une entreprise {% endblock title %}

{% block body %}  

<div  class="row-fluid">
    <div class="small-12 columns margebri">
        {%if entreprise!=null%}
    <dl class="accordion margin7pxbri" data-accordion>
        <dd>
            <a href="#panel9">
                <!--<img src="{{asset('bundles/cielouser/images/About.png')}}" style="width: 24px; height: 24px;"/>-->
                Info entreprise
            </a>
            <div id="panel9"  class="content active" style="height:210px; background: white">
                <div class="small-12 columns" style="background-color: white; padding: 0px; margin-bottom: 10px; width: 100%">
                    <div class="small-12 medium-6 large-6 columns" style="padding: 0 10px 0 10px">

                        <div class="divimageproduitbri" style="height:190px; background: white" > 
                            {%if entreprise.document!=null%}
                                <img src="{{image(entreprise.document.webPath).resize(330,190,'ffffff')}}" alt="produit" class="tailleimagebri" />
                            {%else%}
                                    <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="tailleimagebri" />
                            {%endif%}
                        </div>


                    </div>

                    <div class="small-12 medium-6 large-6 columns" style="font-size: 0.96rem; padding : 6px; background: white">

                        <div style="padding-top: 10px; margin-bottom: 5px"><strong> {{entreprise.nom}} </strong> </div>
                    <div style="margin-bottom: 10px"> 
                        <span style="color: #5d6067; font-size: 13px;">{{entreprise.domaineActivite.nom}}</span> 
                    </div>
                    <div style="margin-bottom: 5px; text-align: left;" title="N° de téléphone"> 
                        {%if entreprise.tel1!=null%}
                            {{entreprise.tel1}}
                        {%endif%}
                        {%if entreprise.tel2!=null%}
                            / {{entreprise.tel2}}
                        {%endif%}
                    </div>
                    <div style="margin-bottom: 5px; text-align: left;" title="Email"> 
                        {%if entreprise.mail!=null%}
                            <a href="mailto:{{entreprise.mail}}">{{entreprise.mail}}</a>
                        {%endif%}
                    </div>
                    <div style="margin-bottom: 5px; text-align: left;" title="Site web">
                        {%if entreprise.siteweb!=null%}
                            <a href="http://{{entreprise.siteweb}}">{{entreprise.siteweb}}</a>
                        {%endif%}
                    </div>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
            {%endif%}
    <br/>
    <h6> Catalogue de l'entreprise </h6>
    <hr style="margin-top: 3px;" />
    {%if categories!=null%}
    {%for cat in categories%}
    <dl class="accordion margin7pxbri" data-accordion>
        <dd>
            <a href="categorieEntreprise{{cat.id}}">
                
           </a>
            <div id="categorieEntreprise{{cat.id}}"  class="content active" style="background: white">
                <div class="row">
                {%for p in cat.produits[:8]%}
        <div class="small-12 medium-4 large-3 columns" style="float: left">
            <div class="small-12 produitbri columns">
                <div class="nomproduitbri" style="height: 35px"><strong style="color: #258cc8"> <a title="Cliquer pour voir les détails sur ce produits" style="font-size: 14px; color: black" href="{{path("cielo_user_detail_produit", {'id': p.id})}}">{{p.nom}} </a></strong> </div>
                <div class="nomentreprisebri"><a title="Explorer cette entreprise" href="{{path('cielo_user_entreprise', {'id': p.categorie.entreprise.id})}}" style="color:  #5d6067; font-size: 14px;">{{p.categorie.entreprise.nom}}</a></div>
                <a href="{{path("cielo_user_detail_produit", {'id': p.id})}}">
                    <div class="divimageproduitbri"> 
                    {%if p.modeles[0].documents|length>0%}
                    <img src="{{image((p.modeles[0].documents[0]).webPath).resize(146,140, 'ffffff')}}" alt="produit" class="tailleimagebri" />
                    {%else%}
                    <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="tailleimagebri" />
                    {%endif%}
                        </div>
                 <div class="" style="font-size: 0.7rem; text-justify: auto; color: #5d6067; text-align: left; height: 20px;"  >
                    {%if p.description|length<=45%}
                        {{p.description}}
                    {%else%}
                        {{p.description|slice(0,45)}}...
                        {%endif%}
                                </div>
                    </a>
                <div class="priproduitbri" style="margin-top: 5px"><strong> {{p.modeles[0].prixPromo}} FCFA</strong> </div>
                <div class="boutoncommanderbri">
                    {%if p.commandable==true%}
                    <a href="#" data-reveal-id="produit{{p.id}}" class="small button alert" style="color: #FFFFFF;">Ajouter
                        <img src="{{asset('bundles/cielouser/images/panierbri.png')}}" alt="panier" />
                    </a>
                    {%else%}
                        <a href="#" data-reveal-id="produit{{p.id}}" class="small button alert closebri" style="color: #FFFFFF; font-size: 12px" id="{{p.id}}">Prendre RDV 
                                    <img src="{{asset('bundles/cielouser/images/rdv.png')}}" alt="panier"/>
                                </a>
                    {%endif%}
                </div>
                <div id="produit{{p.id}}" class="reveal-modal tiny"  data-reveal >
                        <div style="text-align: center; margin-bottom: 5px"><strong style="color: black; font-size: 14px" id="nomProduit_{{p.id}}"> {{p.nom}} </strong></div>
                        <div style="text-align: center; margin-bottom: 10px; font-size: 10px;">Vendu par : <a href="{{path('cielo_user_entreprise', {'id': p.categorie.entreprise.id})}}" style="color:  #ea7d10; font-size: 12px;">{{p.categorie.entreprise.nom}}</a> </div>
                        <div style="margin-top: 10px; font-size: 12px">{{p.description}}</div>
                        <div style="margin-top: 5px; margin-bottom: 5px; font-size: 12px; text-align: center">Ce produit dispose de {{p.modeles|length}} modèle(s)</div>
                        <ul data-orbit class="" style="min-height : 250px; max-height: 250px" id="oscar-carousel-{{p.id}}">
                                {%if p.modeles|length>0%}
                                    {%for k, m in p.modeles%}
                                <li id="modele_{{m.id}}">
                                    <img src="{{image(m.documents[0].webPath).resize(343,250,'ffffff')}}" alt="produit" class="carrousellbri2" />
                                    <div class="orbit-caption">
                                        <div class="small-6 medium-6 columns">
                                            Modèle {{k + 1}}: <br/>
                                            <strong style="font-size: 16px" id="prixUnitaire_{{m.id}}">{{m.prixPromo}} F CFA</strong> </span>
                                        </div>
                                            <div class="small-6 medium-6 columns">
                                                <span style="font-size: 11px;">
                                        {%if m.proprieteProduits|length>0%}
                                            {%if m.proprieteProduits|length>3%}
                                                {%for pp in m.proprieteProduits|slice(0, 3)%}
                                                    <div>{{pp.nom}}: {{pp.valeur}}</div>
                                                {%endfor%}
                                                    <div>...</div>
                                            {%else%}
                                                {%for pp in m.proprieteProduits%}
                                                    {{pp.nom}}: {{pp.valeur}}<br/>
                                                {%endfor%}  
                                            {%endif%}
                                        {%endif%}
                                            </span>
                                            </div>
                                            {%if m.produit.commandable==true%}
                                            <div class="row">
                                                <div class="small-6 medium-6 columns" style="font-size: 11px">
                                                Quantité: 
                                            </div>
                                                    <div class="small-6 medium-6 columns" style="height: 20px">
                                                        <input id="quantiteProduit_{{m.id}}" min="1" type="number" name="quantite" value="1" style="height : 20px; padding:4px 4px 4px 0px; font-size: 10px; width: 60px"/>
                                            </div>
                                            </div>
                                            {%endif%}
                                    </div>
                                </li>
                                    {%endfor%}
                                {%else%}
                                <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="carrousellbri2" />
                                {%endif%}

                            </ul>
                        
                        <div class="row">
                            <div class="boutoncommanderbri2 small-6 medium-6 large-6 columns"> 
                                {%if p.commandable==true%}
                                <a href="#" class="small button alert closebri" style="color: #FFFFFF;" id="{{p.id}}" onclick="AjouterAuPanier(this.id)">Ajouter 
                                    <img src="{{asset('bundles/cielouser/images/panierbri.png')}}" alt="panier"/>
                                </a>
                                {%else%}
                                <a href="#" class="small button alert closebri" style="color: #FFFFFF; font-size: 12px" id="{{p.id}}" onclick="prendreRDV(this.id, {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}{{app.user.id}}{%else%}null{%endif%}, '{{path('cielo_service_rdv')}}')">Prendre RDV 
                                    <img src="{{asset('bundles/cielouser/images/rdv.png')}}" alt="panier"/>
                                </a>
                                {%endif%}
                            </div>
                            <div class="boutoncommanderbri2 small-5 medium-5 large-5 columns"> 
                                <a href="{{path("cielo_user_detail_produit", {'id': p.id})}}" class="small button closebri" style="color: #FFFFFF;">Détails 
                                    <img src="{{asset('bundles/cielouser/images/detailsbri.png')}}" alt="panier"/>
                                </a>
                            </div>
                            </div>

                            <a class="close-reveal-modal fermebri">&#215;</a>
                        </div>
            </div>
        </div>
        {%endfor%}
            </div>
                        
                        
                    </div>
                    <div>
                  {%if cat.produits|length>8%}<a href="{{path('cielo_user_produit_dune_categorie')}}" class="button tiny">Voir plus...</a>{%endif%}<a href="{{path('cielo_user_produit_dune_categorie', {'id': cat.id})}}" class="button tiny">Voir plus...</a>
                        </div>
                        </div>
        </dd>
    </dl>
    {%endfor%}
    {%endif%}
</div>
{% endblock body %}

