{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Toutes les entreprises {% endblock title %}

{% block body %} 

<div class="small-12 columns margebri">
    {%if entreprisess|length>0%}
    <h6> les entreprises </h6>
    <hr style="margin-top: 3px;" />
    {%for e in entreprisess%}
    <div class="row-fluid">
        <div class="small-12  medium-6 large-6 columns" style="background-color: #FFFFFF; padding: 0 10px 0 0; float: left">
            <div class="small-12 columns" style="background-color: whitesmoke; padding: 0px; margin-bottom: 10px">
                <div class="small-12 medium-6 large-6 columns" style="padding: 0 10px 0 10px">
                    <div class="divimageproduitbri" style="height:160px" > 
                        {%if e.document!=null%}
                            <img src="{{image(e.document.webPath).resize(155,160, 'ffffff')}}" alt="produit" class="tailleimagebri" />
                        {%else%}
                            <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="tailleimagebri" />
                        {%endif%}
                    </div>
                </div>

                <div class="small-12 medium-6 large-6 columns" style="font-size: 0.96rem; padding : 6px; text-align: center">

                    <div style="padding-top: 10px; margin-bottom: 5px"><strong> {{e.nom}} </strong> </div>
                    <div style="margin-bottom: 10px"> 
                        <span style="color: #ff7f25; font-size: 13px;">{{e.domaineActivite.nom}}</span> 
                    </div>
                    <div style="margin-bottom: 5px; text-align: left; font-size: 13px;" title="N° de téléphone"> 
                        {%if e.tel1!=null%}
                            {{e.tel1}}
                        {%endif%}
                        {%if e.tel2!=null%}
                            / {{e.tel2}}
                        {%endif%}
                    </div>
                    <div style="margin-bottom: 5px; text-align: left; font-size: 13px;" title="Email"> 
                        {%if e.mail!=null%}
                            <a href="mailto:{{e.mail}}">{{e.mail}}</a>
                        {%endif%}
                    </div>
                    <div style="margin-bottom: 5px; text-align: left; font-size: 13px;" title="Site web">
                        {%if e.siteweb!=null%}
                            <a href="http://{{e.siteweb}}">{{e.siteweb}}</a>
                        {%endif%}
                    </div>
                    <div class="boutoncommanderbri2 small-12 columns" style="margin-bottom : 0"> 
                        <a href="{{path('cielo_user_entreprise', {'id': e.id})}}" class="small button alert" style="color: #FFFFFF;  padding: 0 0 0 4px"> Explorer entreprise 
                            <img src="{{asset('bundles/cielouser/images/explorebri.png')}}" alt="panier"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    {%endfor%}
    {%endif%}
</div>
<br/><br/>
{%if entreprisess|length>0%}
<ul class="pagination">
    <li class="arrow {%if page==1%}unavailable{%endif%}"><a href="{{path('cielo_user_entreprises', {'page': 1})}}">&laquo;</a></li>
    {%for i in 1..nbrTotalPages%}
        <li class="{%if i==page%}current{%endif%}"><a href="{{path('cielo_user_entreprises', {'page': i})}}">{{i}}</a></li>
    {%endfor%}
    <li class="arrow {%if page==nbrTotalPages%}unavailable{%endif%}"><a href="{{path('cielo_user_entreprises', {'page': nbrTotalPages})}}">&raquo;</a></li>
</ul>
{%else%}
<p>Aucune entreprise trouvée</p>
{%endif%}

</div>
{% endblock body %}

