{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Tous les évènements {% endblock title %}

{% block body %} 

<div class="small-12 columns margebri">
    {%if elementsRechercher|length>0%}
        <h6 style="color: black"> Environ ({{totalElements}}) évènements trouvés</h6>
    <hr style="margin-top: 3px;" />
    {%for e in elementsRechercher%}
    <div class="row-fluid">
        <div class="small-12  medium-6 large-6 columns" style="background-color: #FFFFFF; padding: 0 10px 0 0; float: left">
            <div class="small-12 columns" style="background-color: whitesmoke; padding: 0px; margin-bottom: 10px">
                <div class="small-12 medium-6 large-6 columns" style="padding: 0 10px 0 10px">
                    <div class="divimageproduitbri" style="height:160px" > 
                        {%if e.documents|length>0%}
                            <img src="{{image(e.documents[0].webPath).resize(155,160,'ffffff')}}" alt="produit" class="" />
                        {%else%}
                            <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="tailleimagebri" />
                        {%endif%}
                    </div>
                </div>

                <div class="small-12 medium-6 large-6 columns" style="font-size: 0.96rem; padding : 6px; text-align: center">

                    <div style="padding-top: 10px; margin-bottom: 5px"><strong> {{e.nom}} </strong> </div>
                    {%if e.dateDebut==e.dateFin%}
                    <div style="margin-bottom: 10px"> 
                        <span style="color: #ff7f25; font-size: 13px;">le {{e.dateDebut|date('d/m/Y')}}</span> 
                    </div>
                    {%else%}
                    <div style="margin-bottom: 10px"> 
                        <span style="color: #ff7f25; font-size: 13px;">du {{e.dateDebut|date('d/m/Y')}} au {{e.dateFin|date('d/m/Y')}}</span> 
                    </div>
                    {%endif%}
                    <div style="margin-bottom: 5px; text-align: left; font-size: 13px; text-align: center" title="Lieu"> 
                        à {{e.lieu}}
                    </div>
                    <div style="margin-bottom: 5px; text-align: left; font-size: 13px;" title="Participation"> 
                        Participation: 
                        {%if e.prixParticipation==null%}
                        <span style="color: green; font-weight: bold">Gratuite !!!</span>
                        {%else%}
                        <span style="color: green; font-weight: bold">{{e.prixParticipation}} F CFA</span>
                        {%endif%}
                    </div>
                    <div class="row">
                        <div class="boutoncommanderbri2 small-6 large-6 medium-12 columns" style=""> 
                            <button class="tiny button alert btn-participer-evenement" style="" id="{{e.id}}"> Participer 

                            </button>
                        </div>
                        <div class="boutoncommanderbri2 small-6 large-6 medium-12 columns" style=""> 
                            <a href="{{path('cielo_user_detail_evenement', {'id': e.id})}}" class="tiny button success" style=""> Détails 

                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>    
    </div>
    {%endfor%}
    {%endif%}
</div>
<br/><br/>
<ul class="pagination">
    <li class="arrow {%if page==1%}unavailable{%endif%}"><a href="{{path('cielo_ecommerce_evenements', {'page': 1})}}">&laquo;</a></li>
    {%for i in 1..nbrTotalPages%}
        <li class="{%if i==page%}current{%endif%}"><a href="{{path('cielo_ecommerce_evenements', {'page': i})}}">{{i}}</a></li>
    {%endfor%}
    <li class="arrow {%if page==nbrTotalPages%}unavailable{%endif%}"><a href="{{path('cielo_ecommerce_evenements', {'page': nbrTotalPages})}}">&raquo;</a></li>
</ul>
{% endblock body %}

{%block javascript%}
{{parent()}}
        <script>
            $('.btn-participer-evenement').click(function(e) {
                var user = "{{app.user}}";
                if(user!==""){
                    participerEvenement("{%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}{{app.user.id}}{%endif%}", this.id);
                }else{
                    console.log("vous devez etre connecté");
                    $("#connexion-link").trigger('click');
            }});
            function participerEvenement(id_user, id_evenement) {
                $.ajax({
                    url: "{{path('cielo_service_participer_evenement')}}",
                    data: {id_user: id_user, id_evenement: id_evenement},
                    type: "POST",
                    success: function(response) {
                        alert(response);
                    },
                    error: function() {
                        alert("echec participer evenement");
                    }
                });
            }
            </script>
{%endblock javascript%}

