{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Toutes les catégories {% endblock title %}

{% block body %}  

<div class="small-12 columns margebri">
    <h6> Familles de produit </h6>
    <hr style="margin-top: 3px;" />

    <div class="row">
        {%for f in familless%}
        <div class="small-12 medium-4 large-4 columns" style="float: left">
            <div class="small-12 produitbri columns">
                <div class="divimageproduitbri"> 
                    <img src="{{asset((f.document).webPath)}}" alt="produit" class="tailleimagebri" />
                </div>
                    <div class="nomproduitbri" style="margin-bottom: 5px"> <a href="{{path("cielo_user_produit_dune_famille", {'id': f.id})}}">{{f.nom}} </a></div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock body %}

