{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Catégories de produit {% endblock title %}

{% block body %}  

<div class="small-12 columns margebri">
    {%if famille|length>0%}
    <h6> <span style="color: #FFA461">{{famille[0].domaineActivite.nom}}</span> : Familles de produit</h6>
    <hr style="margin-top: 3px;" />

    <div class="row">
        {%for f in famille%}
        <div class="small-12  medium-3 large-3  columns" style="float: left">
            <div class="small-12 produitbri columns">
                <div class="divimageproduitbri"> 
                    <a href="{{path("cielo_user_produit_dune_famille", {'id': f.id})}}"><img src="{{asset((f.document).webPath)}}" alt="produit" class="tailleimagebri" /><a/>
                </div>
                    <div class="nomproduitbri" style="margin-bottom: 5px; height: 35px; font-size: 0.9rem;"> <a href="{{path("cielo_user_produit_dune_famille", {'id': f.id})}}">{%if f.nom|length>25%}{{f.nom|slice(0,25)}}...{%else%}{{f.nom}}{%endif%} <span style="color: black">({%set nbreProduit=0%}{%for c in f.categories%}{%set nbreProduit = nbreProduit + c.produits|length%}{%endfor%}<span style="color: red">{{nbreProduit}}</span>)</span></a> </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {%else%}
        <h6> <span style="color: #FFA461">Aucune famille dans ce domaine d'activité pour le moment</span></h6>
        <hr style="margin-top: 3px;" />
    {%endif%}
    
<br/><br/>
<ul class="pagination">
    <li class="arrow {%if page==1%}unavailable{%endif%}"><a href="{{path('cielo_user_entreprises', {'page': 1})}}">&laquo;</a></li>
    {%for i in 1..nbrTotalPages%}
        <li class="{%if i==page%}current{%endif%}"><a href="{{path('cielo_user_entreprises', {'page': i})}}">{{i}}</a></li>
    {%endfor%}
    <li class="arrow {%if page==nbrTotalPages%}unavailable{%endif%}"><a href="{{path('cielo_user_entreprises', {'page': nbrTotalPages})}}">&raquo;</a></li>
</ul>
</div>
{% endblock body %}

