{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Historique Commande {% endblock title %}

{% block body %}  
<div class="small-12 columns margebri">
    {%if historiqueCommande|length>0%}
        <h6> <span style="color: black">{%if periode == "tout"%}L'historique de toutes mes commandes {%elseif periode|length==2%}L'historique de mes commandes du <strong>{{periode.debut|date('d/m/Y')}}</strong> au <strong>{{periode.fin|date('d/m/Y')}}</strong>{%endif%}</span></h6>
        <div style="margin-top: 5px"><strong>Nombre:</strong> <span style=" color: red">{{historiqueCommande|length}}</span></div>
        <div style="margin-top: 5px"><strong>Montant Total:</strong> <span style=" color: red">{{montantTotalHistorique}} F CFA</span></div>
    <hr style="margin-top: 3px;" />

    <div class="row">
        {%for h in historiqueCommande%}
        <div class="small-12 medium-12 large-12 columns" style="float: left; font-size: 13px">
            <div style="color: #43a300">Commande du {{h.dateDebutCommande|date('d/m/Y')}}</div><br/>
            {%for cp in h.commandeProduits%}
            <div>{{cp.quantite}} {{cp.modele.produit.categorie.famille.nom}} {{cp.modele.produit.categorie.nom}} ({{cp.modele.produit.nom}})</div><br/>
            {%endfor%}
            <div><span style="font-weight: bold">Montant Total:</span> {{h.montantFacture}} F CFA</div><br/>
            <div><span style="font-weight: bold">A l'adresse:</span> {{h.zone}} ({{h.adresse}})</div><br/>
            <div><span style="font-weight: bold">Livraison:</span> {{h.modeLivraison.nom}}</div><br/>
            <div><span style="font-weight: bold">Paiement:</span> {{h.modePaiement.nom}}</div><br/>
            <div><span style="font-weight: bold">Code facture:</span> {{h.codeFacture}}</div><br/>
        <hr style="margin-top: 3px;" />
        </div>
        
        {%endfor%}
     {%else%}  
            Aucune commande pour cette période
     {%endif%}
            </div>
</div>
{% endblock body %}

