{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}User/Accueil {% endblock title %}

{% block body%}
{%for i in 0..((campagnesJeu|length // 2))%}
<div class="row">
{% for j  in 0..1%}
    
<div class="small-12  medium-6 large-6 columns" style="padding: 0 10px 0 0; float: left">
    {% if campagnesJeu[i*2 + j] is defined%}
    <div class="small-12 columns" style="background-color: whitesmoke; padding: 0px; margin-bottom: 10px">
        <div class="small-12 medium-6 large-6 columns" style="padding: 0 10px 0 10px">

            <div class="divimageproduitbri" style="height:160px" > 
                <img src="{{image(campagnesJeu[i*2 + j].icone.webPath).resize(160, 160, "0xFFFFFF")}}" alt="produit" class="tailleimagebri" />
            </div>
        </div>

        <div class="small-12 medium-6 large-6 columns" style="font-size: 0.96rem; padding : 6px">

            <div style="padding-top: 10px"><strong> {{campagnesJeu[i*2 + j].nom}} </strong> </div>
            <div style="margin-bottom: 10px"><strong>Type de jeu :</strong> {{campagnesJeu[i*2 + j].jeu.nom}}</div>
            <div style="margin-bottom: 10px"><strong>Proposé par :</strong> <a href="#">{{campagnesJeu[i*2 + j].campagne.entreprise.nom}}</a> </div>

            <div style="margin-bottom: 10px"> <i> {{campagnesJeu[i*2 + j].description|slice(0, 20)}}... </i> </div>

            <div class="boutoncommanderbri2 small-12 columns"> 
                <a href="{{campagnesJeu[i*2 + j].id}}" class="small button alert" style="color: #FFFFFF;"> Jouer 
                    <img src="{{asset('bundles/cielouser/images/jeubri.png')}}" alt="panier"/>
                </a>
            </div>

        </div>
    </div>
    {%endif%}
</div> 
{%endfor%}
</div>
{%endfor%}
<br/><br/>
<ul class="pagination">
    <li class="arrow {%if page==1%}unavailable{%endif%}"><a href="{{path('cielo_ecommerce_jeux', {'page': 1})}}">&laquo;</a></li>
    {%for i in 1..nbrTotalPages%}
        <li class="{%if i==page%}current{%endif%}"><a href="{{path('cielo_ecommerce_jeux', {'page': i})}}">{{i}}</a></li>
    {%endfor%}
    <li class="arrow {%if page==nbrTotalPages%}unavailable{%endif%}"><a href="{{path('cielo_ecommerce_jeux', {'page': nbrTotalPages})}}">&raquo;</a></li>
</ul>
{% endblock body %}

