{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}User/Accueil {% endblock title %}

{% block body%}

<div class="small-12 columns margebri">
    <h6> {{campagneJeu.nom}} de {{campagneJeu.campagne.entreprise.nom}}</h6>
    <hr style="margin-top: 3px;" />
    <div style="margin-bottom: 5px; color: #cacaca "> {{campagneJeu.description}} </div>
    
   {{code|raw}}
</div>
<div class="row" style="margin-left :0px; margin-bottom: 10px">
    <div class="boutoncommanderbri2 small-6 medium-3 large-3 columns"> 
        <a href="{{path("cielo_ecommerce_jouer", {id: campagneJeu.id})}}" class="small button alert" style="color: #FFFFFF;"> <span style="margin-right: 15px">Re-jouer</span> 
            <img src="{{asset('bundles/cielouser/images/jeubri.png')}}" alt="panier"/>
        </a>
    </div>
</div>

</div>
{% endblock body %}

