{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Lancer Commande {% endblock title %}

{% block body %}  
<form>
    <div class="row-fluid">
        <form method="post" {{ form_enctype(form) }}>
            <div class="small-6 columns" style="">
                {{ form_label(form.modeLivraison, "Mode de livraison") }}
                {{ form_errors(form.modeLivraison) }}
                {{ form_widget(form.modeLivraison) }}
                    <div class="" style="height: 30px; margin-top: 20px;">

                    </div> 
                {{ form_label(form.modePaiement, "Mode de paiement") }}
                {{ form_errors(form.modePaiement) }}
                {{ form_widget(form.modePaiement) }}
                </div>

                <div class="small-6 columns" style="">
                {{ form_label(form.zone, "Votre zone géographique") }}
                {{ form_errors(form.zone) }}
                {{ form_widget(form.zone) }}
                        <div id="cout-mode-livraison-div" style="height: 30px; margin-top: 20px; color: #d2b20e">

                        </div>
                {{ form_label(form.adresse, "Votre adresse") }}
                {{ form_errors(form.adresse) }}
                {{ form_widget(form.adresse) }}
                {{ form_widget(form) }}
                    </div>
                    <input type="button" style="margin-top: 10px; float: right" value="Valider" class="button valider-commande-btn" id="{{ app.user.id }}"/>
                </form>
            </div>
        </form>
<div style="margin-top: 100px; margin-left: 40px;" id="code-facture" class="small-4 medium-4 large-4 columns">
</div>
{% endblock body %}

{%block javascript%}
{{parent()}}
        <script>
            var zoneGeographique = "";
            var modeLivraison = "";
            $('.zone-geographique').change(function(e) {
                zoneGeographique = this.options[this.selectedIndex].value;
                if (zoneGeographique !== "" && modeLivraison !== "") {
                    tarifModeLivraison(modeLivraison, zoneGeographique);
                }
            });
            $('.mode-livraison').change(function(e) {
                modeLivraison = this.options[this.selectedIndex].value;
                if (zoneGeographique !== "" && modeLivraison !== "") {
                    tarifModeLivraison(modeLivraison, zoneGeographique);
                }
            });
            $('.valider-commande-btn').click(function() {
                var id_user = this.id;
                var id_modelivraison = document.querySelector(".mode-livraison").options[document.querySelector(".mode-livraison").selectedIndex].value;
                var id_modepaiement = document.querySelector(".mode-paiement").options[document.querySelector(".mode-paiement").selectedIndex].value;
                var id_zone = document.querySelector(".zone-geographique").options[document.querySelector(".zone-geographique").selectedIndex].value;
                var adresse = document.querySelector(".adresse").value;
                var type = "valider";
                var panier = localStorage.getItem('cieloMarketPanier');
                //console.log(id_user, id_modelivraison, id_modepaiement, id_zone, adresse, type, panier);
                if(panier==="[]"){
                    alert("Votre panier est vide");
                }else{
                    lancerCommande(id_user, id_modelivraison, id_modepaiement, id_zone, adresse, type, panier);
                }
            });
            function tarifModeLivraison(id_mode_livraison, id_zone_geographique) {
                $.ajax({
                    url: "{{path('cielo_service_tarif_mode_livraison')}}",
                    data: {id_mode_livraison: id_mode_livraison, id_zone_geographique: id_zone_geographique},
                    type: "POST",
                    success: function(response) {
                        if (response === "Non disponible") {
                            var codeHtml = "Cout de la livraison: <strong>" + response + "</strong>";
                        } else {
                            var codeHtml = "Cout de la livraison: <strong>" + response + "</strong> F CFA";
                        }
                        document.getElementById("cout-mode-livraison-div").innerHTML = codeHtml;
                    },
                    error: function() {
                        alert("Echec tarif mode de livraison");
                    }
                });
            }

            function lancerCommande(id_user, id_modelivraison, id_modepaiement, id_zone, adresse, type, panier) {
                $.ajax({
                    url: "{{path('cielo_service_enregistrer_commande')}}",
                    data: {id_user: id_user, id_modelivraison: id_modelivraison, id_modepaiement: id_modepaiement, id_zone: id_zone, adresse: adresse, type: type, panier: panier},
                    type: "POST",
                    success: function(response) {
                        var data = JSON.parse(response)
                        alert("Commande lancer avec succès");
                        localStorage.setItem('cieloMarketPanier', '[]');
                        AfficherPanierAudemarrage();
                        var msg = "<p>Le code de votre facture est le suivant: <strong style=\"color: red\">"+data['codeFacture']+"</strong></p>";
                        msg += "<p>"+data['msgFacture']+"</p>";
                        document.getElementById("code-facture").innerHTML=msg;
                    },
                    error: function() {
                        alert("Echec commande");
                    }
                });
            }
            </script>
{%endblock javascript%}

