{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Toutes les entreprises {% endblock title %}

{% block body %} 

<div class="small-12 columns margebri">
    {%if modePaiement|length>0%}
    <h6> Nos modes de paiement </h6>
    <hr style="margin-top: 3px;" />
    {%for ml in modePaiement%}
    <div class="row-fluid">
        <div class="small-12  medium-6 large-6 columns" style="background-color: #FFFFFF; padding: 0 10px 0 0; float: left">
            <div class="small-12 columns" style="background-color: whitesmoke; padding: 0px; margin-bottom: 10px">
                <div class="small-12 medium-6 large-6 columns" style="padding: 0 10px 0 10px">
                    <div class="divimageproduitbri" style="height:160px" > 
                        {%if ml.document!=null%}
                            <img src="{{image(ml.document.webPath).resize(155,160, 'ffffff')}}" alt="produit" class="tailleimagebri" />
                        {%else%}
                            <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="tailleimagebri" />
                        {%endif%}
                    </div>
                </div>

                <div class="small-12 medium-6 large-6 columns" style="font-size: 0.96rem; padding : 6px; text-align: center">

                    <div style="padding-top: 10px; margin-bottom: 5px"><strong> {{ml.nom}} </strong> </div>
                    <div style="padding-top: 10px; margin-bottom: 5px"> {{ml.description}}  </div>
                    
                    <div style="margin-bottom: 5px; text-align: left; font-size: 13px;"> 
                        {%for p in ml.proprieteModePaiements%}
                            <div>{{p.nom}}: {{p.valeur}}</div><br/>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>    
    </div>
    {%endfor%}
    {%endif%}
</div>

</div>
{% endblock body %}

