{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Accueil {% endblock title %}

{% block body %}  
{%if produitsEnPromo!=null%}
<div class="small-12 columns margebri">
    <h6 style="color: black"> Les Produits en promotion</h6>
    <hr style="margin-top: 3px;" />

    <div class="row">
        {%for p in produitsEnPromo%}
            <div class="small-12 medium-4 large-3 columns" style="float: left">
                <div class="small-12 produitbri columns">
                    <div class="nomproduitbri" style="height: 35px"><strong style="color: #258cc8"> <a title="Cliquer pour voir les détails sur ce produits" style="font-size: 14px; color: black" href="{{path("cielo_user_detail_produit", {'id': p.produit.id})}}">{{p.produit.nom}} </a></strong> </div>
                    <div class="nomentreprisebri"><a title="Explorer cette entreprise" href="{{path('cielo_user_entreprise', {'id': p.produit.categorie.entreprise.id})}}" style="color:  #5d6067; font-size: 14px;">{{p.produit.categorie.entreprise.nom}}</a></div>
                    <a href="{{path("cielo_user_detail_produit", {'id': p.produit.id})}}">
                        <div class="divimageproduitbri"> 
                    {%if p.produit.modeles[0].documents|length>0%}
                                <img src="{{image((p.produit.modeles[0].documents[0]).webPath).resize(146,140, 'ffffff')}}" alt="produit" class="tailleimagebri" />
                    {%else%}
                                <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="tailleimagebri" />
                    {%endif%}
                            </div>
                            <div class="" style="font-size: 0.7rem; text-justify: auto; color: #5d6067; text-align: left; height: 20px;"  >
                    {%if p.produit.description|length<=45%}
                        {{p.produit.description}}
                    {%else%}
                        {{p.produit.description|slice(0,45)}}...
                        {%endif%}
                                </div>
                            </a>
                            <div class="priproduitbribarre"><strong> {{p.produit.modeles[0].prix}} FCFA</strong> </div>
                            <div class="priproduitbri"><strong> {{p.produit.modeles[0].prixPromo}} FCFA</strong> </div>
                            <div class="boutoncommanderbri"> 
                                {%if p.produit.commandable==true%}
                                <a href="#" data-reveal-id="produit{{p.produit.id}}" class="small button alert" style="color: #FFFFFF;">Ajouter
                                    <img src="{{asset('bundles/cielouser/images/panierbri.png')}}" alt="panier" />
                                </a>
                                {%else%}
                                <a href="#" data-reveal-id="produit{{p.produit.id}}" class="small button alert closebri" style="color: #FFFFFF; font-size: 12px" id="{{p.produit.id}}">Prendre RDV 
                                    <img src="{{asset('bundles/cielouser/images/rdv.png')}}" alt="panier"/>
                                </a>
                                {%endif%}    
                            </div>
                            <div id="produit{{p.produit.id}}" class="reveal-modal tiny"  data-reveal >
                                <div style="text-align: center; margin-bottom: 5px"><strong style="color: black; font-size: 14px" id="nomProduit_{{p.produit.id}}"> {{p.produit.nom}} </strong></div>
                                <div style="text-align: center; margin-bottom: 10px; font-size: 10px;">Vendu par : <a href="{{path('cielo_user_entreprise', {'id': p.produit.categorie.entreprise.id})}}" style="color:  #ea7d10; font-size: 12px;">{{p.produit.categorie.entreprise.nom}}</a> </div>
                                <div style="margin-top: 10px; font-size: 12px">{{p.produit.description}}</div>
                                <div style="margin-top: 5px; margin-bottom: 5px; font-size: 12px; text-align: center">Ce produit dispose de {{p.produit.modeles|length}} modèle(s)</div>
                                <ul data-orbit class="" style="min-height : 250px; max-height: 250px" id="oscar-carousel-{{p.produit.id}}">
                                {%if p.produit.modeles|length>0%}
                                    {%for k, m in p.produit.modeles%}
                                        <li id="modele_{{m.id}}">
                                            <img src="{{image(m.documents[0].webPath).resize(343,250,'ffffff')}}" alt="produit" class="carrousellbri2" />
                                            <div class="orbit-caption">
                                                <div class="small-6 medium-6 columns">
                                                    Modèle {{k + 1}}: <br/>
                                                    <strong style="font-size: 16px" id="prixUnitaire_{{m.id}}">{{m.prixPromo}} F CFA</strong> </span>
                                                </div>
                                                <div class="small-6 medium-6 columns">
                                                    <span style="font-size: 11px;">
                                        {%if m.proprieteProduits|length>0%}
                                            {%if m.proprieteProduits|length>3%}
                                                {%for pp in m.proprieteProduits|slice(0, 3)%}
                                                            <div>{{pp.nom}}: {{pp.valeur}}</div>
                                                {%endfor%}
                                                            <div>...</div>
                                            {%else%}
                                                {%for pp in m.proprieteProduits%}
                                                    {{pp.nom}}: {{pp.valeur}}<br/>
                                                {%endfor%}  
                                            {%endif%}
                                        {%endif%}
                                                        </span>
                                                    </div>
                                                        {%if m.produit.commandable==true%}
                                                    <div class="row">
                                                        <div class="small-6 medium-6 columns" style="font-size: 11px">
                                                            Quantité: 
                                                        </div>
                                                        <div class="small-6 medium-6 columns" style="height: 20px">
                                                            <input id="quantiteProduit_{{m.id}}" min="1" type="number" name="quantite" value="1" style="height : 20px; padding:4px 4px 4px 0px; font-size: 10px; width: 60px"/>
                                                        </div>
                                                    </div>
                                                    {%endif%}
                                                </div>
                                            </li>
                                    {%endfor%}
                                {%else%}
                                            <img src="{{asset('bundles/cielouser/images/deux.png')}}" alt="produit" class="carrousellbri2" />
                                {%endif%}

                                        </ul>

                                        <div class="row">
                                            <div class="boutoncommanderbri2 small-6 medium-6 large-6 columns"> 
                                                {%if p.produit.commandable==true%}
                                                <a href="#" class="small button alert closebri" style="color: #FFFFFF;" id="{{p.produit.id}}" onclick="AjouterAuPanier(this.id)">Ajouter 
                                                    <img src="{{asset('bundles/cielouser/images/panierbri.png')}}" alt="panier"/>
                                                </a>
                                                {%else%}
                                                <a href="#" class="small button alert closebri" style="color: #FFFFFF; font-size: 12px" id="{{p.produit.id}}" onclick="prendreRDV(this.id, {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}{{app.user.id}}{%else%}null{%endif%}, '{{path('cielo_service_rdv')}}')">Prendre RDV 
                                                    <img src="{{asset('bundles/cielouser/images/rdv.png')}}" alt="panier"/>
                                                </a>
                                                {%endif%}    
                                            </div>
                                            <div class="boutoncommanderbri2 small-5 medium-5 large-5 columns"> 
                                                <a href="{{path("cielo_user_detail_produit", {'id': p.produit.id})}}" class="small button closebri" style="color: #FFFFFF;">Détails 
                                                    <img src="{{asset('bundles/cielouser/images/detailsbri.png')}}" alt="panier"/>
                                                </a>
                                            </div>
                                        </div>

                                        <a class="close-reveal-modal fermebri">&#215;</a>
                                    </div>
                                </div>
                            </div>
            {%endfor%}
                        </div>
                    </div>
                    <br/><br/>
                    <ul class="pagination">
                        <li class="arrow {%if page==1%}unavailable{%endif%}"><a href="{{path('cielo_ecommerce_promotions', {'page': 1})}}">&laquo;</a></li>
                            {%for i in 1..nbrTotalPages%}
                            <li class="{%if i==page%}current{%endif%}"><a href="{{path('cielo_ecommerce_promotions', {'page': i})}}">{{i}}</a></li>
                            {%endfor%}
                                <li class="arrow {%if page==nbrTotalPages%}unavailable{%endif%}"><a href="{{path('cielo_ecommerce_promotions', {'page': nbrTotalPages})}}">&raquo;</a></li>
                            </ul>
{%else%}
   <p>Aucun produit en promotion</p>              
{%endif%}
                        </div>
{% endblock body %}

