{%extends "CIELOEcommerceBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Ecommerce | Rendez Vous {% endblock title %}

{% block body %}  
<div class="small-12 columns margebri">
    <p>
        Votre rendez-vous a été bien pris en compte. Cielo Market vous contactera pour confirmation.
    </p>
</div>
{% endblock body %}
{%block javascript%}
{{ parent() }}
<script>
       
</script>
{%endblock javascript%}

