{# empty Twig template #}
{%extends "::global_admin_layout.html.twig"%}

{% block body %}
<div class="container-fluid">

    {% set varsAdmin = getVarsAdmin()%}
    <!-- Header starts -->
    {%block enteteAdmin%}
    <div class="row-fluid">
        <div class="span12">

            <div class="header-top">

                <div class="header-wrapper">

                    <a href="#" class="utopia-logo">
                        <img style="height: 50px; width: 200px; margin-top: 1px;" src="{{asset('bundles/cieloadmin/admin/img/cieloLogo.png')}}" alt="Utopia">
                    </a>

                    <div class="header-right">

                        <div class="header-divider">&nbsp;</div>

                        <div class="search-panel header-divider">
                            <div class="">
                                <form action="{{path('cielo_admin_recherche')}}" method="post" style="">
                                    <input style="width: 150px" type="text" name="searchContent" placeholder="Recherche...">
                                    <select style="width: 150px" name="searchType">
                                        <option value="produit">Produit</option>
                                        <option value="domaineActivite">Domaine d'activité</option>
                                        <option value="famille">Famille</option>
                                        <option value="entreprise">Entreprise</option>
                                        <option value="client">Client</option>
                                        <option value="evenement">Evènement</option>
                                        <option value="commande">Commande</option>
                                    </select>
                                    <input type="submit" value="Valider"/>
                                </form>
                            </div>
                        </div>
                        <div class="notification header-divider">

                            <div class="notification-wrapper">

                                <a href="#" class="notification-counter">{{varsAdmin.nbreCommandeNonVue+varsAdmin.nbreParticipationEvenementNonVueTotal+varsAdmin.nbreRendezVousNonVue}}</a>
                                <div id="triangle-down"></div>

                                <div class="tabbable notification-box">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#message">Commande ({{varsAdmin.nbreCommandeNonVue}})</a></li>
                                        <li class=""><a data-toggle="tab" href="#evenement">Evènement ({{varsAdmin.nbreParticipationEvenementNonVueTotal}})</a></li>
                                        <li class=""><a data-toggle="tab" href="#rdv">Rendez-vous ({{varsAdmin.nbreRendezVousNonVue}})</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="message" class="tab-pane active">
                                            <ul class="message-list">
                                                {%for c in varsAdmin.commande%}
                                                    <a href="{{path('cielo_admin_produits_dune_commande', {'id': c.id})}}" style="color: black" class="notif-commande">
                                                <li class="{%if c.vue==false%} message new{%else%} message {%endif%}">
                                                    <div class="msg">
                                                        De: <span style="color: #258cc8">{{c.client.nom|upper}} {{c.client.prenom}}</span> <span>le {{c.dateDebutCommande|date('d/m/Y')}}</span><br/>
                                                        <span {%if c.vue==false%}style="font-weight: bold"{%endif%}>Livraison <span style="color: #F78634">{{c.modeLivraison.nom}}</span> à {{c.zone}} ({{c.adresse}}), Paiement <span style="color: #F78634">{{c.modePaiement.nom}}</span> et pour un montant totale de <span style="color: #258cc8">{{c.montantFacture}}</span> F CFA</span>
                                                    </div>
                                                </li>
                                                </a>
                                                {%endfor%}
                                            </ul>

                                            <div class="message-more"><a href="{{path('cielo_admin_list_commande')}}">Voir toutes les commandes</a></div>

                                        </div>
                                            
                                       <div id="evenement" class="tab-pane">
                                            <ul class="message-list">
                                                {%if varsAdmin.participationEvenementNonVue!=null%}
                                                {%for pe in varsAdmin.participationEvenementNonVue%}
                                                <a style="color: black" href="{{path('cielo_admin_participants_evenement', {'id': pe.evenement.id})}}" class="notif-commande">
                                                <li class="user new">
                                                    <div class="msg">
                                                        <span style="color: #258cc8">{{pe.evenement.nom}}</span> (<span style="color: #F78634">{{pe.nbreParticipationEvenementNonVue}}</span>) nouveaux participants.
                                                    </div>
                                                </li>
                                                </a>
                                                {%endfor%}
                                                {%endif%}
                                            </ul>

                                            <div class="message-more"><a href="{{path('cielo_admin_evenements')}}">Voir tous les évènements</a></div>

                                        </div>
                                       <div id="rdv" class="tab-pane">
                                            <ul class="message-list">
                                                
                                            </ul>

                                            <div class="message-more"><a href="{{path('cielo_admin_list_rendez_vous')}}">Cliquer ici pour voir tous les RDV non vue</a></div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div><!-- Notification end -->
                        <div class="user-panel header-divider">
                            <div class="user-info">
                                <img src="{{asset('bundles/cieloadmin/admin/img/icons/user.png')}}" alt="">
                                    {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                                <a href="#">{{ app.user.username }}</a>
                                    {%endif%}
                            </div>

                            <div class="user-dropbox">
                                <ul>
                                    <li class="theme-changer dark-theme"><a href="javascript:void(0)" class="dark" rel="{{asset('bundles/cieloadmin/admin/css/themes/utopia-dark.css?v18')}}" >Dark theme</a></li>
                                    <li class="theme-changer white-theme"><a href="javascript:void(0)" class="white" rel="{{asset('bundles/cieloadmin/admin/css/utopia-white.css?v19')}}" >White theme</a></li>
                                    <li class="theme-changer siteclient"><a href="{{path('cielo_user_homepage')}}" class="white" rel="{{asset('bundles/cieloadmin/admin/css/utopia-white.css?v19')}}" >Accéder au Site client</a></li>
                                    <li class="logout"><a href="{{path('cielo_admin_logout')}}">Déconnexion</a></li>
                                </ul>
                            </div>

                        </div><!-- User panel end -->

                    </div><!-- End header right -->

                </div><!-- End header wrapper -->

            </div><!-- End header -->

        </div>

    </div>
    {%endblock enteteAdmin%} 
    <!-- Header ends -->

    <div class="row-fluid">

        <!-- Sidebar statrt -->
        <div class="span2 sidebar-container">

            <div class="sidebar">

                <div class="navbar sidebar-toggle">
                    <div class="container">

                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                    </div>
                </div>
                {%block menuAdmin%}
                <div class="nav-collapse collapse leftmenu collapse cieloMenu" style="height: 0px;">
                    <ul>
                        <li><a class="dashboard smronju" href="{{path('cielo_admin_dashboardpage')}}" title="Tableau de bord"><span>Tableau de bord</span></a></li>
                        <li><a class="icons" href="{{path('cielo_admin_domainedactivitespage')}}" title="Domaines d'activité"><span>Domaines d'activité</span></a> </li>
                        <li><a class="tables" href="{{path('cielo_admin_famille_produit')}}" title="Familles"><span>Familles</span></a></li>
                        <li><a class="entreprisebri" href="{{path('cielo_admin_entreprise')}}" title="Entreprises"><span>Entreprises</span></a></li>
                        <li><a class="evenementbri" href="{{path('cielo_admin_evenements')}}" title="Evènements"><span>Evènements</span></a></li>
                        <li><a class="clientbri" href="{{path('cielo_admin_list_client')}}" title="Clients"><span>Clients</span></a></li>
                        <li>
                            <a class="commandesbri" href="javascript:void(0)" title="Commandes"><span>Commandes</span></a>
                            <ul class="dropdown">
                                <li><a class="tables" href="{{path('cielo_admin_list_commande')}}" title="Commandes"><span>Commandes</span></a></li>
                                <li><a class="tables" href="{{path('cielo_admin_list_commande')}}" title="Commandes"><span>Rendez-Vous</span></a></li>
                                <li><a class="widgets smronju" href="{{path('cielo_admin_mode_livraison')}}" title="Mode de livraison"><span>Mode de livraison</span></a></li>
                                <li><a class="simple smronju" href="{{path('cielo_admin_mode_paiement')}}" title="Mode de paiement"><span>Mode de paiement</span></a></li>
                                <li><a class="wizard-form smronju" href="{{path('cielo_admin_zone_geographique')}}" title="Zone géographique"><span>Zone géographique</span></a></li>
                            </ul>
                        </li>
                        <li><a class="publicitebri" href="{{path('cielo_admin_pub')}}" title="Publicité"><span>Publicité</span></a></li>
                        <li>
                            <a class="jeubri" href="javascript:void(0)" title="Jeux"><span>Jeux</span></a>
                            <ul class="dropdown">
                                <li><a class="tables" href="{{path('cielo_admin_list_jeux')}}" title="Jeux"><span>Jeux</span></a></li>
                                <li><a class="widgets smronju" href="{{path('cielo_admin_list_campagne')}}" title="Campagne"><span>Campagne</span></a></li>
                                <li><a class="simple smronju" href="{{path('cielo_admin_list_campagne_jeu')}}" title="Campagne de jeu"><span>Campagne de jeu</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="grid" href="#" title="Paramètres"><span>Paramètres</span></a>
                            <ul class="dropdown">
                                <li><a class="slidergallery" href="{{path('cielo_admin_carousel')}}" title="Jeux"><span>Carousel</span></a></li>
                                <li><a class="tables" href="{{path('cielo_admin_texte_defilant')}}" title="Jeux"><span>Texte défilant</span></a></li>
                             </ul>
                        </li>
                        <li><a class="adminbri" href="{{path('cielo_admin_administration')}}" title="Administration"><span>Administration</span></a></li>
                    </ul>

                </div>
                {%endblock menuAdmin%}


            </div>
        </div>

        <!-- Sidebar end -->
        {% block bodyFils1 %}

        {% endblock bodyFils1 %}
    </div>

    <!-- Maincontent end -->

</div> <!-- end of container -->

{% endblock body %}