{%extends "CIELOUserBundle::layout_admin_login.html.twig"%}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %} Cielo Market User | Login {% endblock title %}
{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <a class="btn" href="{{path('cielo_admin_entreprise_login')}}">Connexion</a>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}