{% extends "CIELOAdminBundle::layout.html.twig" %}
{% block title %} {{ parent() }}| Admin | Register {% endblock title %}
{% block bodyFils1 %}
{% trans_default_domain 'FOSUserBundle' %}
<div class="span10 body-container">
    <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="{{path('cielo_admin_administration')}}">Administration</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#">Création d'un admin système</a> <span class="divider">/</span>
                    </li>
                </ul>
            </div>
     </div>

     <div class="row-fluid">
        <section id="formElement" class="utopia-widget utopia-form-box section">
            <div class="utopia-widget-title">
                <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                <span>Créer un administrateur du système</span>
            </div>
            <div class="row-fluid">
                <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                    <form action="{{ path('cielo_admin_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span4">
            {{ form_label(form.nom, "Nom") }}
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom) }}

            {{ form_label(form.prenom, "Prénom") }}
            {{ form_errors(form.prenom) }}
            {{ form_widget(form.prenom) }}

            {{ form_label(form.telephone, "Téléphone") }}
            {{ form_errors(form.telephone) }}
            {{ form_widget(form.telephone) }}
                                </div>
                                <div class="span4">
            {{ form_label(form.username, "Nom d'utilisateur") }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}

            {{ form_label(form.plainPassword.first, "Mot de passe") }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}

            {{ form_label(form.plainPassword.second, "Vérifier mot de passe") }}
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
                                    </div>
                                    <div class="span4">
            {{ form_label(form.email, "Adresse e-mail") }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}

            {{ form_label(form.dateNaissance, "Date de naissance") }}
            {{ form_errors(form.dateNaissance) }}
            {{ form_widget(form.dateNaissance) }}
                                        </div>
                                    </div>
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn" style="margin-top: 10px;"/>
                        </div>
                    </form>
                </div>
            </div>
     </div>
</div>
{% endblock bodyFils1 %}