{% set template = "CIELOUserBundle::layout_admin_entreprise_user.html.twig" %}
{% if is_granted("ROLE_SUPER_ADMIN")%}
{% set template = "CIELOUserBundle::layout_admin_user.html.twig" %}
{%endif%}
{% extends template %}

{% trans_default_domain 'FOSUserBundle' %}
{%block path_line%}
<ul class="breadcrumb">
    <li>
        <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{{path('cielo_admin_entreprise')}}">Entreprise</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="#">Création d'un admin entreprise</a> <span class="divider">/</span>
    </li>
</ul>
{%endblock path_line%}
{%block sub_title%}
Créer un administrateur d'entreprise
{%endblock sub_title%}
{% block fos_user_content %}
<form action="{% if is_granted("ROLE_SUPER_ADMIN")%} {{path('cielo_admin_creer_admin_entreprise')}}{%else%}{{ path('cielo_admin_entreprise_registration_register') }}{%endif%}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <div class="row-fluid">
        <div class="span4">
            {{ form_label(form.nom, "Nom") }}
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom) }}
                                     
            {{ form_label(form.prenom, "Prénom") }}
            {{ form_errors(form.prenom) }}
            {{ form_widget(form.prenom) }}
                                        
            {{ form_label(form.telephone, "Téléphone") }}
            {{ form_errors(form.telephone) }}
            {{ form_widget(form.telephone) }}
        </div>
        <div class="span4">
            {{ form_label(form.username, "Nom d'utilisateur") }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
                                     
            {{ form_label(form.plainPassword.first, "Mot de passe") }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
                                        
            {{ form_label(form.plainPassword.second, "Vérifier mot de passe") }}
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
        <div class="span4">
            {{ form_label(form.email, "Adresse e-mail") }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
                                     
            {{ form_label(form.dateNaissance, "Date de naissance") }}
            {{ form_errors(form.dateNaissance) }}
            {{ form_widget(form.dateNaissance) }}
        </div>
    </div>
{{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn" style="margin-top: 10px;"/>
    </div>
</form>
<script>
    var q = document.querySelectorAll("flash-success");
            var len = q.length;
            for (var i = 0; i < len; i++) {
                q[i].setAttribute("class", "flash-success alert alert-success");
                q[i].style.marginRight = "20px";
                q[i].innerHTML = "<a class=\"close\" data-dismiss=\"alert\" href=\"#\">×</a>" + q[i].innerHTML;
            }
</script>
{% endblock fos_user_content %}
