{% extends "CIELOUserBundle::layout_client_user.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


<form action="{{ path('cielo_client_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <div class="row">
                <div class="small-6 columns" style="float: left">
                    <fieldset>
                        <legend style="color: lightslategray;">Etat Civil</legend>
                        {{ form_label(form.nom, "Nom") }}
                        {{ form_errors(form.nom) }}
                        {{ form_widget(form.nom) }}
                        
                        {{ form_label(form.prenom, "Prénom") }}
                        {{ form_errors(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        
                        {{ form_label(form.dateNaissance, "Date de Naissance") }}
                        {{ form_errors(form.dateNaissance) }}
                        {{ form_widget(form.dateNaissance) }}
                    </fieldset>
                </div>
                    <div class="small-6  columns" style="float: right">
                    <fieldset>
                        <legend style="color: lightslategray;">Info Compte</legend>
                        
                        {{ form_label(form.email, "Email") }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                        <div class="row">
                            <div class="small-6 columns" style="float: left">
                                {{ form_label(form.username, "Nom d'utilisateur") }}
                                {{ form_errors(form.username) }}
                                {{ form_widget(form.username) }}
                            </div>
                            <div class="small-6 columns" style="float: right">
                                {{ form_label(form.telephone, "Téléphone") }}
                                {{ form_errors(form.telephone) }}
                                {{ form_widget(form.telephone) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 columns" style="float: left">
                                {{ form_label(form.plainPassword.first, "Mot de passe") }}
                                {{ form_errors(form.plainPassword.first) }}
                                {{ form_widget(form.plainPassword.first) }}
                            </div>
                            <div class="small-6 columns" style="float: right">
                                {{ form_label(form.plainPassword.second, "Resaisir mot de passe") }}
                                {{ form_errors(form.plainPassword.second) }}
                                {{ form_widget(form.plainPassword.second) }}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        <div class="row" style="margin-top: 10px;">
            <div class="small-12 columns">
                <fieldset>
                 <legend style="color: lightslategray;">Adresse</legend>
                <div class="small-6 columns" style="float: left">
                    
                        {{ form_label(form.pays, "Pays") }}
                        {{ form_errors(form.pays) }}
                        {{ form_widget(form.pays) }}
                    <div style="margin-top: 15px">
                        {{ form_label(form.quartier, "Quartier") }}
                        {{ form_errors(form.quartier) }}
                        {{ form_widget(form.quartier) }}
                    </div>
                </div>
                 <div class="small-6 columns" style="float: right">
                    
                        {{ form_label(form.ville, "Ville") }}
                        {{ form_errors(form.ville) }}
                        {{ form_widget(form.ville) }}
                        
                        {{ form_label(form.boitepostale, "Boite Postale") }}
                        {{ form_errors(form.boitepostale) }}
                        {{ form_widget(form.boitepostale) }}
                    
                </div>
            </fieldset>
            </div>
        </div>
{{ form_widget(form) }}
        <div style="margin-top: 10px; float: right">
                <input type="submit" value="Enrégister{#{{ 'registration.submit'|trans }}#}" class="button alert"/>
            </div>
    
</form>

{% endblock fos_user_content %}
