{%extends "CIELOEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Enterprise | Ajout Produit {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_enterprise_homepage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_enterprise_produit')}}">Produits</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Ajout d'un nouveau produit</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
            
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Ajout Produit</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal" data-prototype="{#{form_widget(form.modeles.vars.prototype)|e}#}" data-prototypee="{#{form_widget(form.proprieteProduits.vars.prototype)|e}#}" data-prototypeee="{#{form_widget(form.prixProduits.vars.prototype)|e}#}">
                            <div class="row-fluid">
                                <div class="span3">
                                    {{ form_label(form.categorie, "Catégorie du produit") }}
                                        <span style="color: red">{{ form_errors(form.categorie) }}</span>
                                    {{ form_widget(form.categorie) }}
                                        
                                    {{ form_label(form.nom, "Nom") }}
                                            <span style="color: red">{{ form_errors(form.nom) }}</span>
                                    {{ form_widget(form.nom) }}
                                     
                                    {{ form_label(form.fabricant, "Fabricant") }}
                                            <span style="color: red">{{ form_errors(form.fabricant) }}</span>
                                    {{ form_widget(form.fabricant) }}
                                    
                                    {{ form_label(form.numProduit, "N° de référence du produit") }}
                                            <span style="color: red">{{ form_errors(form.numProduit) }}</span>
                                    {{ form_widget(form.numProduit) }}
                                </div>
                                <div class="span3">
                                      
                                    {{ form_label(form.dateFabrication, "Date de fabrication") }}
                                    <span style="color: red">{{ form_errors(form.dateFabrication) }}</span>
                                    {{ form_widget(form.dateFabrication) }}
                                    
                                    {{ form_label(form.dateExpiration, "Date d'expiration") }}
                                            <span style="color: red">{{ form_errors(form.dateExpiration) }}</span>
                                    {{ form_widget(form.dateExpiration) }}
                                     
                                    {{ form_label(form.description, "Description du produit") }}
                                            <span style="color: red">{{ form_errors(form.description) }}</span>
                                    {{ form_widget(form.description) }}
                                </div>
                                <div class="span3">
                                    <div id="modele-container" >
                                    </div>
                                    <a href="#" id="modele-add" class="btn" style="margin-top: 5px">Ajouter un modèle</a>
                                </div>
                             </div>
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                        <script type="text/javascript">
                               $("#modele-add").click(function(e){
                                   e.preventDefault();
                                   addImageToForm();
                               });
                               $("#propriete-add").click(function(e){
                                   e.preventDefault();
                                   addProprieteToForm();
                               });
                               $("#prix-add").click(function(e){
                                   e.preventDefault();
                                   addPrixToForm();
                               });
                                function addImageToForm(imageContainer){
                                    imageContainer = $("#modele-container");
                                    var prototype = $(".form-horizontal").attr("data-prototype");
                                    var newImageForm = prototype.replace(/__name__/g, imageContainer.children().length);
                                    imageContainer.append(newImageForm)
                                }
                                function addProprieteToForm(proprieteContainer){
                                    proprieteContainer = $("#propriete-container");
                                    var prototype = $(".form-horizontal").attr("data-prototypee");
                                    var newProprieteForm = prototype.replace(/__name__/g, proprieteContainer.children().length);
                                    proprieteContainer.append(newProprieteForm)
                                }
                                function addPrixToForm(prixContainer){
                                    prixContainer = $("#prix-container");
                                    var prototype = $(".form-horizontal").attr("data-prototypeee");
                                    var newProprieteForm = prototype.replace(/__name__/g, prixContainer.children().length);
                                    prixContainer.append(newProprieteForm)
                                }
                        </script>
                    </div>
                </div>
         </div>
    </div>
{% endblock bodyFils1%}