{%extends "CIELOEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Produit {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                    </li>
                    <li>
                            <a href="{{path('cielo_enterprise_produit')}}">Produits</a> <span class="divider">/</span>
                        </li>
                    <li>
                        <a href="#">Modèles</a> <span class="divider">/</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Tous les modèles de {{modeles[0].produit.nom}}</span>
                    </div>

                    <div class="utopia-widget-content">

                        <table class="table datatable table-striped table-bordered">

                            <colgroup>
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                            </colgroup>


                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Prix</th>
                                    <th>Prix Promo</th>
                                    <th>Propriétés</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                            <div id="modal-gallery" class="modal modal-gallery hide fade">
                                <div class="modal-header">
                                    <a class="close" data-dismiss="modal">&times;</a>

                                    <h3 class="modal-title">Image Gallery</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-image"></div>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn modal-download" target="_blank">
                                        <i class="icon-download"></i>
                                        <span>Download</span>
                                    </a>
                                    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                                        <i class="icon-play icon-white"></i>
                                        <span>Slideshow</span>
                                    </a>
                                    <a class="btn btn-info modal-prev">
                                        <i class="icon-arrow-left icon-white"></i>
                                        <span>Previous</span>
                                    </a>
                                    <a class="btn btn-primary modal-next">
                                        <span>Next</span>
                                        <i class="icon-arrow-right icon-white"></i>
                                    </a>
                                </div>
                            </div>
                                {% for m in modeles%}
                            <tr>
                                <td>
                                         {%if m.documents|length>0%}
                                        <div id="galleries" data-toggle="modal-gallery" data-target="#modal-gallery">
                                             {%for d in m.documents%}
                                                <a href="{{ asset(d.webPath) }}" rel="gallery">
                                        <img 
                                            src="{{ asset(d.webPath) }}"
                                            alt="{{ d.nom }}"
                                            title="{{ d.description }}" 
                                            style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                            />
                                        </a>
                                                {%endfor%}
                                            {%else%}
                                    <img 
                                        src="{{asset('bundles/cielouser/images/deux.png')}}"
                                        style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                        />
                                         {%endif%}
                                    </div>
                            </td>
                            <td>
                                         {{m.prix}}
                                </td>
                                <th>{{m.prixPromo}}</th>
                                <td>
                                        {%if m.proprieteProduits|length>0%}
                                             {%for p in m.proprieteProduits%}
                                             {{p.nom}} : {{p.valeur}}<br/>
                                             {%endfor%}
                                        {%endif%}
                                    </td>
                                    <td>
                                        <a href="{{path('cielo_enterprise_modifier_modele_produit', {'id': m.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                        <a href="{{path('cielo_enterprise_supprimer_modele_produit', {'id': m.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                    </td>
                                </tr>
                                 {%endfor%}
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th>Images</th>
                                        <th>Prix</th>
                                        <th>Prix Promo</th>
                                        <th>Propriétés</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyFils1%}