{%extends "CIELOEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Produit {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#">Produits</a> <span class="divider">/</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-fluid" style="margin-bottom: 20px; ">
            <div style="float: right">
                <a class="btn" href="{{path('cielo_enterprise_creer_modele_produit')}}" title="Ajouter un nouveau produit">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                    Ajouter Produit
                </a>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Tous les produits</span>
                    </div>

                    <div class="utopia-widget-content">

                        <table class="table datatable table-striped table-bordered">

                            <colgroup>
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                            </colgroup>


                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Catégorie</th>
                                    <th>Fabricant</th>
                                    <th>Prix</th>
                                    <th>Date de fab.</th>
                                    <th>Date d'exp.</th>
                                    <th>Modèles</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                    {% for p in produits%}
                                    <tr title="{{p.description}}">
                                        <td>
                                         {%if p.modeles[0].documents|length>0%}
                                         {% if p.modeles[0].documents[0].lien!=null%}
                                                <img 
                                                    src="{{ image(p.modeles[0].documents[0].webPath).resize(96,96,'f5f5f5') }}"
                                                    alt="{{ p.modeles[0].documents[0].nom }}"
                                                    title="{{ p.modeles[0].documents[0].description }}" 
                                                    />
                                                {%else%}
                                            <img 
                                                <img 
                                                src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                                />
                                            {%endif%}
                                            {%else%}
                                        <img 
                                            src="{{asset('bundles/cielouser/images/deux.png')}}"
                                            style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                            />
                                         {%endif%}
                                </td>
                                <td>
                                         {{p.nom}}
                                    </td>
                                    <td>
                                         {{p.categorie.nom}}
                                        </td>
                                        <td>
                                         {{p.fabricant}}
                                            </td>
                                            <td>
                                         {{p.modeles[0].prix}}
                                                </td>
                                                    <td>
                                         {{p.dateExpiration|date('d/m/Y')}}
                                                        </td>
                                                        <td>
                                         {{p.dateFabrication|date('d/m/Y')}}
                                                            </td>
                                                            <td>
                                                                <a href="{{path('cielo_enterprise_modele_produit', {'id': p.id})}}">
                                         {%if p.modeles|length>0%}
                                         {{p.modeles|length}}
                                         {%endif%}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a href="{{path('cielo_enterprise_ajouter_modele', {'id': p.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/add.png')}}" title="Ajouter modèle"></a>
                                                                    <a href="{{path('cielo_enterprise_modifier_produit', {'id': p.modeles[0].id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                                                    <a href="javascript:void(0)" class="supprimer-produit-entreprise" id="btn_supprimer_produit_entreprise_{{p.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                                                    <a style="display: none" href="{{path('cielo_enterprise_supprimer_produit', {'id': p.id})}}" class="delete" id="link_btn_supprimer_produit_entreprise_{{p.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>                               
                                                                </td>
                                                            </tr>
                                 {%endfor%}
                                                        </tbody>

                                                        <tfoot>
                                                            <tr>
                                                                <th>Image</th>
                                                                <th>Nom</th>
                                                                <th>Catégorie</th>
                                                                <th>Fabricant</th>
                                                                <th>Prix</th>
                                                                <th>Date de fab.</th>
                                                                <th>Date d'exp.</th>
                                                                <th>Modèles</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                   <div class="row-fluid">
                                    <div class="span6">

                                    </div>

                                    <div class="span6">
                                        <span style="float: right; color: #999; font-size: 0.6rem">selon la base de données</span>
                                        <div class="pagination pagination-right">
                                            <ul>
                                                <li class="prev {%if page==1%}disabled{%endif%}"><a href="{{path('cielo_admin_domainedactivitespage', {'page': 1})}}">←</a></li>
                                            {%for i in 1..nbrTotalPages%}
                                                    <li class="{%if i==page%}active{%endif%}"><a href="{{path('cielo_admin_domainedactivitespage', {'page': i})}}">{{i}}</a></li>
                                            {%endfor%}
                                                        <li class="next {%if page==nbrTotalPages%}disabled{%endif%}"><a href="{{path('cielo_admin_domainedactivitespage', {'page': nbrTotalPages})}}">→ </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
{% endblock bodyFils1%}