{%extends "CIELOEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Créer Catégorie {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_enterprise_homepage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_enterprise_categories')}}">Catégories</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Création d'une nouvelle catégorie</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
            
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Créer Catégorie</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal" data-prototype="{#{form_widget(form.proprieteCategories.vars.prototype)|e}#}">
                            <div class="row-fluid">
                                <div class="span4">
                                    {{ form_label(form.nom, "Nom") }}
                                        <span style="color: red">{{ form_errors(form.nom) }}</span>
                                    {{ form_widget(form.nom) }}
                                     
                                    {{ form_label(form.description, "Description") }}
                                        <span style="color: red">{{ form_errors(form.description) }}</span>
                                    {{ form_widget(form.description) }}
                                        
                                    {{ form_label(form.categorie, "Catégorie parente") }}
                                        <span style="color: red">{{ form_errors(form.categorie) }}</span>
                                    {{ form_widget(form.categorie) }}
                                    
                                    
                                </div>
                                <div class="span4">
                                    {{ form_label(form.famille, "Choisir une famille") }}
                                        <span style="color: red">{{ form_errors(form.famille) }}</span>
                                    {{ form_widget(form.famille) }}
                                        
                                    {{ form_label(form.document, " ")}}
                                        
                                    {{ form_label(form.document.file, "Choisir l'image") }}
                                        <span style="color: red">{{ form_errors(form.document.file) }}</span>
                                    {{ form_widget(form.document.file) }}
                                </div>
                                    {{ form_widget(form) }}
                             </div>
                            
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                            <script type="text/javascript">
                               $("#propriete-categorie-add").click(function(e){
                                   e.preventDefault();
                                   addImageToForm();
                               });
                                function addImageToForm(imageContainer){
                                    imageContainer = $("#propriete-categorie-container");
                                    var prototype = $(".form-horizontal").attr("data-prototype");
                                    var newImageForm = prototype.replace(/__name__/g, imageContainer.children().length);
                                    imageContainer.append(newImageForm)
                                }
                        </script>
                    </div>
                </div>
         </div>
    </div>
{% endblock bodyFils1%}