<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site béninois e-commerce pour la vente et l'achat de différents produits classés en catégories, ayant une partie pour les jeux et les promotions">
        <meta name="keywords" content="e-commerce vente achat produits catégories béninois jeux promotions">
        <meta name="author" content="MobileLab">
        <title>{% block title %}CIELO Market | {% endblock title %}</title>

        {%block stylesheets %}
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('bundles/cieloadmin/admin/img/logo_short.ico')}}"> 

        <link rel="stylesheet" href="{{asset('bundles/cielouser/foundation/css/foundation.min.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{asset('bundles/cielouser/foundation/css/normalize.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{asset('bundles/cielouser/css/monstyle.css')}}" type="text/css"/>
        <script type="text/javascript" src="{{asset('bundles/cielouser/foundation/js/jquery.js')}}"></script>


{%endblock stylesheets %}
    </head>
    <body style="background-color: whitesmoke; background-image: url('{#{asset('bundles/cielouser/images/bgcielo.png')}#}')">
        {% set vars = getVars()%}
        <div class="row-fluid" id="entetebri">
            <div class="row">
                <div class="small-8 medium-7 large-7 columns"> <img src="{{asset('bundles/cielouser/images/phone.png')}}" alt="phone"/> Contactez notre service clientèle : (+229)97460536</div>
                <div class="small-6 medium-5 large-5 columns" style="text-align: right; padding-right: 15px">
                    {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                        <a href="#" style="color: #C0CCC0;" class="surlignerbri"  >{{ app.user.username }}</a>
                        | <a href="{{path('fos_user_security_logout')}}" style="color: #C0CCC0;" class="surlignerbri"  >Déconnexion</a>
                    {%else%}
                        <a href="{{path('cielo_client_registration_register')}}" style="color: #C0CCC0;" class="surlignerbri"  >Inscription</a>
                        | <a href="{{path('cielo_client_login')}}" style="color: #C0CCC0;" class="surlignerbri"  id="connexion-link">Connexion</a>
                    {%endif%} |
                    <a href="#" style="color: #C0CCC0" class="surlignerbri"  > Contactez-nous</a>
                </div>
            </div>
        </div>
        <div style="{%if vars.pubPanelGauche%}{%else%}height: 2px;{%endif%} float: left; {%if vars.pubPanelGauche%}background: {{vars.pubPanelGauche.couleurArrierePlan}}{%endif%} " id="leftPubPanel">
            {%if vars.pubPanelGauche%}
            <a href="{%if vars.pubPanelGauche.lien!=null%}http://{{vars.pubPanelGauche.lien}}{%else%}javascript:void(0){%endif%}"><img src="{{asset(vars.pubPanelGauche.document.webPath())}}" style="margin-left: 5px; width: 100%; margin-top: 175px;" title="{{vars.pubPanelGauche.nom}}"/></a>
            {%endif%}
        </div>
        <div  style="background-color: white; float: left" class="row" id="mainPanel">
            <div class="small-12 columns" id="bannierebri">
                <div class="small-12 medium-3 large-3 columns"><a href="{{path('cielo_user_homepage')}}"><img src="{{asset('bundles/cieloadmin/admin/img/cieloLogo.png')}}" alt="logo" style="margin-top: 5px; height : 70px"></a></div>                
                <div class="small-12 medium-5 large-5 columns" style="padding: 30px">
                    <marquee>
                        <span style="font-size: 13px">
                        {%for td in vars.texteDefilant%}
                        {{td.contenu}} ... 
                        {%endfor%}
                        </span>
                    </marquee>
                </div>
                        <div class="small-12 medium-4 large-4 columns" style="float: right">
                    <form method="post" action="{{path('cielo_user_recherche_produit')}}">
                        <div class="row collapse" style="margin: 20px 20px 0 0">
                            <div class="small-7 medium-7 large-7 columns">
                                <input name="searchContent" type="text" placeholder="Ex : biscuits" style="height: 35px">
                            </div>
                            <div class="small-3 medium-3 large-3 columns">
                                <select style="height: 35px; font-size: 12px" name="searchType">
                                    <option value="produit" style="font-size: 12px">Produit</option>
                                        <option value="evenement">Evènement</option>
                                </select>
                            </div>
                            <div class="small-2 medium-2 large-2 columns">
                                <input type="submit" class="tiny button" value="Ok"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                <div  class="small-12 columns" >
                    <div class="small-12 columns" style="text-align: center; background-color: whitesmoke;color: black; padding : 10px 15px 10px 15px; margin-bottom : 10px; font-size: 0.96rem">
                        <a href="{{path('cielo_user_homepage')}}" class="surlignerbri">Accueil</a>    |     
                        <a href="{{path('cielo_user_entreprises')}}" class="surlignerbri" >Entreprises</a>     |    
                        <a href="{{path('cielo_ecommerce_jeux')}}" class="surlignerbri" >Jeux</a>   |      
                        <a href="{{path('cielo_ecommerce_promotions')}}" class="surlignerbri" >Promotions</a>       |      
                        <a href="{{path('cielo_ecommerce_evenements')}}" class="surlignerbri" >Evènements</a>       | 
                        <a href="#" class="surlignerbri" >Qui sommes-nous</a> 
                    </div>
                </div>
            <div class="small-12 columns" style="margin-bottom: 10px">
                <nav class="top-bar" data-topbar="">
                    <ul class="title-area">
                        <!-- Title Area -->
                        <li class="name">

                        </li>
                        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                        <li class="toggle-topbar menu-icon"><a href=""><span>Domaine d'activité</span></a></li>
                    </ul>


                    <section class="top-bar-section">
                        <ul class="">
                            
                                {%for d in vars.domaineActivites%}
                            <li class="has-dropdown not-click"><a href="#" title="{{d.nom}}" style="font-size: 0.8rem;">{%if d.nom|length>15%}{{d.nom|slice(0,15)}}...{%else%}{{d.nom}}{%endif%}</a>
                                    {%if d.familles|length>0%}
                                    <ul class="dropdown"><li class="title back js-generated"><h5></h5></li>
                                        {%for f in d.familles|slice(0, 10)%}
                                                    <li><a href="{{path('cielo_user_produit_dune_famille', {'id': f.id})}}" style="font-size: 0.8rem">{{f.nom}} ({%set nbreProduit=0%}{%for c in f.categories%}{%set nbreProduit = nbreProduit + c.produits|length%}{%endfor%}{{nbreProduit}})</a></li>
                                        {%endfor%}
                                        {%if d.familles|length > 10%}
                                            <li><a href="{{path('cielo_user_famille_dun_domaine', {'id': d.id})}}">Plus</a></li>
                                        {%endif%}
                                    </ul>
                                    {%endif%}
                                </li>
                                {%endfor%}
                                {%if vars.domainePlus%}
                                    <li><a href="{{path('cielo_user_domaine_activite')}}" title="Plus">>></a></li>
                                {%endif%}
                           
                    </section>
                    </nav>
            </div>

            <div class="row-fluid">
                <div class="small-12 medium-3 large-3 columns">
                    <dl class="accordion margin7pxbri" data-accordion>
                        <dd>
                            <a href="#panel1">Panier</a>
                            <div id="panel1" class="content active">
                                <div class="row-fluid">
                                    <strong>
                                        <div class="small-6 medium-6 large-6 columns"  style="padding : 3px">
                                            <img src="{{asset('bundles/cielouser/images/basketbri.png')}}" alt="panier"/>
                                            Panier :  
                                        </div>

                                        <div class="small-6 medium-6 large-6 columns" style=" text-align: right;padding : 7px 3px 3px 3px">
                                            <span id="nbreProduit"> 0 </span> produit(s)
                                        </div>
                                    </strong>
                                </div>
                                <hr style="margin: 0.2rem 0 0.2rem;" />
                                <span style="font-size: 0.82rem" id="panierContainer">

                                </span>
                                <hr style="margin: 0.2rem 0 0.2rem;" />

                                <div class="row">
                                    <div class="small-5 medium-5 large-5 columns">
                                        Total
                                    </div>
                                    <div class="small-7 medium-7 large-7 columns" style=" text-align: right;">
                                        <strong style="color: green" id="montantTotal"> Montant total </strong>
                                    </div>
                                </div>   
                                <br/>
                                <div class="row">
                                    <div class="small-12 medium-12 large-12 columns">

                                        <a href="#" class="small button alert" style="color: #FFFFFF;" id="viderPanierUser">Vider le panier 
                                            <img src="{{asset('bundles/cielouser/images/panierbri.png')}}" alt="panier"/>
                                        </a>

                                    </div>
                                    <div class="small-12 medium-12 large-12 columns " style="height: 10px"></div>   
                                    <div class="small-12 medium-12 large-12 columns " style="margin-bottom :5px">
                                        <a href="{{path('cielo_commande_panier')}}" class="small button success" style="color: #FFFFFF;">Commander produits 
                                            <img src="{{asset('bundles/cielouser/images/commandebri.png')}}" alt="commande"/>
                                        </a>
                                    </div>
                                    <div class="small-12 medium-12 large-12 columns " style="margin-bottom :5px">
                                        <a data-reveal-id="historique_commande_modal" href="javascript:void(0){#{path('cielo_historique_commande')}#}" style="font-size: 12px">Historique de mes commandes</a>
                                    </div>
                                    <div class="reveal-modal tiny"  data-reveal id="historique_commande_modal">
                                        <h6 style="text-align: center; color: black">Sur quelle période voudriez-vous avoir l'historique de vos commandes</h6>
                                        <hr style="margin: 0px">
                                        <div style="margin: 5px; text-align: center; color: #aaa; font-size: 0.6rem">Ne sélectionnez aucune date de début ni date de fin si vous souhaiter avoir toute l'historique de vos commandes</div>
                                        <hr style="margin: 0px">
                                        <form style="margin-top: 5px" action="{{path('cielo_historique_commande')}}" method="POST">
                                            <label for="debut">Date de début</label>
                                            <input type="date" name="debut"/>
                                            <label for="fin">Date de fin</label>
                                            <input type="date" name="fin"/>
                                            <input type="submit" value="Valider" class="button tiny "/>
                                        </form>
                                        <a class="close-reveal-modal fermebri">&#215;</a>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                        {%if vars.nouveauProduit!=null%}
                    <dl class="accordion margin7pxbri" data-accordion>
                        <dd>
                            <a href="#panel2">Nouveaux produits</a>
                            <div id="panel2" class="content active">

                                <ul data-orbit data-options="resume_on_mouseout: true;  timer_speed:4000">
                                    {%for np in vars.nouveauProduit%}
                                    <li>
                                        <div class="nomproduitbri"><strong> <a style="font-size: 14px; color: black;" href="{{path("cielo_user_detail_produit", {'id': np.id})}}">{{np.nom}} </a></strong> </div>
                                        <div class="nomentreprisebri"><a style="color: #5d6067; font-size: 14px;" href="{{path("cielo_user_entreprise", {'id': np.categorie.entreprise.id})}}">{{np.categorie.entreprise.nom}}</a></div>
                                        {%if np.modeles[0].documents|length>0%}
                                                        {%if np.modeles[0].documents[0].lien!=null%}
                                        <div class="divimageproduitbri backgroundbri" style="background-image: url({{image((np.modeles[0].documents[0]).webPath).resize(191,160, 'ffffff')}}); ">
                                            <img src="{{asset('bundles/cielouser/images/bandeaubri.png')}}" alt="produit" style="height:140px; float: right" />
                                        </div>
                                        {%else%}
                                        <div class="divimageproduitbri backgroundbri" style="background-image: url({{asset('bundles/cielouser/images/deux.png')}}); ">
                                            <img src="{{asset('bundles/cielouser/images/bandeaubri.png')}}" alt="produit" style="height:140px; float: right" />
                                        </div>
                                             {%endif%}
                                            {%endif%}
                                        
                                        <div class="priproduitbri"><strong> {{np.modeles[0].prixPromo}} FCFA</strong> </div>
                                        <div class="boutoncommanderbri"> 
                                            <a href="{{path("cielo_user_detail_produit", {'id': np.id})}}" class="small button success" style="color: #FFFFFF; height: 30px; padding-top: 7px;">Détail
                                            </a>
                                        </div>
                                   </li>
                                    {%endfor%}
                                    
                                    
                                </ul>
                                <p class="voirplusbri"><a href="{{path('cielo_user_nouveaux_produits')}}" style="color: blue; text-align: right;" class="surlignerbri"> >> Voir nouveaux produits...</a></p>
                            </div>
                        </dd>
                    </dl>
                        {%endif%}
                {%if vars.produitEnPromo|length>0%}
                <dl class="accordion margin7pxbri" data-accordion>
                        <dd>
                            <a href="#panel3">Promotions</a>
                            <div id="panel3"  class="content active">
                                <ul data-orbit data-options="resume_on_mouseout: true;  timer_speed:2000">
                                    {%for pp in vars.produitEnPromo%}
                                    <li>
                                        <div class="nomproduitbri"><strong> <a style="color: black; font-size: 14px" href="{{path("cielo_user_detail_produit", {'id': pp.produit.id})}}">{{pp.produit.nom}} <span style="font-size: 12px; font-weight: normal">({{pp.promotion.nom}})</span></a></strong> </div>
                                        <div class="nomentreprisebri"><a style="color: #5d6067; font-size: 14px;" href="{{path("cielo_user_entreprise", {'id': pp.produit.categorie.entreprise.id})}}">{{pp.produit.categorie.entreprise.nom}}</a></div>
                                        {%if pp.produit.modeles[0].documents|length>0%}
                                                        {%if pp.produit.modeles[0].documents[0].lien!=null%}
                                        <div class="divimageproduitbri backgroundbri" style="background-image: url({{image((pp.produit.modeles[0].documents[0]).webPath).resize(191,160, 'ffffff')}}); ">
                                            <img src="{{asset('bundles/cielouser/images/bandeau_promo.png')}}" alt="produit" style="height:140px; float: right" />
                                        </div>
                                        {%else%}
                                        <div class="divimageproduitbri backgroundbri" style="background-image: url({{asset('bundles/cielouser/images/deux.png')}}); ">
                                            <img src="{{asset('bundles/cielouser/images/bandeau_promo.png')}}" alt="produit" style="height:140px; float: right" />
                                        </div>
                                             {%endif%}
                                            {%endif%}
                                        <div class="priproduitbribarre"><strong> {{pp.produit.modeles[0].prix}} FCFA</strong> </div>
                                        <div class="priproduitbri"><strong> {{pp.produit.modeles[0].prixPromo}} FCFA</strong> </div>
                                        <div class="boutoncommanderbri"> 
                                            <a href="{{path("cielo_user_detail_produit", {'id': pp.produit.id})}}" class="small button success" style="color: #FFFFFF; height: 30px; padding-top: 7px;">Détail
                                            </a>
                                        </div>
                                    </li>
                                    {%endfor%}
                                    
                                </ul>
                                
                                <p class="voirplusbri" ><a href="{{path('cielo_ecommerce_promotions')}}" style="color: blue; text-align: right;" class="surlignerbri"> >> Voir promotions...</a></p>

                        </dd>
                    </dl>
                  {%endif%}
                {%if vars.evenements|length>0%}
                <dl class="accordion margin7pxbri" data-accordion>
                <dd>
                    <a href="#panel4">Evènements</a>
                    <div id="panel4"  class="content active">
                        <ul data-orbit data-options="resume_on_mouseout: true;  timer_speed:2000">
                            {%for e in vars.evenements%}
                            <li>
                                <div class="nomproduitbri"><strong style="color: black; font-size: 14px"> {{e.nom}} </strong> </div>
                                {%if e.dateDebut==e.dateFin%}
                                <div class="nomentreprisebri" style="font-size: 12px">{{e.dateDebut|date('d/m/Y')}}</div>
                                {%else%}
                                <div class="nomentreprisebri" style="font-size: 12px">du {{e.dateDebut|date('d/m/Y')}} au {{e.dateFin|date('d/m/Y')}}</div>
                                {%endif%}
                                {%if e.documents|length>0%}
                                <div class="divimageproduitbri backgroundbri" style="background-image: url({{image(e.documents[0].webPath).resize(191,160, 'ffffff')}}); "> 
                                    <img src="{{asset('bundles/cielouser/images/bandeau_evenement.png')}}" alt="produit" style="height:140px; float: right" />
                                </div>
                                {%else%}
                                <div class="divimageproduitbri backgroundbri" style="background-image: url({{asset('bundles/cielouser/images/toofan.jpg')}}); "> 
                                    <img src="{{asset('bundles/cielouser/images/bandeau_evenement.png')}}" alt="produit" style="height:140px; float: right" />
                                </div>
                                {%endif%} 
                                <div class="boutoncommanderbri">
                                    <a href="{{path('cielo_user_detail_evenement', {'id': e.id})}}" class="small button success" style="color: #FFFFFF; height: 30px; padding-top: 7px;">Détail 
                                    </a>
                                </div>
                            </li>
                            {%endfor%}
                        </ul>
                        
                        <p class="voirplusbri" ><a href="{{path('cielo_ecommerce_evenements')}}" style="color: blue; text-align: right;" class="surlignerbri"> >> Voir évènements...</a></p>


                </dd>
            </dl>
            {%endif%}
                </div>
                <div class="small-12 medium-9 large-9 columns">
                    {% block body %}

                    {% endblock body %}
                    </div>
                            <div  class="small-12 columns" style="padding : 40px 0 0 0" >

                <div class="row" style="background-color: #3F4752; padding : 10px 0 10px 40px; margin : 0; font-size: 0.85rem">
                    <p style="color: #909AAB">Liens du site</p>
                    <div class="small-6 medium-3 large-3 columns" style="">
                        <a href="{{path('cielo_user_homepage')}}" style="color: #909AAB" > Accueil </a>  <br/><br/> 
                        <a href="{{path('cielo_mode_paiement')}}" style="color: #909AAB" > Modes de paiement </a>  <br/><br/>     
                        <a href="{{path('cielo_mode_livraison')}}" style="color: #909AAB;" > Modes de livraison </a>   <br/><br/> 
                        <a href="{{path('cielo_user_homepage')}}" style="color: #909AAB;" > Les jeux et leur utilisation </a>   <br/><br/> 
                    </div> 
                    <div class="small-6 medium-3 large-3 columns" style="">  
                        <a href="{{path('cielo_historique_commande')}}" style="color: #909AAB;" > Historique de mes commandes </a>     <br/><br/> 
                        <a href="#" style="color: #909AAB;" > Contactez-nous </a>     <br/><br/>
                        <a href="#" style="color: #909AAB;" > Les mentions légales </a>     <br/><br/>
                        <a href="#" style="color: #909AAB;" > Les Conditions Générales d’utilisation et de vente </a>     <br/><br/>
                    </div> 
                    <div class="small-6 medium-3 large-3 columns" style="">
                        <a href="{{path('cielo_ecommerce_promotions')}}" style="color: #909AAB;" > Promotions </a>    <br/><br/>  
                        <a href="{{path('cielo_user_nouveaux_produits')}}" style="color: #909AAB;" > Nouveaux produits </a>   <br/><br/> 
                        <a href="{{path('cielo_ecommerce_evenements_passer')}}" style="color: #909AAB;" > Evènements passés</a>      <br/><br/>
                    </div>
                    <div class="small-6 medium-3 large-3 columns" style="">     
                        <a href="{{path('cielo_user_entreprises')}}" style="color: #909AAB;" > Entreprises </a>   <br/><br/>     
                        <a href="{{path('cielo_ecommerce_jeux')}}" style="color: #909AAB;" > Jeux </a>      <br/><br/>    
                        <a href="{{path('cielo_ecommerce_evenements')}}" style="color: #909AAB;" > Evènements à venir</a>      <br/><br/>
                    </div>
                </div>

                <div class="row" style="background-color: whitesmoke;padding: 20px 0 10px 0; margin : 0; font-size: 0.96rem">

                    <div class="small-6 medium-7 large-7 columns" style="margin-top: 5px">&copy; {{"now"|date('Y')}} Cielo MarkConcept</div>
                    <div class="small-6 medium-5 large-5 columns" style="text-align: right">
                        <a href="#"><img src="{{asset('bundles/cielouser/images/facebook.png')}}" alt="phone"/> </a>
                        <a href="#"> <img src="{{asset('bundles/cielouser/images/google_plus.png')}}" alt="phone"/></a>
                        <a href="#"> <img src="{{asset('bundles/cielouser/images/twitter.png')}}" alt="phone"/></a>
                    </div>
                </div>


            </div>
                </div>

            </div>
            <div style="{%if vars.pubPanelDroit%}{%else%}height: 2px;{%endif%}float: right; {%if vars.pubPanelDroit%}background: {{vars.pubPanelDroit.couleurArrierePlan}}{%endif%}" id="rightPubPanel">
                {%if vars.pubPanelDroit%}
                <a href="{%if vars.pubPanelDroit.lien!=null%}http://{{vars.pubPanelDroit.lien}}{%else%}javascript:void(0){%endif%}"><img src="{{asset(vars.pubPanelDroit.document.webPath())}}" style="margin-right: 5px; width: 100%; margin-top: 175px;" title="{{vars.pubPanelDroit.nom}}"/></a>
                {%endif%}
            </div>
        {%block javascript%}
                <script type="text/javascript" src="{{asset('bundles/cielouser/foundation/js/jquery.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/cielouser/foundation/js/foundation.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/cielouser/foundation/js/modernizr.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/cielouser/js/monjs.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/cielouser/js/wScratchPad.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/cielouser/js/jquery.loupe.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/cielouser/js/jquery.raty.js')}}"></script>

            <script type="text/javascript">

                $('.demo-2').loupe({
                    width: 240, // width of magnifier
                    height: 240, // height of magnifier
                    loupe: 'loupe' // css class for magnifier
                });
                var mainPanelWidth = document.getElementById("mainPanel").offsetWidth;
                var bodyWidth = document.body.offsetWidth;
                if(mainPanelWidth===1000){
                    document.getElementById("leftPubPanel").style.width=((bodyWidth-mainPanelWidth)/2)+"px";
                    document.getElementById("rightPubPanel").style.width=((bodyWidth-mainPanelWidth)/2)+"px";
                }else{
                    document.getElementById("leftPubPanel").style.display="none";
                    document.getElementById("rightPubPanel").style.display="none";
                    document.getElementById("mainPanel").style.float="none";
                }
                window.onresize=function(e){
                    var mainPanelWidth = document.getElementById("mainPanel").offsetWidth;
                    var bodyWidth = document.body.offsetWidth;
                    if(mainPanelWidth===1000){
                        document.getElementById("leftPubPanel").style.width=((bodyWidth-mainPanelWidth)/2)+"px";
                        document.getElementById("rightPubPanel").style.width=((bodyWidth-mainPanelWidth)/2)+"px";
                        document.getElementById("leftPubPanel").style.display="block";
                        document.getElementById("rightPubPanel").style.display="block";
                        document.getElementById("mainPanel").style.float="left";
                    }else{
                        document.getElementById("leftPubPanel").style.display="none";
                        document.getElementById("rightPubPanel").style.display="none";
                        document.getElementById("mainPanel").style.float="none";
                    }
                };
                
                $(document).foundation();
            </script>
        {%endblock javascript %}
    </body>
</html>


