<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site béninois e-commerce pour la vente et l'achat de différents produits classés en catégories, ayant une partie pour les jeux et les promotions">
        <meta name="keywords" content="e-commerce vente achat produits catégories béninois jeux promotions">
        <meta name="author" content="MobileLab">
        <title>{% block title %}CIELO Market | {% endblock title %}</title>

        {%block stylesheets %}
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('bundles/cieloadmin/admin/img/logo_short.ico')}}"> 

        <link rel="stylesheet" href="{{asset('bundles/cielouser/foundation/css/foundation.min.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{asset('bundles/cielouser/foundation/css/normalize.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{asset('bundles/cielouser/css/monstyle.css')}}" type="text/css"/>
        <script type="text/javascript" src="{{asset('bundles/cielouser/foundation/js/jquery.js')}}"></script>


{%endblock stylesheets %}
    </head>
    <body>
          {% block body %}

          {% endblock body %}
                    
        {%block javascript%}
            <script type="text/javascript" src="{{asset('bundles/cielouser/foundation/js/foundation.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/cielouser/foundation/js/modernizr.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/cielouser/js/monjs.js')}}"></script>
        {%endblock javascript %}
    </body>
</html>


