{%extends "CIELOEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Ajouter propriété catégorie {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_enterprise_homepage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_enterprise_categories')}}">Catégories</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_enterprise_voir_propriete_categorie')}}">Propriété Catégories</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Ajout d'une nouvelle propriété</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
            
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Ajout d'une propriété</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                            <div class="row-fluid">
                                <div class="span4">
                                    {{ form_label(form.nom, "Nom") }}
                                    {{ form_errors(form.nom) }}
                                    {{ form_widget(form.nom) }}
                                     
                                    {{ form_label(form.description, "Description") }}
                                    {{ form_errors(form.description) }}
                                    {{ form_widget(form.description) }}
                                </div>
                                <div class="span4">
                                    {{ form_label(form.type, "Type") }}
                                    {{ form_errors(form.type) }}
                                    {{ form_widget(form.type) }}
                                     
                                    {{ form_label(form.categorie, "Choisir une catégorie") }}
                                    {{ form_errors(form.categorie) }}
                                    {{ form_widget(form.categorie) }}
                                </div>
                                <div class="span4">
                                    {{ form_widget(form) }}
                                </div>
                             </div>
                            
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                    </div>
                </div>
         </div>
    </div>
{% endblock bodyFils1%}