{%extends "CIELOEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Catégorie {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_enterprise_categories')}}">Catégories</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Propriétés Catégories</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="row-fluid" style="margin-bottom: 20px;">
                    <div style="float: right">
                    <!--<a class="btn" href="{{path('cielo_enterprise_ajouter_propriete_categorie')}}" title="Créer une nouvelle catégorie">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons2/gear.png')}}" class="utopia-icons2-medium-img">
                     Ajouter Propriété
                    </a>-->
                        </div>
                </div>
                
            <div class="row-fluid">
                <div class="span12">
                    <section class="utopia-widget">
                        <div class="utopia-widget-title">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                            <span>Les propriétés de catégorie</span>
                        </div>

                        <div class="utopia-widget-content">

                            <table class="table datatable table-striped table-bordered">

                                <colgroup>
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                </colgroup>


                                <thead>
                                <tr>
                                    <th>Catégorie</th>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                {%if proprieteCategories|length!=null%}
                                {% for p in proprieteCategories%}
                                        {% for pr in p%}
                                 <tr> 
                                     <td>
                                         {{pr.categorie.nom}}
                                     </td>
                                     <td>
                                         {{pr.nom}}
                                     </td>
                                     <td>
                                         {{pr.description}}
                                     </td>
                                     <td>
                                         {{pr.type}}
                                     </td>
                                     <td>
                                        <a href="{{path('cielo_enterprise_modifier_propriete_categorie', {'id': pr.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" alt="Modifier"></a>
                                        <a href="{{path('cielo_enterprise_supprimer_propriete_categorie', {'id': pr.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                     </td>
                                 </tr>
                                 {%endfor%}
                                 {%endfor%}
                              </tbody>
                                {%endif%}
                                <tfoot>
                                <tr>
                                    <th>Catégorie</th>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyFils1%}