{%extends "CIELOAdminEntrepriseBundle::layout.html.twig"%}
{% block title %} {{ parent() }}Admin Entreprise | Tableau de bord {% endblock title %}
{% block bodyFils1 %}

<div class="span10 body-container">

    <div class="row-fluid">
        <div class="span3">
            <div class="utopia-chart-legend">
                <div class="utopia-chart-icon">
                    <img src="{{asset('bundles/cieloadmin/admin/img/pointe.png')}}">
                </div>
                <div class="utopia-chart-heading">{{nbreCategorie}}</div>
                <div class="utopia-chart-desc">Catégories de Produits</div>
            </div>
        </div>
        <div class="span3">
            <div class="utopia-chart-legend">
                <div class="utopia-chart-icon">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/clock.png')}}">
                </div>
                <div class="utopia-chart-heading">{{nbreProduit}}</div>
                <div class="utopia-chart-desc">Produits</div>
            </div>
        </div>
        <div class="span3">
            <div class="utopia-chart-legend">
                <div class="utopia-chart-icon">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/coin.png')}}">
                </div>
                <div class="utopia-chart-heading">{{nbrePromotion}}</div>
                <div class="utopia-chart-desc">Promotions</div>
            </div>
        </div>
        <div class="span3">
            <div class="utopia-chart-legend">
                <div class="utopia-chart-icon">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/shopping_basket.png')}}">
                </div>
                <div class="utopia-chart-heading">{{nbreProduitPromotion}}</div>
                <div class="utopia-chart-desc">Produits en promotion</div>
            </div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span12">

            <section class="utopia-widget">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/checkmark.png')}}" class="utopia-widget-icon">
                    <span>Racourcis</span>
                </div>

                <div class="utopia-widget-content">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="utopia-chart-legend" style="height: 60px">
                                <div class="utopia-chart-desc"><a href="{{path('cielo_admin_enterprise_categories_creer')}}">Catégorie</a></div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="utopia-chart-legend" style="height: 60px">
                                <div class="utopia-chart-desc"><a href="{{path('cielo_admin_enterprise_creer_modele_produit')}}">Produit</a></div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="utopia-chart-legend" style="height: 60px">
                                <div class="utopia-chart-desc"><a href="{{path('cielo_admin_enterprise_creer_promotion')}}">Promotion</a></div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="utopia-chart-legend" style="height: 60px">
                                <div class="utopia-chart-desc"><a href="{{path('cielo_admin_enterprise_ajouter_un_produit_promotion')}}">Ajouter un produit en promo</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>

</div><!-- Body end -->

{% endblock bodyFils1 %}

