<!--
    Jeu de carte à gratter ou le client doit gratter trois cases pour découvrir la même image d'un objet trois fois et gagne cet objet
    Paramètres : 
        - args[0] fréquence de succès en Heure (int)
        - args[1] Nombre de participations maximal (int)
        - args[2] Nombre de gagnants maximal (int)
        - args[3] Pourcentage de succès (int)
        - args[4] Liste des images du jeu (image)
            - args[4].valeur[0] Image d'avant plan
            - args[4].valeur[1...n] les autres images d'arrière plan du jeu
-->
{% set hours =  args[0].valeur %}

{% set frequence = args[0].valeur %}
{% set imgForeground = args[4].valeur[0]%}
{%set tempimg=[] %}

{%for key, image in args[4].valeur%}
    {%if key != 0%}
        {%set tempimg = tempimg|merge({(key - 1) : image})%}
    {%endif%}
{%endfor%}
<!-- renforcer le jeu-->
{%set gagner=[] %}
{%for p in 0..99%}
    {%if p < args[3].valeur%}
        {%set gagner = gagner|merge({(p) : true})%}
    {%else%}
        {%set gagner = gagner|merge({(p) : false})%}
    {%endif%}
{%endfor%}
{%set agagner =random(gagner) %}

<!-- fin renforcer le jeu-->
{% set hours =  args[0].valeur %}
{%if nombreParticipationJoueur > args[1].valeur  %}
    {%set agagner = false%}
{%elseif nombreGagnantJeu >= args[3].valeur %}
    {%set agagner = false%}
{%elseif derniereParticipationGagnanteJeu and date(derniereParticipationGagnanteJeu.dateParticipation) > date( '-' ~ hours ~' hours') %}
    {%set agagner = false%}
{%elseif derniereParticipationGagnanteJoueur and date(derniereParticipationGagnanteJeu.dateParticipation)|date("Y-m-d") == date()|date("Y-m-d")%}
    {%set agagner = false%}
{%endif%}
{% if agagner %}
    {%set imageGagnante = random(tempimg)%}
    {%set img =[imageGagnante, imageGagnante, imageGagnante] %}
{%else%}
    {%set img = [random(tempimg), random(tempimg), random(tempimg)] %}
    {%if img[0] == img[1] and img[1] == img[2]%}
        {%set img = [args[4].valeur[1], args[4].valeur[2], args[4].valeur[2]] %}
    {%endif%}
{%endif%}
<!--<div style="color: red">Nombre de tentatives : {{nombreParticipationJoueur}} sur {{args[1].valeur}}</div>-->
{%if derniereParticipationGagnanteJoueur%}
<div>Votre numero gagnant pour le dernier gain remporté est : {{derniereParticipationGagnanteJoueur.numGagnant}}</div>
{%endif%}
<div id="resultat"></div>
<div class="row"  style="margin-left :0px; margin-bottom: 15px" >
    <div class="large-4 columns" style="width : 100%">
        <div class="grattage0" style=" position:relative;  border-style: ridge; border-color: lightgray; width: 295px; height: 195px; margin: auto"></div>
    </div>
    <div class="large-4 columns" style="width : 100%">
        <div class="grattage1" style=" position:relative;  border-style: ridge; border-color: lightgray; width: 295px; height: 195px; margin: auto"></div>
    </div>
    <div class="large-4 columns" style="width : 100%">
        <div class="grattage2" style=" position:relative;  border-style: ridge; border-color: lightgray; width: 295px; height: 195px; margin: auto"></div>
    </div>
</div>
<script type="text/javascript" src="https://cielo-market.com/bundles/cielouser/js/wScratchPad.js"></script>

<script type="text/javascript">
    var img = {{img|json_encode()|raw}};
    var gagner = {%if agagner%} true {%else%} false {%endif%};
    var gratter = [false, false, false];
    var userAgent = navigator.userAgent.toLowerCase();
    size = 90

    if(/bb10/.test( userAgent )){
        size = 300
    }
    if(/msie/.test( userAgent ) && !/opera/.test( userAgent )){
        size = 200
    }
    for(var i=0; i< 3; i++ ){
        var sp = $(".grattage"+i).wScratchPad({
            width : 290,
            height: 190,
            image: img[i].img,
            image2 : '{{imgForeground.img}}',
            i : i,
            cursor: 'https://cielo-market.com/bundles/cielouser/images/coin.png',
            color: '#336699',
            size : size,
            realtimePercent : false,
            scratchDown: null,
            scratchMove: null,
            scratchUp: function(e, percent) {
                if (percent > 60 || /bb10/.test( userAgent )) {
                    gratter[this.settings.i] = true;
                    this.clear();
                    send()
                }
            }

        });
    }
    function afficher(t){
        $("#resultat").text(t);
    }
    function send(){
        if(gratter[0] && gratter[1] && gratter[2]){
            $.ajax({
                    url : "https://cielo-market.com/traiter-jeu/{{campagneJeu.id}}/{{participationJeu.id}}",
                    data : {gain : gagner ? img[0].gain : 0 },
                    type : "POST",
                    success: function(e){
                        if(e == "true" && gagner){
                            afficher("Votre gain est enregistré. Veuillez vous rapprocher de l'entreprise. Votre numero pour récupérer votre gain est : {{participationJeu.numGagnant}}")
                        }
                    }
            })
            if(gagner){
                afficher("Bravo vous avez gagner !!")
            }else{
                afficher("Vous avez perdu !!")
            }
        }
    }


    
</script>
