<!--
    Jeu de carte à gratter ou le client doit gratter seulement une case pour découvrir l'image d'un objet et gagne cet objet
    Paramètres : 
        - args[0] fréquence de succès en Heure (int)
        - args[1] Nombre de participations maximal (int)
        - args[2] Nombre de gagnants maximal (int)
        - args[3] Pourcentage de succès (int)
        - args[4] Liste des images du jeu (image)
            - args[4].valeur[0] Image d'avant plan
            - args[4].valeur[1] Image non gagnante
            - args[4].valeur[2...n] les autres images d'arrière plan du jeu
-->
{% set hours =  args[0].valeur %}

{% set frequence = args[0].valeur %}
{% set imgForeground = args[4].valeur[0]%}
{%set tempimg=[] %}

{%for key, image in args[4].valeur%}
    {%if key != 0 and key != 1%}
        {%set tempimg = tempimg|merge({(key - 2) : image})%}
    {%endif%}
{%endfor%}
<!-- renforcer le jeu-->
{%set gagner=[] %}
{%for p in 0..99%}
    {%if p < args[3].valeur%}
        {%set gagner = gagner|merge({(p) : true})%}
    {%else%}
        {%set gagner = gagner|merge({(p) : false})%}
    {%endif%}
{%endfor%}
{%set agagner =random(gagner) %}


<!-- fin renforcer le jeu-->
{% set hours =  args[0].valeur %}
{%if nombreParticipationJoueur > args[1].valeur  %}
    {%set agagner = false%}
{%elseif nombreGagnantJeu >= args[2].valeur %}
    {%set agagner = false%}
{%elseif derniereParticipationGagnanteJeu and date(derniereParticipationGagnanteJeu.dateParticipation) > date( '-' ~ hours ~' hours') %}
    {%set agagner = false%}
{%elseif derniereParticipationGagnanteJoueur and date(derniereParticipationGagnanteJeu.dateParticipation)|date("Y-m-d") == date()|date("Y-m-d")%}
    {%set agagner = false%}
{%endif%}
{% if agagner %}
    {%set img =[random(tempimg)] %}
{%else%}
    {%set img =[args[4].valeur[1]] %}
{%endif%}
<!--<div style="color: red">Nombre de tentatives : {{nombreParticipationJoueur}} sur {{args[1].valeur}}</div>-->
{%if derniereParticipationGagnanteJoueur%}
<div>Votre numero gagnant pour le dernier gain remporté est : {{derniereParticipationGagnanteJoueur.numGagnant}}</div>
{%endif%}
<div id="resultat"></div>
<div class="row"  style="margin-left :0px; margin-bottom: 15px">
    <div class="large-12 columns">
        <div class="grattage" style=" position:relative;  border-style: ridge; border-color: lightgray; width: 295px; height: 195px; margin: auto"></div>
    </div>
</div>
<script type="text/javascript" src="https://cielo-market.com/bundles/cielouser/js/wScratchPad.js"></script>

<script type="text/javascript">
    var img = {{img|json_encode()|raw}};
    var gagner = {%if agagner%} true {%else%} false {%endif%};
    var gratter = false;

    var userAgent = navigator.userAgent.toLowerCase();

    size = 90

    if(/bb10/.test( userAgent )){
        size = 300
    }
    if(/msie/.test( userAgent ) && !/opera/.test( userAgent )){
        size = 200
    }

    $(".grattage").wScratchPad({
            width : 290,
            height: 190,
            image: img[0].img,
            image2 : '{{imgForeground.img}}',
            cursor: 'https://cielo-market.com/bundles/cielouser/images/coin.png',
            color: '#336699',
            size : size,
            realtimePercent : false,
            scratchDown: null,
            scratchMove: null,
            scratchUp: function(e, percent) {
                if (percent > 60 || /bb10/.test( userAgent )) {
                    gratter = true;
                    this.clear();
                    send()
                }
            }
    });
    function afficher(t){
        $("#resultat").text(t);
    }
    function send(){
        if(gratter){
            $.ajax({
                    url : "https://cielo-market.com/traiter-jeu/{{campagneJeu.id}}/{{participationJeu.id}}",
                    data : {gain : gagner ? img[0].gain : 0 },
                    type : "POST",
                    success: function(e){
                        if(e == "true" && gagner){
                            afficher("Votre gain est enregistré. Veuillez vous rapprocher de l'entreprise. Votre numero pour récupérer votre gain est : {{participationJeu.numGagnant}}")
                        }
                    }
            })
            if(gagner){
                afficher("Bravo vous avez gagné !!")
            }else{
                afficher("Vous avez perdu !!")
            }
        }
    }
</script>
