<!--
    Jeu de carte à gratter ou le client doit gratter seulement une case pour gagner des points et accumuler un maximum pour gagner
    Paramètres : 
        - args[0] Fréquence de succès en Heure (int)
        - args[1] Nombre de participations maximale (int)
        - args[2] Nombre maximal de point à atteindre (int)
        - args[3] Nombre de gagnants maximal (int)
        - args[4] Pourcentage de succès (int)
        - args[5] Liste des images du jeu (image)
            - args[5].valeur[0] Image d'avant plan
            - args[5].valeur[1] Image non gagnante
            - args[5].valeur[2...n] les autres images d'arrière plan du jeu
-->

{%if (not derniereParticipationGagnanteJoueur and nombreParticipationJoueur <= args[1].valeur) or (derniereParticipationGagnanteJoueur and derniereParticipationGagnanteJoueur.gain <  args[2].valeur and nombreParticipationJoueur <= args[1].valeur)  %}
{% set frequence = args[0].valeur %}
{% set imgForeground = args[5].valeur[0]%}
{%set tempimg=[] %}

{%for key, image in args[5].valeur%}
    {%if key != 0 and key != 1%}
        {%set tempimg = tempimg|merge({(key - 2) : image})%}
    {%endif%}
{%endfor%}
<!-- renforcer le jeu-->
{%set gagner=[] %}
{%set totalImgGagnates = tempimg|length%}
{%for p in 0..99%}
    {%if p < args[4].valeur%}
        {%set gagner = gagner|merge({(p) : true})%}
    {%else%}
        {%set gagner = gagner|merge({(p) : false})%}
    {%endif%}
    
{%endfor%}
{%set agagner =random(gagner) %}
<!-- fin renforcer le jeu-->
{% set hours =  args[0].valeur %}
{%if nombreGagnant >= args[3].valeur %}
    {%set img = [args[5].valeur[1]] %}
{%else%}
    {% if agagner %}
        {%set img =[random(tempimg)] %}
    {%else%}
        {%set img =[args[5].valeur[1]] %}
    {%endif%}
{%endif%}
<div style="color: red">Total de points actuel {{derniereParticipationGagnanteJoueur ? derniereParticipationGagnanteJoueur.gain : 0}}</div>
<!--<div style="color: red">Nombre de tentatives : {{nombreParticipationJoueur}} sur {{args[1].valeur}}</div> -->
<div id="resultat"></div>
<div class="row"  style="margin-left :0px; margin-bottom: 15px">
    <div class="large-12 columns">
        <div class="grattage" style="position:relative;  border-style: ridge; border-color: lightgray; width: 295px; height: 195px; margin: auto"></div>
    </div>
</div>
    <script type="text/javascript" src="https://cielo-market.com/bundles/cielouser/js/wScratchPad.js"></script>

    <script type="text/javascript">
        var img = {{img|json_encode()|raw}};
        var gagner = {%if agagner%} true {%else%} false {%endif%};
        var gratter = false;
        var userAgent = navigator.userAgent.toLowerCase();
        var userAgent = navigator.userAgent.toLowerCase();

        size = 90

        if(/bb10/.test( userAgent )){
            size = 300
        }
        if(/msie/.test( userAgent ) && !/opera/.test( userAgent )){
            size = 200
        }
        $(".grattage").wScratchPad({
                width : 290,
                height: 190,
                image: img[0].img,
                image2 : '{{imgForeground.img}}',
                cursor: 'https://cielo-market.com/bundles/cielouser/images/coin.png',
                color: '#336699',
                size : size,
                realtimePercent : false,
                scratchDown: null,
                scratchMove: null,
                scratchUp: function(e, percent) {
                    if (percent > 60 || /bb10/.test( userAgent )) {
                        gratter = true;
                        this.clear();
                        send()
                    }
                }
        });
        function afficher(t){
            $("#resultat").text(t);
        }
        function send(){
            if(gratter){
                $.ajax({
                        url : "https://cielo-market.com/traiter-jeu/{{campagneJeu.id}}/{{participationJeu.id}}",
                        data : {gain : gagner ? (parseInt('{{derniereParticipationGagnanteJoueur ? derniereParticipationGagnanteJoueur.gain : 0}}') + parseInt(img[0].gain)) : parseInt('{{derniereParticipationGagnanteJoueur ? derniereParticipationGagnanteJoueur.gain : 0}}') },
                        type : "POST",
                        success: function(e){
                            if(e == "true" && gagner){
                                if((parseInt('{{derniereParticipationGagnanteJoueur ? derniereParticipationGagnanteJoueur.gain : 0}}') + parseInt(img[0].gain)) >= {{args[2].valeur}})
                                    afficher("Votre gain est enregistré. Veuillez vous rapprocher de l'entreprise.")
                                else
                                    afficher("Vos points ont été enregistrés. Encore un t'peu, vous allez gagner, encore "+ ({{args[2].valeur}} - (parseInt('{{derniereParticipationGagnanteJoueur ? derniereParticipationGagnanteJoueur.gain : 0}}') + parseInt(img[0].gain))) + " points.")
                            }
                        }
                })
                if(gagner)
                    afficher("Bravo vous avez gagné "+ img[0].gain +" points supplémentaires")
                else
                    afficher("Vous avez perdu !!")
            }
        }
        </script>
{%elseif (derniereParticipationGagnanteJoueur and derniereParticipationGagnanteJoueur.gain >=  args[2].valeur)%}
    <div > Vous avez gagné ! veuillez rééssayer plus tard, votre code pour récupérer le gain est : {{derniereParticipationGagnanteJoueur.numGagnant}}</div>
{%else%}
    <div > Vous avez atteint le nombre maximal de participations</div>
{%endif%}