<form method="post"  {{ form_enctype(form) }} class="form-horizontal" >
    <div class="row-fluid">
        <div class="span6">
            {{form_label(form.nom)}}
            {{form_widget(form.nom)}}
            
            {{form_label(form.description)}}
            {{form_widget(form.description)}}
            {{form_label(form.entreprise)}}
            {{form_widget(form.entreprise)}}
        </div>
        <div class="span6">
            {{form_label(form.dateDebut)}}
            {{form_widget(form.dateDebut)}}
            {{form_label(form.dateFin)}}
            {{form_widget(form.dateFin)}}
        </div>
    </div>
    {{ form_rest(form) }}
    <input type="submit" class="btn" style="margin-top: 10px;"/>
</form>