{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Créer une campagne {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Campagne</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Création d'une campagne</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
         <div class="row-fluid">
            <div class="span12">
                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Choisir la campagne et le jeu</span>
                    </div>

                    <div class="utopia-widget-content">
                        <form method="get" action="" class="form-horizontal">
                            <div class="row-fluid">
                                <div class="span3">
                                    <label for="campagne">Campagne</label>
                                </div>
                                <div class="span9">
                                    <label for="jeu">Jeu</label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <select name="campagne">
                                        {%for c in campagnes%}
                                        <option value="{{c.id}}" {%if c.id == campagneId%} selected="selected" {%endif%}>{{c.nom}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="span3">
                                    <select name="jeu">
                                        {%for j in jeux%}
                                        <option value="{{j.id}}"  {%if j.id == jeuId%} selected="selected" {%endif%} >{{j.nom}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="span6">
                                    <input type="submit" class="btn" style="margin-top: 10px;"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Editer les proprietés</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin: 20px;">
                        {%if details%}
                        <form method="post"  {{ form_enctype(form) }} class="form-horizontal">
                            {%for ob in form%}
                            {%if ob.vars.block_prefixes[1] != "hidden"%}
                            <div {%if ob.vars.prototype is defined%} data-prototype="{{form_widget(ob.vars.prototype)|e}}" {%endif%}>
                                {%if ob.vars.prototype is defined%}
                                <div style="color: #cacaca; font-size: 11px">{{ob.vars.attr.desc}}</div>
                                <a href="#" class="button-add">Ajouter</a>
                                {%for subob in ob%}
                                    {{ form_label(ob) }}
                                    {{ form_widget(ob) }}
                                {%endfor%}
                                {%else%}
                                {{ form_label(ob) }}
                                <div style="color: #cacaca; font-size: 11px">{{ob.vars.attr.desc}}</div>
                                {{ form_widget(ob) }}
                                {%endif%}
                            </div>
                            {%endif%}
                            {%endfor%}
                            {{form_rest(form)}}
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                        {%endif%}
                    </div>
                </div>
         </div>
    </div>
<script type="text/javascript">
       $(".button-add").click(function(e){
           e.preventDefault();
           var container = $(this).parent();
           var prototype = container.attr("data-prototype");
           var newWidget = prototype.replace(/__name__/g, container.children().length - 1);
           container.append(newWidget);
       });
    </script>
{% endblock bodyFils1%}