{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Entreprise | Jeux {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Campagne de jeu</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="row-fluid" style="margin-bottom: 20px; ">
                    <div style="float: right">
                        <a class="btn" href="{{path('cielo_admin_editer_campagne_jeu')}}" title="Ajouter un nouveau jeu">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                         Ajouter une campagne de jeu
                        </a>
                    </div>
                </div>
                
            <div class="row-fluid">
                <div class="span12">
                    <section class="utopia-widget">
                        <div class="utopia-widget-title">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                            <span>Toutes les campagnes</span>
                        </div>

                        <div class="utopia-widget-content">

                            <table class="table datatable table-striped table-bordered">

                                <colgroup>
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Icone</th>
                                    <th>Campagne</th>
                                    <th>Entreprise</th>
                                    <th>Jeu</th>
                                    <th>Parametres</th>
                                    <th>Code QR</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                    {% for c in campagnesJeux%}
                                 <tr>
                                     <td>
                                         {%if c.icone %}
                                            <img src="{{image(c.icone.webPath).resize(100, 100, "0xF9F9F9")}}" />
                                         {%endif%}
                                     </td>
                                     <td>
                                         <a href="{{path('cielo_admin_editer_campagne', {id:c.campagne.id})}}">{{c.campagne.nom}}</a>
                                     </td>
                                     <td>
                                         {{c.campagne.entreprise.nom}}
                                     </td>
                                     <td>
                                         <a href="{{path('cielo_admin_editer_jeux', {id:c.jeu.id})}}">{{c.jeu.nom}}</a>
                                     </td>
                                     <td>
                                         {%for propriete in c.jeu.proprietes%}
                                            {%for proprieteValeur in c.valeurProprieteJeux%}
                                                {%if proprieteValeur.proprieteJeu.id == propriete.id%}
                                                    {%if propriete.type != "image"%}
                                                        {{propriete.nom}} : {{proprieteValeur.valeur}}<br/>
                                                    {%endif%}
                                                {%endif%}
                                            {%endfor%}
                                            {%if propriete.type == "image"%}
                                                {{propriete.nom}} : Liste d'images <br/>
                                            {%endif%}
                                         {%endfor%}
                                     </td>
                                     <td>
                                         <div id="utopia-barcode-{{c.id}}" class="utopia-qrcode" style="height: 192px">
                                                                </div>
                                                                <script type="text/javascript">
                                                                    $(document).ready(function() {
                                                                        $("#utopia-barcode-{{c.id}}").qrcode({
                                                                            text: "http://{{host}}{{path('cielo_ecommerce_jouer', {'id': c.id})}}",
                                                                            width: 192,
                                                                            height: 192
                                                                        });
                                                                        console.log("http://{{host}}{{path('cielo_ecommerce_jouer', {'id': c.id})}}");
                                                                    })

                                                                    </script>
                                     </td>
                                     <td>
                                        <a href="{{path("cielo_admin_editer_campagne_jeu")}}?campagne={{c.campagne.id}}&amp;jeu={{c.jeu.id}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                        <a id="qr-code-produit-{{c.id}}" class="delete" download="{{c.nom}}.png"><img src="{{asset('bundles/cieloadmin/admin/img/icons/download2.png')}}" title="Télécharger Code QR"></a>
                                                                    <script>
                                                                        $(document).ready(function() {
                                                                            var monCanvas = document.querySelector("#utopia-barcode-{{c.id}} canvas");
                                                                            document.getElementById("qr-code-produit-{{c.id}}").setAttribute('href', convertCanvasToImage(monCanvas).getAttribute('src'));
                                                                        });
                                                                    </script>
                                        <a href="{{path("cielo_admin_supprimer_campagne_jeu", {id : c.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                     </td>
                                 </tr>
                                 {%endfor%}
                              </tbody>

                                <tfoot>
                                <tr>
                                    <th>Icone</th>
                                    <th>Campagne</th>
                                    <th>Entreprise</th>
                                    <th>Jeu</th>
                                    <th>Parametres</th>
                                    <th>Code QR</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="row-fluid">
                                <div class="span6">
                                    
                                </div>

                                <div class="span6">
                                    <span style="float: right; color: #999; font-size: 0.6rem">selon la base de données</span>
                                    <div class="pagination pagination-right">
                                        <ul>
                                            <li class="prev {%if page==1%}disabled{%endif%}"><a href="{{path('cielo_admin_list_campagne', {'page': 1})}}">←</a></li>
                                            {%for i in 1..nbrTotalPages%}
                                            <li class="{%if i==page%}active{%endif%}"><a href="{{path('cielo_admin_list_campagne', {'page': i})}}">{{i}}</a></li>
                                            {%endfor%}
                                            <li class="next {%if page==nbrTotalPages%}disabled{%endif%}"><a href="{{path('cielo_admin_list_campagne', {'page': nbrTotalPages})}}">→ </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyFils1%}
{%block javascript%}
{{parent()}}
                            <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery-barcode-2.0.2.js')}}"></script>
                            <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/prettify.js')}}"></script>
                            <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/qrcode.js')}}"></script>
                            <script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery.qrcode.js')}}"></script>
                            <script type="text/javascript">
                                function convertCanvasToImage(canvas) {
                                    var image = new Image();
                                    image.src = canvas.toDataURL("image/png");
                                    return image;
                                }
                                </script>
{%endblock javascript%}