{%extends "CIELOUserBundle::layout_admin_login.html.twig"%}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %} Cielo Market | Admin | Login {% endblock title %}
{% block fos_user_content %}
{% if error %}
<div data-alert class="alert alert-error" style="margin-bottom: 5px;"> 
    <a class="close" data-dismiss="alert" href="#">×</a>
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
</div>
{% endif %}
<form action="{{ path("cielo_admin_login_check") }}" method="post" class="utopia">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" placeholder="Nom d'utilisateur" required="required" class="span12 utopia-fluid-input validate[required]"/>

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" required="required" class="span12 utopia-fluid-input validate[required]" placeholder="*******"/>

    <ul class="utopia-login-action">
        <li>
            <div class="pull-right"><input type="checkbox" id="remember_me" name="_remember_me" value="on" ></div>
            <!-- <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> -->
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn span4"/>
        </li>
    </ul>				
    </form>
{% endblock fos_user_content %}
