{% extends "CIELOUserBundle::layout_client_user.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("cielo_client_login_check") }}" method="post">
    <div class="row">
                <div class="small-6 columns" style="float: left">
                    <fieldset>
                        <legend style="color: lightslategray;">Connexion</legend>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <label for="username">Nom d'utilisateur{#{{ 'security.login.username'|trans }}#}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                        <label for="password">Mot de passe{#{{ 'security.login.password'|trans }}#}</label>
                        <input type="password" id="password" name="_password" required="required" />

                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">Se souvenir de moi{#{{ 'security.login.remember_me'|trans }}#}</label>
                    </fieldset>
                        <div style="margin-top: 10px; float: right">
                            <input type="submit" id="_submit" name="_submit" class="button alert" value="Se connecter{#{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}#}" class="btn span4"/>
                        </div>
                        <div style="margin-top: 10px; float: left">
                            <a title="Si vous n'êtes pas encore inscri" href="{{path('cielo_client_registration_register')}}">Inscription</a>
                        </div>
                </div>
            </div>
    

    
</form>
{% endblock fos_user_content %}