{%extends "CIELOAdminBundle::adminLayout.html.twig"%}
{% block title %} {{ parent() }}| Admin | Login {% endblock title %}
{%block enteteAdmin%}
{%endblock enteteAdmin%}

{%block menuAdmin%}
{%endblock menuAdmin%}
{% block bodyFils1 %}
{% block fos_user_content %}

{% if error %}
<div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<div class="container-fluid">

    <div class="row-fluid">
        <div class="span12">
            <div class="utopia-login-message">
                <h1>Bienvenu à CIELO Market</h1>
                <p>Identifiez-vous pour avoir accès</p>
            </div>
        </div>
    </div>
    <div class="row-fluid">

        <div class="span12">

            <div class="row-fluid">

                <div class="span6">
                    <div class="utopia-login-info">
                        <img src="{{asset('bundles/cieloadmin/admin/img/login.png')}}" alt="image">
                    </div>

                </div>

                <div class="span6">
                    <div class="utopia-login">
                        <h1>Connexion</h1>

                        <form action="{{ path("admin_login_check") }}" method="post" class="utopia">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="text" id="username" name="_username" placeholder="Nom d'utilisateur" required="required" class="span12 utopia-fluid-input validate[required]"/>

                            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="password" id="password" name="_password" required="required" class="span12 utopia-fluid-input validate[required]" placeholder="*******"/>

                            <ul class="utopia-login-action">
                                <li>
                                    <div class="pull-right"><input type="checkbox" id="remember_me" name="_remember_me" value="on" ></div>
                                    <!-- <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> -->
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn span4"/>
                                </li>
                            </ul>				
                            <label><a href="{{path('cielo_admin_dashboardpage')}}">Vous n'arrivez pas à accéder à votre compte?</a></label>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock fos_user_content %}
{% endblock bodyFils1%}
