<!DOCTYPE html>
<html>
    <head>
        <title>Les articles</title>
    </head>
    <body>
        <ul id="navigation">
        {% for a in articles %}
              <li>{{ a.titre }}</li>
        {% endfor %}
        </ul>
    </body>
</html>