{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Administration {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Administration</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
                    </div>
                <div class="row-fluid" style="margin-bottom: 20px; ">
                    <div style="float: right">
                        <a class="btn" href="{{path('cielo_admin_registration_register')}}" title="Ajouter Admin Entreprise">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/administrator.png')}}" class="utopia-icons2-medium-img">
                         Ajouter Admin
                        </a>
                    </div>
                </div>
                
            <div class="row-fluid">
                <div class="span12">
                    <section class="utopia-widget">
                        <div class="utopia-widget-title">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                            <span>Les administrateurs du système</span>
                        </div>

                        <div class="utopia-widget-content">

                            <table class="table table-bordered">

                                <colgroup>
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                </colgroup>


                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Nom d'utilisateur</th>
                                    <th>Email</th>
                                    <th>Téléphone</th>
                                    <th>Date de naissance</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>

                                <tbody>
                                    {%if admin|length>0%}
                                {% for ad in admin%}
                                 <tr>  
                                     <td>
                                         {{ad.nom}}
                                     </td>
                                     <td>
                                         {{ad.prenom}}
                                     </td>
                                     <td>
                                         {{ad.username}}
                                     </td>
                                     <td>
                                         {{ad.email}}
                                     </td>
                                     <td>
                                         {{ad.telephone}}
                                     </td>
                                     <td>
                                         {{ad.dateNaissance|date('d/m/Y')}}
                                     </td>
                                     <td>
                                        <a href="{{path('cielo_admin_modifier_entreprise', {'id': ad.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                        <a href="{{path('cielo_admin_supprimer_entreprise', {'id': ad.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                     </td>
                                 </tr>
                                 {%endfor%}
                                 {%endif%}
                              </tbody>

                                <tfoot>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Nom d'utilisateur</th>
                                    <th>Email</th>
                                    <th>Téléphone</th>
                                    <th>Date de naissance</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyFils1%}