{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Tableau de bord {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_enterprise_homepage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_enterprise_produit')}}">Campagne de jeu</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Ajouter un jeu a une campagne</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
            
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Ajout d'un jeu à une campagne</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal" data-prototype="{{form_widget(form.valeurProprieteJeus.vars.prototype)|e}}">
                            <div class="row-fluid">
                                <div class="span3">
                                    {{ form_label(form.campagne, "Campagne") }}
                                    <span style="color: red">{{ form_errors(form.campagne) }}</span>
                                    {{ form_widget(form.campagne) }}
                                     
                                    {{ form_label(form.jeu, "Jeu") }}
                                    <span style="color: red">{{ form_errors(form.jeu) }}</span>
                                    {{ form_widget(form.jeu) }}
                                </div>
                                <div class="span3">
                                    {{ form_label(form.valeurProprieteJeus, "Valeur d'une propriété de cette campagne") }}
                                        <span style="color: red">{{ form_errors(form.valeurProprieteJeus) }}</span>
                                    {{ form_widget(form.valeurProprieteJeus) }}
                                    {{ form_widget(form) }}
                                    <div id="valeur-propriete-jeu-container" >
                                    </div>
                                    <a href="#" id="valeur-propriete-jeu-add" class="btn" style="margin-top: 5px">Ajouter Une Valeur</a>
                                </div>
                             </div>
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                        <script type="text/javascript">                               
                               $("#valeur-propriete-jeu-add").click(function(e){
                                   e.preventDefault();
                                   addProprieteToForm();
                               });
                                function addProprieteToForm(proprieteContainer){
                                    proprieteContainer = $("#valeur-propriete-jeu-container");
                                    var prototype = $(".form-horizontal").attr("data-prototype");
                                    var newImageForm = prototype.replace(/__name__/g, proprieteContainer.children().length);
                                    proprieteContainer.append(newImageForm);
                                }
                        </script>
                    </div>
                </div>
         </div>
    </div>
{% endblock bodyFils1%}