{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Créer une famille de produit {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{path('cielo_admin_famille_produit')}}">Famille produit</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Création d'une famille de produit</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Ajouter des images au carousel</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                            <div class="row-fluid">
                                <div class="span4">
                                    {{ form_label(form.textAlternatif, "Texte alternatif") }}
                                    <span style="color: red">{{ form_errors(form.textAlternatif) }}</span>
                                    {{ form_widget(form.textAlternatif) }}

                                    {{ form_label(form.description, "Description") }}
                                    <span style="color: red">{{ form_errors(form.description) }}</span>
                                    {{ form_widget(form.description) }}
                                    </div>
                                    <div class="span4">
                                    {{ form_label(form.document, "Image (une image de taille 1000 x 300 de préférence)") }}
                                            <span style="color: red">{{ form_errors(form.document) }}</span>
                                    {{ form_widget(form.document) }}

                                    {{ form_label(form.actif, "Actif") }}
                                    <span style="color: red">{{ form_errors(form.actif) }}</span>
                                    {{ form_widget(form.actif) }}
                                    {{ form_widget(form) }}
                                        </div>
                                    </div>
                                    <input type="submit" class="btn" style="margin-top: 10px;"/>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>


            </div>
            <div class="row-fluid">
                <div class="span12">

                    <section class="utopia-widget">
                        <div class="utopia-widget-title">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                            <span>Les images du carousel</span>
                        </div>

                        <div class="utopia-widget-content">
                            <div id="modal-gallery" class="modal modal-gallery hide fade">
                                <div class="modal-header">
                                    <a class="close" data-dismiss="modal">&times;</a>

                                    <h3 class="modal-title">Image Gallery</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-image"></div>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn modal-download" target="_blank">
                                        <i class="icon-download"></i>
                                        <span>Download</span>
                                    </a>
                                    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                                        <i class="icon-play icon-white"></i>
                                        <span>Slideshow</span>
                                    </a>
                                    <a class="btn btn-info modal-prev">
                                        <i class="icon-arrow-left icon-white"></i>
                                        <span>Previous</span>
                                    </a>
                                    <a class="btn btn-primary modal-next">
                                        <span>Next</span>
                                        <i class="icon-arrow-right icon-white"></i>
                                    </a>
                                </div>
                            </div>
                            <div id="galleries" data-toggle="modal-gallery" data-target="#modal-gallery">

                                        {%for c in carousels%}
                                <a href="{{image(c.document.webPath)}}" rel="gallery">
                                    <img 
                                        src="{{ image(c.document.webPath).resize(96,96,'f5f5f5') }}"
                                        alt="{{ c.textAlternatif }}"
                                        title="{{ c.description }}" 
                                        style="width: 100px; height: 100px; margin: auto;"
                                        />
                                </a>
                                    {%if c.actif!=true%}
                                <a href="{{path('cielo_admin_activer_image_carousel', {'id': c.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/checkmark.png')}}" title="Cliquer pour activer cette image"></a>
                                    {%else%}
                                    <a href="{{path('cielo_admin_desactiver_image_carousel', {'id': c.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/close.png')}}" title="Cliquer pour désactiver cette image"></a>
                                   {%endif%}
                                        <a href="{{path('cielo_admin_supprimer_image_carousel', {'id': c.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Cliquer pour activer cette image"></a>
                                                {%endfor%}
                                    </div>
                                </div>
                            </section>


                        </div>
                    </div>

                </div>
{% endblock bodyFils1%}