{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Clients {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Clients</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">

            <section class="utopia-widget">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                    <span>Les clients</span>
                </div>

                <div class="utopia-widget-content">

                    <table class="table datatable table-striped table-bordered">

                        <colgroup>
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Identité</th>
                                <th>Email</th>
                                <th>Derniere connexion</th>
                                <th>Adresse</th>
                                <th>Date de Naissance</th>
                                <th>Date de création</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {%for c in clients%}
                                <tr>
                                    <td>
                                {{c.nom|upper}} {{c.prenom}}<br/>
                                            ({{c.username}})
                                        </td>
                                        <td>
                                {{c.email}}
                                            </td>
                                            <td>
                                {{c.lastLogin|date('d/m/Y')}}
                                                </td>
                                                <td>
                                                    Pays: {%if c.pays!=null%}{{c.pays}}{%else%}-{%endif%}<br/>
                                                    Ville: {%if c.ville!=null%}{{c.ville}}{%else%}-{%endif%}<br/>
                                                    Quartier: {%if c.quartier!=null%}{{c.quartier}}{%else%}-{%endif%}<br/>
                                                    BP: {%if c.boitepostale!=null%}{{c.boitepostale}}{%else%}-{%endif%}<br/>
                                                    Tel: {%if c.telephone!=null%}{{c.telephone}}{%else%}-{%endif%}
                                                </td>
                                                <td>
                                {{c.dateNaissance|date('d/m/Y')}}
                                                    </td>
                                                    <td>
                                {{c.dateCreationCompte|date('d/m/Y')}}
                                                        </td>
                                                        <td>
                                                            <a href="{{path('cielo_admin_produits_dune_commande', {'id': c.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/eye.png')}}" title="Voir les produit commander"></a>
                                                            <a href="javascript:void(0)" class="supprimer-client" id="btn_supprimer_client_{{c.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                            <a style="display: none" href="{{path('cielo_admin_supprimer_client', {'id': c.id})}}" class="delete" id="link_btn_supprimer_client_{{c.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                        </td>
                                                    </tr>
                        {%endfor%}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Identité</th>
                                                        <th>Email</th>
                                                        <th>Derniere connexion</th>
                                                        <th>Adresse</th>
                                                        <th>Date de Naissance</th>
                                                        <th>Date de création</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                            <div class="row-fluid">
                                                <div class="span6">

                                                </div>

                                                <div class="span6">
                                                    <span style="float: right; color: #999; font-size: 0.6rem">selon la base de données</span>
                                                    <div class="pagination pagination-right">
                                                        <ul>
                                                            <li class="prev {%if page==1%}disabled{%endif%}"><a href="{{path('cielo_admin_list_commande', {'page': 1})}}">←</a></li>
                                                                        {%for i in 1..nbrTotalPages%}
                                                                <li class="{%if i==page%}active{%endif%}"><a href="{{path('cielo_admin_list_commande', {'page': i})}}">{{i}}</a></li>
                                                                        {%endfor%}
                                                                    <li class="next {%if page==nbrTotalPages%}disabled{%endif%}"><a href="{{path('cielo_admin_list_commande', {'page': nbrTotalPages})}}">→ </a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>


                                        </div>
                                    </div>
                                    <div class="row-fluid">



                                    </div>
                                </div>
{% endblock bodyFils1%}