{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Créer une famille de produit {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{path('cielo_admin_famille_produit')}}">Famille produit</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Création d'une famille de produit</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">

            <section class="utopia-widget">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                    <span>Les commandes</span>
                </div>

                <div class="utopia-widget-content">

                    <table class="table datatable table-striped table-bordered">

                        <colgroup>
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Client</th>
                                <th>Date</th>
                                <th>Zone</th>
                                <th>Paiement</th>
                                <th>Livraison</th>
                                <th>Montant</th>
                                <th>Etat</th>
                                <th>Code Facture</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                                        {% for c in commandes%}
                                <tr {%if c.vue==false%}style="background: #eee"{%endif%}>
                                    <td>
                                            {{c.client.nom|upper}} {{c.client.prenom}}
                                        </td>
                                        <td>
                                            {{c.dateDebutCommande|date('d/m/Y')}}
                                            </td>
                                            <td>
                                            {{c.zone}} ({{c.adresse}})
                                                </td>
                                                <td>
                                            {{c.modePaiement.nom}}
                                                    </td>
                                                    <td>
                                            {{c.modeLivraison.nom}}
                                                        </td>
                                                        <td>
                                            {{c.montantFacture}} F CFA
                                                            </td>
                                                            <td>
                                            {%if c.commandeTerminer==true%}Terminer{%else%}En cours...{%endif%}
                                                                </td>
                                                                <td>
                                            {{c.codeFacture}}
                                                                    </td>
                                                                    <td>
                                                                        <a href="{{path('cielo_admin_produits_dune_commande', {'id': c.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/eye.png')}}" title="Voir les produit commander"></a>
                                                                        <a href="javascript:void(0)" class="supprimer-commande" id="btn_supprimer_commande_{{c.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                                        <a style="display: none" href="{{path('cielo_admin_supprimer_commande', {'id': c.id})}}" class="delete" id="link_btn_supprimer_commande_{{c.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                                    </td>
                                                                </tr>
                                         {%endfor%}
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Client</th>
                                                                    <th>Date</th>
                                                                    <th>Zone</th>
                                                                    <th>Paiement</th>
                                                                    <th>Livraison</th>
                                                                    <th>Montant</th>
                                                                    <th>Etat</th>
                                                                    <th>Code Facture</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>

                                                        <div class="row-fluid">
                                                            <div class="span6">

                                                            </div>

                                                            <div class="span6">
                                                                <span style="float: right; color: #999; font-size: 0.6rem">selon la base de données</span>
                                                                <div class="pagination pagination-right">
                                                                    <ul>
                                                                        <li class="prev {%if page==1%}disabled{%endif%}"><a href="{{path('cielo_admin_list_commande', {'page': 1})}}">←</a></li>
                                                                        {%for i in 1..nbrTotalPages%}
                                                                            <li class="{%if i==page%}active{%endif%}"><a href="{{path('cielo_admin_list_commande', {'page': i})}}">{{i}}</a></li>
                                                                        {%endfor%}
                                                                                <li class="next {%if page==nbrTotalPages%}disabled{%endif%}"><a href="{{path('cielo_admin_list_commande', {'page': nbrTotalPages})}}">→ </a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>


                                                    </div>
                                                </div>
                                                <div class="row-fluid">



                                                </div>
                                            </div>
{% endblock bodyFils1%}