{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Créer une entreprise {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_admin_entreprise')}}">Entreprise</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Création d'une entreprise</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
            
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Créer Entreprise</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                            <div class="row-fluid">
                                <div class="span4">
                                    {{ form_label(form.nom, "Nom") }}
                                        <span style="color: red">{{ form_errors(form.nom) }}</span>
                                    {{ form_widget(form.nom) }}
                                     
                                    {{ form_label(form.numIFU, "Numéro IFU") }}
                                        <span style="color: red">{{ form_errors(form.numIFU) }}</span>
                                    {{ form_widget(form.numIFU) }}
                                        
                                    {{ form_label(form.tel1, "Téléphone 1") }}
                                        <span style="color: red">{{ form_errors(form.tel1) }}</span>
                                    {{ form_widget(form.tel1) }}
                                    
                                    {{ form_label(form.tel2, "Téléphone 2") }}
                                            <span style="color: red">{{ form_errors(form.tel2) }}</span>
                                    {{ form_widget(form.tel2) }}
                                </div>
                                <div class="span4">
                                    {{ form_label(form.mail, "Email") }}
                                        <span style="color: red">{{ form_errors(form.mail) }}</span>
                                    {{ form_widget(form.mail) }}
                                     
                                    {{ form_label(form.siteweb, "Site web") }}
                                            <span style="color: red">{{ form_errors(form.siteweb) }}</span>
                                    {{ form_widget(form.siteweb) }}
                                        
                                    {{ form_label(form.domaineactivite, "Domaine d'activité") }}
                                            <span style="color: red">{{ form_errors(form.domaineactivite) }}</span>
                                    {{ form_widget(form.domaineactivite) }}
                                </div>
                                <div class="span4">
                                    {{ form_label(form.document, " ") }}
                                        
                                    {{ form_label(form.document.file, "Choisir l'image") }}
                                        <span style="color: red">{{ form_errors(form.document.file) }}</span>
                                    {{ form_widget(form.document.file) }}
                                </div>
                            </div>
                            {{ form_widget(form) }}
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                    </div>
                </div>
         </div>
    </div>
{% endblock bodyFils1%}