{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Créer un domaine d'activité {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_admin_domainedactivitespage')}}">Domaines d'activité</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Création un domaine d'activité</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
            
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Créer Domaine dactivites</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                            <div class="row-fluid">
                            <div class="span4">
                                {{ form_label(form.nom, "Nom") }}
                                <span style="color: red">{{ form_errors(form.nom) }}</span>
                                {{ form_widget(form.nom) }}
                                    
                                {{ form_label(form.description, "Description") }}
                                <span style="color: red">{{ form_errors(form.description) }}
                                {{ form_widget(form.description) }}
                            </div>
                            <div class="span4">
                                {{ form_label(form.document.file, "Choisir une image") }}
                                <span style="color: red">{{ form_errors(form.document.file) }}</span>
                                {{ form_widget(form.document.file) }}
                                
                                {{ form_label(form.actif, "Activer") }}
                                <span style="color: red">{{ form_errors(form.actif) }}
                                {{ form_widget(form.actif) }}
                                        
                                <div style="margin-top: 8px;">
                                <input type="submit" class="btn" style="margin-top: 10px;"/>
                                </div>
                            </div>
                                    </div>
                            {{ form_widget(form) }}
                            
                        </form>
                    </div>
                </div>
         </div>
    </div>
{% endblock bodyFils1%}