{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Créer une famille de produit {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_admin_famille_produit')}}">Famille produit</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Création d'une famille de produit</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
            
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Créer Famille de produit</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                            <div class="row-fluid">
                                <div class="span4">
                                    {{ form_label(form.nom, "Nom") }}
                                    <span style="color: red">{{ form_errors(form.nom) }}
                                    {{ form_widget(form.nom) }}
                                     
                                    {{ form_label(form.description, "Description") }}
                                    <span style="color: red">{{ form_errors(form.description) }}
                                    {{ form_widget(form.description) }}
                                    
                                </div>
                                <div class="span4">
                                    {{ form_label(form.domaineActivite, "Domaine d'activité") }}
                                    <span style="color: red">{{ form_errors(form.domaineActivite) }}
                                    {{ form_widget(form.domaineActivite) }}
                                            
                                    <span style="color: red">{{ form_label(form.document, " ") }}</span>
                                                                            
                                    {{ form_label(form.document.file, "Choisir l'image") }}
                                    <span style="color: red">{{ form_errors(form.document.file) }}
                                    {{ form_widget(form.document.file) }}
                                </div>
                            </div>
                            {{ form_widget(form) }}
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                    </div>
                </div>
         </div>
    </div>
{% endblock bodyFils1%}