{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Tableau de bord {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_enterprise_homepage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_enterprise_produit')}}">Evènements</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Création d'un évènement</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
            
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Création d'un évènement</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal" data-prototype="{{form_widget(form.documents.vars.prototype)|e}}"  data-prototypee="{{form_widget(form.proprieteEvenements.vars.prototype)|e}}">
                            <div class="row-fluid">
                                <div class="span3">
                                    {{ form_label(form.nom, "Nom") }}
                                        <span style="color: red">{{ form_errors(form.nom) }}</span>
                                    {{ form_widget(form.nom) }}
                                     
                                    {{ form_label(form.description, "Description") }}
                                            <span style="color: red">{{ form_errors(form.description) }}</span>
                                    {{ form_widget(form.description) }}
                                        
                                    {{ form_label(form.dateDebut, "Date de début") }}
                                            <span style="color: red">{{ form_errors(form.dateDebut) }}</span>
                                    {{ form_widget(form.dateDebut) }}
                                    
                                    {{ form_label(form.dateFin, "Date de fin") }}
                                            <span style="color: red">{{ form_errors(form.dateFin) }}</span>
                                    {{ form_widget(form.dateFin) }}
                                </div>
                                <div class="span3">
                                    {{ form_label(form.lieu, "Lieu") }}
                                        <span style="color: red">{{ form_errors(form.lieu) }}</span>
                                    {{ form_widget(form.lieu) }}
                                    
                                    {{ form_label(form.prixParticipation, "Prix de Participation") }}
                                            <span style="color: red">{{ form_errors(form.prixParticipation) }}</span>
                                    {{ form_widget(form.prixParticipation) }}
                                </div>
                                <div class="span3">
                                    {{ form_label(form.documents, "Images de l'évenements") }}
                                    {{ form_widget(form.documents) }}
                                    <div id="image-container" >
                                    </div>
                                    <a href="#" id="image-add" class="btn" style="margin-top: 5px">Ajouter une image</a>
                                </div>
                                    
                                <div class="span3">
                                    {{ form_label(form.proprieteEvenements, "Propriétés de l'évenements") }}
                                    {{ form_widget(form.proprieteEvenements) }}
                                    {{ form_widget(form) }}
                                    <div id="propriete-evenement-container" >
                                    </div>
                                    <a href="#" id="propriete-evenement-add" class="btn" style="margin-top: 5px">Ajouter Propriété</a>
                                </div>
                             </div>
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                        <script type="text/javascript">
                               $("#image-add").click(function(e){
                                   e.preventDefault();
                                   addImageToForm();
                               });
                               
                               $("#propriete-evenement-add").click(function(e){
                                   e.preventDefault();
                                   addProprieteToForm();
                               });
                                function addImageToForm(imageContainer){
                                    imageContainer = $("#image-container");
                                    var prototype = $(".form-horizontal").attr("data-prototype");
                                    var newImageForm = prototype.replace(/__name__/g, imageContainer.children().length);
                                    imageContainer.append(newImageForm);
                                }
                                function addProprieteToForm(proprieteContainer){
                                    proprieteContainer = $("#propriete-evenement-container");
                                    var prototype = $(".form-horizontal").attr("data-prototypee");
                                    var newImageForm = prototype.replace(/__name__/g, proprieteContainer.children().length);
                                    proprieteContainer.append(newImageForm);
                                }
                        </script>
                    </div>
                </div>
         </div>
    </div>
{% endblock bodyFils1%}