{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Tableau de bord {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_enterprise_homepage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_enterprise_produit')}}">Campagne</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Création d'une campagne</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
            
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Création d'une campagne</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                            <div class="row-fluid">
                                <div class="span3">
                                    {{ form_label(form.nom, "Nom") }}
                                    <span style="color: red">{{ form_errors(form.nom) }}</span>
                                    {{ form_widget(form.nom) }}
                                     
                                    {{ form_label(form.dateDebut, "Date de début") }}
                                    <span style="color: red">{{ form_errors(form.dateDebut) }}</span>
                                    {{ form_widget(form.dateDebut) }}
                                    
                                    {{ form_label(form.dateFin, "Date de fin") }}
                                    <span style="color: red">{{ form_errors(form.dateFin) }}</span>
                                    {{ form_widget(form.dateFin) }}
                                </div>
                                <div class="span3">
                                    {{ form_label(form.description, "Description de la campagne") }}
                                        <span style="color: red">{{ form_errors(form.description) }}</span>
                                    {{ form_widget(form.description) }}
                                        
                                    {{ form_label(form.entreprise, "Entreprise") }}
                                        <span style="color: red">{{ form_errors(form.entreprise) }}</span>
                                    {{ form_widget(form.entreprise) }}
                                    {{ form_widget(form) }}
                                </div>
                             </div>
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                    </div>
                </div>
         </div>
    </div>
{% endblock bodyFils1%}