{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Tableau de bord {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_admin_jeux')}}">Jeu</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Création d'un jeu de type 1</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
            
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Création d'un jeu</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal" data-prototype="{{form_widget(form.jeuDocuments.vars.prototype)|e}}">
                            <div class="row-fluid">
                                <div class="span3">
                                    {{ form_label(form.nom, "Nom") }}
                                    {{ form_errors(form.nom) }}
                                    {{ form_widget(form.nom) }}
                                        
                                    {{ form_label(form.nbreDeGagnant, "Nombre de gagnant") }}
                                    {{ form_errors(form.nbreDeGagnant) }}
                                    {{ form_widget(form.nbreDeGagnant) }}
                                        
                                    {{ form_label(form.frequenceDeGain, "Fréquence de gain") }}
                                    {{ form_errors(form.frequenceDeGain) }}
                                    {{ form_widget(form.frequenceDeGain) }}
                                </div>
                                <div class="span3">                                   
                                    {{ form_label(form.nbreDeParticipation, "Nombre de Participation") }}
                                    {{ form_errors(form.nbreDeParticipation) }}
                                    {{ form_widget(form.nbreDeParticipation) }}
                                        
                                    {{ form_label(form.frequenceDeParticipation, "Fréquence de participation") }}
                                    {{ form_errors(form.frequenceDeParticipation) }}
                                    {{ form_widget(form.frequenceDeParticipation) }}
                                        
                                    {{ form_label(form.campagne, "Campagne") }}
                                    {{ form_errors(form.campagne) }}
                                    {{ form_widget(form.campagne) }}
                                </div>
                                <div class="span3">
                                    {{ form_label(form.jeuDocuments, "Paramètres") }}
                                    {{ form_errors(form.jeuDocuments) }}
                                    {{ form_widget(form.jeuDocuments) }}
                                    {{ form_widget(form) }}
                                    <div id="propriete-jeu-container" >
                                    </div>
                                    <a href="#" id="propriete-jeu-add" class="btn" style="margin-top: 5px">Ajouter Une Image</a>
                                </div>
                             </div>
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                        <script type="text/javascript">                               
                               $("#propriete-jeu-add").click(function(e){
                                   e.preventDefault();
                                   addProprieteToForm();
                               });
                                function addProprieteToForm(proprieteContainer){
                                    proprieteContainer = $("#propriete-jeu-container");
                                    var prototype = $(".form-horizontal").attr("data-prototype");
                                    var newImageForm = prototype.replace(/__name__/g, proprieteContainer.children().length);
                                    proprieteContainer.append(newImageForm);
                                }
                        </script>
                    </div>
                </div>
         </div>
    </div>
{% endblock bodyFils1%}