{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Domaine d'activité {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#">Domaines d'activité</a> <span class="divider">/</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-fluid" style="margin-bottom: 20px; ">
            <a title="Créer un nouveau domaine d'activité" class="btn" href="{{path('cielo_admin_creerdomainedactivites')}}" style="float: right" title="Créer un nouveau domaine d'activités">
                <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                Créer
            </a>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Domaines d'activités</span>
                    </div>

                    <div class="utopia-widget-content">

                        <table class="table table-bordered table-striped datatable">

                            <colgroup>
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                            </colgroup>


                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for d in domainesdactivites%}
                                    <tr title="{{d.description}}">
                                        <td>
                                         {%if d.document!=null%}
                                         {% if d.document.lien!=null%}
                                                <img 
                                                    src="{{ image(d.document.webPath).resize(96,96, 'f5f5f5')}}"
                                                    alt="{{ d.document.nom }}"
                                                    title="{{ d.document.description }}" 
                                                    style=""
                                                    />
                                                {%else%}
                                            <img 
                                                <img 
                                                src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                style="width: 96px; height: 96px;"
                                                />
                                            {%endif%}
                                         {%endif%}
                                    </td>  
                                    <td>
                                         {{d.nom}}
                                        </td>
                                            <td>
                                                {%if d.actif!=true%}
                                                    <a href="{{path('cielo_admin_activer_domaine', {'id': d.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/checkmark.png')}}" title="Cliquer pour activer"></a>
                                                    {%else%}
                                                    <a href="{{path('cielo_admin_activer_domaine', {'id': d.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/close.png')}}" title="Cliquer pour désactiver"></a>
                                                {%endif%}
                                                <a href="{{path('cielo_admin_modifier_domaine_dactivite', {'id': d.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" alt="Modifier"></a>
                                                <a href="javascript:void(0)" class="supprimer-domaine-activite" id="btn_supprimer_domaine_activite_{{d.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                <a style="display: none" href="{{path('cielo_admin_supprimer_domaine_dactivite', {'id': d.id})}}" class="delete" id="link_btn_supprimer_domaine_activite_{{d.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                            </td>
                                        </tr>
                                 {%endfor%}
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <th>Image</th>
                                            <th>Nom</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="row-fluid">
                                    <div class="span6">

                                    </div>

                                    <div class="span6">
                                        <span style="float: right; color: #999; font-size: 0.6rem">selon la base de données</span>
                                        <div class="pagination pagination-right">
                                            <ul>
                                                <li class="prev {%if page==1%}disabled{%endif%}"><a href="{{path('cielo_admin_domainedactivitespage', {'page': 1})}}">←</a></li>
                                            {%for i in 1..nbrTotalPages%}
                                                    <li class="{%if i==page%}active{%endif%}"><a href="{{path('cielo_admin_domainedactivitespage', {'page': i})}}">{{i}}</a></li>
                                            {%endfor%}
                                                        <li class="next {%if page==nbrTotalPages%}disabled{%endif%}"><a href="{{path('cielo_admin_domainedactivitespage', {'page': nbrTotalPages})}}">→ </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock bodyFils1%}