{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Tableau de bord {% endblock title %}

{% block bodyFils1 %}

<!-- Body start -->
<div class="span10 body-container">
    <div class="row-fluid">

        <div class="span12">

            <div class="row-fluid">

                <div class="span9">
                    <div class="row-fluid">

                        <div class="span12">

                            <section class="utopia-widget">
                                <div class="utopia-widget-title">
                                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                                    <span>Environ ({{totalElements}}) évènements trouvés</span>
                                </div>

                                <div class="utopia-widget-content">

                                    <table class="table datatable table-striped table-bordered">

                                        <colgroup>
                                            <col class="utopia-col-0">
                                            <col class="utopia-col-1">
                                            <col class="utopia-col-0">
                                            <col class="utopia-col-1">
                                            <col class="utopia-col-0">
                                        </colgroup>

                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Nom</th>
                                                <th>Durée</th>
                                                <th>Lieu</th>
                                                <th>Prix</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for e in elementsRechercher%}
                                         <tr>
                                             <td>
                                                 {%if e.documents|length>0%}
                                                 {% if e.documents[0].lien!=null%}
                                                    <img 
                                                        src="{{image(e.documents[0].webPath).resize(96,96,'f5f5f5')}}"
                                                        alt="{{ e.documents[0].nom }}"
                                                        title="{{ e.documents[0].description }}" 
                                                    />
                                                        {%else%}
                                                    <img 
                                                        <img 
                                                            src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                            style="width: 96px; height: 96px;"
                                                        />
                                                    {%endif%}
                                                    {%else%}
                                                    <img 
                                                            src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                            style="width: 96px; height: 96px;"
                                                        />
                                                 {%endif%}
                                             </td>
                                             <td>
                                                 {{e.nom}}
                                             </td>
                                             <td>
                                                 du {{e.dateDebut|date('d/m/Y')}} au {{e.dateFin|date('d/m/Y')}}
                                             </td>
                                             <td>
                                                 {{e.lieu}}
                                             </td>
                                             <td>
                                                 {{e.prixParticipation}}
                                             </td>
                                             <td>
                                                 {{e.description}}
                                             </td>
                                             <td>
                                                 <a href="{{path('cielo_admin_participants_evenement', {'id': e.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/eye.png')}}" title="Voir les participants"></a>
                                                <a href="{{path('cielo_admin_modifier_evenement', {'id': e.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                                <a href="{{path('cielo_admin_supprimer_evenement', {'id': e.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                             </td>
                                         </tr>
                                         {%endfor%}
                                      </tbody>
                                      <tfoot>
                                          <tr>
                                              <th>Image</th>
                                              <th>Nom</th>
                                              <th>Durée</th>
                                              <th>Lieu</th>
                                              <th>Prix</th>
                                              <th>Description</th>
                                              <th>Action</th>
                                          </tr>
                                        </tfoot>
                                    </table>
                                    <div class="row-fluid">
                                <div class="span6">
                                    
                                </div>

                                <div class="span6">
                                    <span style="float: right; color: #999; font-size: 0.6rem">selon la base de données</span>
                                    <div class="pagination pagination-right">
                                        <ul>
                                            <li class="prev {%if page==1%}disabled{%endif%}"><a href="{{path('cielo_admin_recherche', {'page': 1})}}">←</a></li>
                                            {%for i in 1..nbrTotalPages%}
                                            <li class="{%if i==page%}active{%endif%}"><a href="{{path('cielo_admin_recherche', {'page': i})}}">{{i}}</a></li>
                                            {%endfor%}
                                            <li class="next {%if page==nbrTotalPages%}disabled{%endif%}"><a href="{{path('cielo_admin_recherche', {'page': nbrTotalPages})}}">→ </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                                </div>
                            </section>

                         
                        </div>

                    </div>


                    


                </div><!-- Mid panel -->

                <div class="span3">


                    <div class="row-fluid">
                        <div class="span12">
                            <div id="utopia-dashboard-weather">

                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">

                            <div id="utopia-dashboard-datepicker">

                            </div>

                        </div>
                    </div>

                    

                </div><!-- Right panel -->

            </div>

        </div>

    </div>


    

</div>
<!-- Body end -->



<!-- Maincontent end -->

</div> <!-- end of container -->


        {% endblock %}