{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Famille de produit {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#">Famille de produit</a> <span class="divider">/</span>
                    </li>
                </ul>
            </div>
        </div>
            

        <div class="row-fluid">
            <div class="span12">
                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Environ ({{totalElements}}) famille de produit trouvées</span>
                    </div>

                    <div class="utopia-widget-content">

                        <table class="table datatable table-striped table-bordered">

                            <colgroup>
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                            </colgroup>


                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Domaine d'activité</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for f in elementsRechercher%}
                                    <tr>  
                                        <td>
                                         {%if f.document!=null%}
                                         {% if f.document.lien!=null%}
                                                <img 
                                                    src="{{ image(f.document.webPath).resize(96,96, "f5f5f5")}}"
                                                    alt="{{ f.document.nom }}"
                                                    title="{{ f.document.description }}" 
                                                    />
                                                {%else%}
                                            <img 
                                                <img 
                                                src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                style="width: 96px; height: 96px; margin: auto; border-radius: 3px;"
                                                />
                                            {%endif%}
                                         {%endif%}
                                    </td>
                                    <td>
                                         {{f.nom}}
                                        </td>
                                        <td>
                                         {{f.description}}
                                            </td>
                                            <td>
                                         {{(f.domaineActivite).nom}}
                                                </td>
                                                <td>
                                                    <a href="{{path('cielo_admin_modifier_famille_produit', {'id': f.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" alt="Modifier"></a>
                                                    <a href="javascript:void(0)" class="supprimer-famille" id="btn_supprimer_famille_{{f.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                    <a style="display: none" href="{{path('cielo_admin_supprimer_famille_produit', {'id': f.id})}}" class="delete" id="link_btn_supprimer_famille_{{f.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                </td>
                                            </tr>
                                 {%endfor%}
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <th>Image</th>
                                                <th>Nom</th>
                                                <th>Description</th>
                                                <th>Domaine d'activité</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <div class="row-fluid">
                                        <div class="span6">

                                        </div>

                                        <div class="span6">
                                            <span style="float: right; color: #999; font-size: 0.6rem">selon la base de données</span>
                                            <div class="pagination pagination-right">
                                                <ul>
                                                    <li class="prev {%if page==1%}disabled{%endif%}"><a href="{{path('cielo_admin_recherche', {'page': 1})}}">←</a></li>
                                            {%for i in 1..nbrTotalPages%}
                                                        <li class="{%if i==page%}active{%endif%}"><a href="{{path('cielo_admin_recherche', {'page': i})}}">{{i}}</a></li>
                                            {%endfor%}
                                                            <li class="next {%if page==nbrTotalPages%}disabled{%endif%}"><a href="{{path('cielo_admin_recherche', {'page': nbrTotalPages})}}">→ </a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock bodyFils1%}