{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Tableau de bord {% endblock title %}

{% block bodyFils1 %}

<!-- Body start -->
<div class="span10 body-container">

    <div class="row-fluid">

        <!--Chart Icons -->
        <div class="span3">
            <div class="utopia-chart-legend">
                <div class="utopia-chart-icon">
                    <img src="{{asset('bundles/cieloadmin/admin/img/pointe.png')}}">
                </div>
                <div class="utopia-chart-heading">{{totalDomaineActivites}}</div>
                <div class="utopia-chart-desc">Domaines d'activités</div>
            </div>
        </div>

        <div class="span3">
            <div class="utopia-chart-legend">
                <div class="utopia-chart-icon">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/clock.png')}}">
                </div>
                <div class="utopia-chart-heading">{{totalFamilles}}</div>
                <div class="utopia-chart-desc">Familles de produit</div>
            </div>
        </div>

        <div class="span3">
            <div class="utopia-chart-legend">
                <div class="utopia-chart-icon">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/group.png')}}">
                </div>
                <div class="utopia-chart-heading">{{totalClients}}</div>
                <div class="utopia-chart-desc">Clients</div>
            </div>
        </div>

        <div class="span3">
            <div class="utopia-chart-legend">
                <div class="utopia-chart-icon">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/coin.png')}}">
                </div>
                <div class="utopia-chart-heading">{{totalEntreprises}}</div>
                <div class="utopia-chart-desc">Entreprises</div>
            </div>
        </div>
        <!--Chart Icons End -->
    </div>


    <div class="row-fluid">

        <div class="span12">

            <div class="row-fluid">

                <div class="span9">
                    <div class="row-fluid">

                        <div class="span12">

                            <section class="utopia-widget">
                                <div class="utopia-widget-title">
                                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/checkmark.png')}}" class="utopia-widget-icon">
                                    <span>Racourcis</span>
                                </div>

                                <div class="utopia-widget-content">
                                    <div class="row-fluid">
                                        <div class="span3">
                                            <div class="utopia-chart-legend" style="height: 60px">
                                                <div class="utopia-chart-desc"><a href="{{path('cielo_admin_creerdomainedactivites')}}">Domaines d'activités</a></div>
                                            </div>
                                        </div>
                                        <div class="span3">
                                            <div class="utopia-chart-legend" style="height: 60px">
                                                <div class="utopia-chart-desc"><a href="{{path('cielo_admin_creer_famille_produit')}}">Famille</a></div>
                                            </div>
                                        </div>
                                        <div class="span3">
                                            <div class="utopia-chart-legend" style="height: 60px">
                                                <div class="utopia-chart-desc"><a href="{{path('cielo_admin_creer_entreprise')}}">Entreprise</a></div>
                                            </div>
                                        </div>
                                        <div class="span3">
                                            <div class="utopia-chart-legend" style="height: 60px">
                                                <div class="utopia-chart-desc"><a href="{{path('cielo_admin_creer_evenement')}}">Evènement</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>


                        </div>

                    </div>


                    <!-- image gallery  Starts-->



                </div><!-- Mid panel -->

                <div class="span3">

                    <div class="row-fluid">

                        <div class="span12">
                            <div class="utopia-chart-legend">
                                <div class="utopia-chart-icon">
                                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/shopping_basket.png')}}">
                                </div>
                                <div class="utopia-chart-heading">{{nbreCommandeNonVue}}</div>
                                <div class="utopia-chart-desc">Commandes non vue</div>
                            </div>
                        </div>

                    </div>

                    <div class="row-fluid">
                        <div class="span12">

                            <div id="utopia-dashboard-datepicker">

                            </div>

                        </div>
                    </div>


                </div><!-- Right panel -->

            </div>

        </div>

    </div>

</div>
<!-- Body end -->



<!-- Maincontent end -->

</div> <!-- end of container -->


        {% endblock %}
{%block javascript%}
{{parent()}}
<script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery-barcode-2.0.2.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/prettify.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/qrcode.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/cieloadmin/admin/js/jquery.qrcode.js')}}"></script>
<script type="text/javascript">
    
       /* console.log("avant qr code");
        $("#utopia-barcode-10").qrcode({
            text	: "http://themio.net/",
            width:96,
            height:96,
        });
        console.log("apres qr code");
    function convertCanvasToImage(canvas) {
	var image = new Image();
	image.src = canvas.toDataURL("image/png");
	return image;
    }*/
    
    //console.log(convertCanvasToImage(monCanvas));
   /* $('#utopia-barcode-10 canvas').on('change', '.propriete_select_choice', function(e){
        
    })*///
    /*$("#btn-create-qr-code").click(function(){
        var monCanvas = document.querySelector("#utopia-barcode-10 canvas");
        console.log(convertCanvasToImage(monCanvas));
        document.getElementById("img-qr-code").appendChild(convertCanvasToImage(monCanvas));
    });*/
</script>
{%endblock javascript%}