{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Tableau de bord {% endblock title %}

{% block bodyFils1 %}

<!-- Body start -->
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{path('cielo_admin_jeux')}}">Jeux</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Les différents types de jeu</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>
        <div class="row-fluid" style="margin-bottom: 20px; ">
            <div class="span3" style="float: left">
                <a class="btn" href="{{path('cielo_admin_creer_jeu_type1')}}" title="Créer une nouvelle entreprise">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                    Créer un jeu de type 1
                </a>
            </div>
            <div class="span3">
                <a style="" class="btn" href="{{path('cielo_admin_ajouter_jeu_campagne')}}" title="Créer une nouvelle entreprise">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                    Créer un jeu de type 2
                </a>
            </div>
            <div  class="span3">
                <a style="float: right" class="btn" href="{{path('cielo_admin_creer_campagne')}}" title="Créer une nouvelle entreprise">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                    Créer un jeu de type 3
                </a>
            </div>
            <div  class="span3">
                <a style="float: right" class="btn" href="{{path('cielo_admin_creer_campagne')}}" title="Créer une nouvelle entreprise">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                    Créer un jeu de type 4
                </a>
            </div>
        </div>
    <!--{#%if campagneJeu!=null%}
    {%for cj in campagneJeu%}
    <div class="row-fluid">
        <div class="span12">
            <section class="utopia-widget">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                    <span>{{cj[0].campagne.nom}}</span>
                </div>
                <div class="utopia-widget-content">
                    <div class="row-fluid">
                    {%for c in cj%}
                        <div class="span3">
                                <div class="utopia-chart-legend">
                                    <div class="row-fluid">
                                        <div class="utopia-chart-desc" style="margin-bottom: 30px;">{{c.jeu.nom}}</div>
                                        <div class="span5" style="float: left">
                                            <div class="utopia-chart-heading">191</div>
                                            <div class="utopia-chart-desc">Participants</div>
                                        </div>
                                        <div class="span5" style="float: right; color: green">
                                            <div class="utopia-chart-heading">191</div>
                                            <div class="utopia-chart-desc">Gagnants</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                </div>
            </section>
        </div>
        
    </div>
    {%endfor%}
    {%endif%#}-->
    <div class="row-fluid">

        <div class="span12">

            <div class="row-fluid">

                <div class="span6">
                    <div class="row-fluid">

                        <div class="span12">

                            <section class="utopia-widget">
                                <div class="utopia-widget-title">
                                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                                    <span>Jeux</span>
                                </div>

                                <div class="utopia-widget-content">

                                    <table class="table table-bordered">

                                        <colgroup>
                                            <col class="utopia-col-0">
                                            <col class="utopia-col-1">
                                            <col class="utopia-col-0">
                                            <col class="utopia-col-1">
                                        </colgroup>

                                        <thead>
                                            <tr>
                                                <th>Logo</th>
                                                <th>Nom</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <!--{#% for j in jeux%}
                                         <tr>
                                             <td>
                                                 {%if j.document!=null%}
                                                    <img 
                                                        src="{{ asset(j.document.webPath) }}"
                                                        alt="{{ j.document.nom }}"
                                                        title="{{ j.document.description }}" 
                                                        style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                                    />
                                                        {%else%}
                                                    <img 
                                                        <img 
                                                            src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                            style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                                        />
                                                    {%endif%}
                                             </td>
                                             <td>
                                                 {{j.nom}}
                                             </td>
                                             <td>
                                                 {{j.description}}
                                             </td>
                                             <td>
                                                <a href="{{path('cielo_admin_modifier_evenement', {'id': j.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                                <a href="{{path('cielo_admin_supprimer_evenement', {'id': j.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                             </td>
                                         </tr>
                                         {%endfor%#}
                                      </tbody>-->
                                      <tfoot>
                                          <tr>
                                              <th>Logo</th>
                                              <th>Nom</th>
                                              <th>Description</th>
                                              <th>Action</th>
                                          </tr>
                                        </tfoot>
                                    </table>


                                </div>
                            </section>

                         
                        </div>

                    </div>


                </div><!-- Mid panel -->


            </div>

        </div>

    </div>


    

</div>
<!-- Body end -->



<!-- Maincontent end -->

</div> <!-- end of container -->


        {% endblock %}