{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Tableau de bord {% endblock title %}

{% block bodyFils1 %}

<!-- Body start -->
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Jeux</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid" style="margin-bottom: 20px; ">
            <div class="" style="float: left; display: none">
                <a id="jeutype1Btn" class="btn" href="{{path('cielo_admin_creer_jeu_type1')}}" title="Créer une nouvelle entreprise">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                    Jeu de type 1
                </a>
            </div>
            <div class="span3" style="border: 1px solid #ccc; padding: 10px; margin-left: 0px;">
                <select name="type" id="type">
                    <option value="1">Type 1</option>
                    <option value="2">Type 2</option>
                    <option value="3">Type 3</option>
                    <option value="4">Type 4</option>
                </select>
                    <a id="ajouterJeuCampagneBtn" style="float: left" class="btn" href="{{path('cielo_admin_creer_jeu_type1')}}" title="Créer une nouvelle entreprise">
                    Ajouter un jeu à une Campagne
                </a>
            </div>
            <script>
                
            </script>
            <div  class="span4">
                
            </div>
            <div  class="span4">
                <a style="float: right" class="btn" href="{{path('cielo_admin_creer_campagne')}}" title="Créer une nouvelle entreprise">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                    Créer Une Campagne
                </a>
            </div>
        </div>
    {%if campagneJeu!=null%}
    {%for cj in campagneJeu%}
    <div class="row-fluid">
        <div class="span12">
            <section class="utopia-widget">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                    <span>{{cj[0].campagne.nom}}</span>
                </div>
                <div class="utopia-widget-content">
                    <div class="row-fluid">
                    {%for c in cj%}
                        <div class="span3">
                                <div class="utopia-chart-legend">
                                    <div class="row-fluid">
                                        <div class="utopia-chart-desc" style="margin-bottom: 30px;">{{c.nom}}</div>
                                        <div class="span5" style="float: left">
                                            <div class="utopia-chart-heading">191</div>
                                            <div class="utopia-chart-desc">Participants</div>
                                        </div>
                                        <div class="span5" style="float: right; color: green">
                                            <div class="utopia-chart-heading">191</div>
                                            <div class="utopia-chart-desc">Gagnants</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                </div>
            </section>
        </div>
        
    </div>
    {%endfor%}
    {%endif%}
    <div class="row-fluid">

        <div class="span12">

            <div class="row-fluid">

                <div class="span6">
                    <div class="row-fluid">

                        <div class="span12">

                            <section class="utopia-widget">
                                <div class="utopia-widget-title">
                                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                                    <span>Jeux</span>
                                </div>

                                <div class="utopia-widget-content">

                                    <table class="table table-bordered">

                                        <colgroup>
                                            <col class="utopia-col-0">
                                            <col class="utopia-col-1">
                                            <col class="utopia-col-0">
                                            <col class="utopia-col-1">
                                        </colgroup>

                                        <thead>
                                            <tr>
                                                <th>Logo</th>
                                                <th>Nom</th>
                                                <th>Nombre de gagnant</th>
                                                <th>Nombre de partipation</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for j in jeux%}
                                         <tr>
                                             <td>
                                                 {%if j.jeuDocuments|length>0%}
                                                     {%for d in j.jeuDocuments%}
                                                     {%if d.type=="il"%}
                                                    <img 
                                                        src="{{ asset(d.document.webPath) }}"
                                                        alt="{{ d.document.nom }}"
                                                        title="{{ d.document.description }}" 
                                                        style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                                    />
                                                    {%endif%}
                                                        {%else%}
                                                    <img 
                                                        <img 
                                                            src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                            style="width: 50px; height: 50px; margin: auto; border-radius: 3px;"
                                                        />
                                                    {%endfor%}
                                                    {%endif%}
                                             </td>
                                             <td>
                                                 {{j.nom}}
                                             </td>
                                             <td>
                                                 {{j.nbreDeGagnant}} 
                                                 {%if j.frequenceDeGain=="j"%}
                                                 par Jour
                                                 {%elseif j.frequenceDeGain=="s"%}
                                                 par Semaine
                                                 {%elseif j.frequenceDeGain=="m"%}
                                                 par Mois
                                                 {%elseif j.frequenceDeGain=="a"%}
                                                 par An
                                                 {%elseif j.frequenceDeGain=="t"%}
                                                 Pour toute la période du jeu
                                                 {%endif%}
                                             </td>
                                             <td>
                                                 {{j.nbreDeParticipation}} 
                                                 {%if j.frequenceDeParticipation=="j"%}
                                                 par Jour
                                                 {%elseif j.frequenceDeParticipation=="s"%}
                                                 par Semaine
                                                 {%elseif j.frequenceDeParticipation=="m"%}
                                                 par Mois
                                                 {%elseif j.frequenceDeParticipation=="a"%}
                                                 par An
                                                 {%elseif j.frequenceDeParticipation=="t"%}
                                                 Pour toute la période du jeu
                                                 {%endif%}
                                             </td>
                                             <td>
                                                <a href="{{path('cielo_admin_modifier_evenement', {'id': j.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                                <a href="{{path('cielo_admin_supprimer_evenement', {'id': j.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                             </td>
                                         </tr>
                                         {%endfor%}
                                      </tbody>
                                      <tfoot>
                                          <tr>
                                              <th>Logo</th>
                                              <th>Nom</th>
                                              <th>Nombre de gagnant</th>
                                              <th>Nombre de partipation</th>
                                              <th>Action</th>
                                          </tr>
                                        </tfoot>
                                    </table>


                                </div>
                            </section>

                         
                        </div>

                    </div>


                </div><!-- Mid panel -->

                <div class="span6">

                    <div class="span12">

                            <section class="utopia-widget">
                                <div class="utopia-widget-title">
                                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                                    <span>Campagne</span>
                                </div>

                                <div class="utopia-widget-content">

                                    <table class="table table-bordered">

                                        <colgroup>
                                            <col class="utopia-col-0">
                                            <col class="utopia-col-1">
                                            <col class="utopia-col-0">
                                            <col class="utopia-col-1">
                                        </colgroup>

                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Description</th>
                                                <th>Durée</th>
                                                <th>Entreprise</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for c in campagne%}
                                         <tr>
                                             <td>
                                                 {{c.nom}}
                                             </td>
                                             <td>
                                                 {{c.description}}
                                             </td>
                                             <td>
                                                 du {{c.dateDebut|date('d/m/Y')}} au {{c.dateFin|date('d/m/Y')}}
                                             </td>
                                             <td>
                                                 {{c.entreprise.nom}}
                                             </td>
                                             <td>
                                                <a href="{{path('cielo_admin_modifier_evenement', {'id': c.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                                <a href="{{path('cielo_admin_supprimer_evenement', {'id': c.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                             </td>
                                         </tr>
                                         {%endfor%}
                                      </tbody>
                                      <tfoot>
                                          <tr>
                                              <th>Nom</th>
                                              <th>Description</th>
                                              <th>Durée</th>
                                              <th>Entreprise</th>
                                              <th>Action</th>
                                          </tr>
                                        </tfoot>
                                    </table>


                                </div>
                            </section>

                         
                        </div>

                </div><!-- Right panel -->

            </div>

        </div>

    </div>


    

</div>
<!-- Body end -->



<!-- Maincontent end -->

</div> <!-- end of container -->


        {% endblock %}