{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Entreprises {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#">Entreprise</a> <span class="divider">/</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-fluid" style="margin-bottom: 20px; ">
            <div style="float: right">
                <a class="btn" href="{{path('cielo_admin_creer_entreprise')}}" title="Créer une nouvelle entreprise">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/add.png')}}" class="utopia-icons2-medium-img">
                    Créer Entreprise
                </a>
                <a class="btn" href="{{path('cielo_admin_creer_admin_entreprise')}}" title="Ajouter Admin Entreprise">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/administrator.png')}}" class="utopia-icons2-medium-img">
                    Ajouter Admin
                </a>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Entreprise</span>
                    </div>

                    <div class="utopia-widget-content">

                        <table class="table datatable table-striped table-bordered">

                            <colgroup>
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                            </colgroup>


                            <thead>
                                <tr>
                                    <th>Logo</th>
                                    <th>N° IFU</th>
                                    <th>Nom</th>
                                    <th>Téléphone1</th>
                                    <th>Téléphone2</th>
                                    <th>Email</th>
                                    <th>Site web</th>
                                    <th>Domaine</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for e in listeEntreprise%}
                                    <tr>  
                                        <td>
                                         {%if e.document!=null%}
                                         {% if e.document.lien!=null%}
                                                <img 
                                                    src="{{ image(e.document.webPath).resize(96,96, 'f5f5f5')}}"
                                                    alt="{{ e.document.nom }}"
                                                    title="{{ e.document.description }}" 
                                                    style=""
                                                    />
                                                {%else%}
                                            <img 
                                                <img 
                                                src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                style="width: 96px; height: 96px; margin: auto;"
                                                />
                                            {%endif%}
                                         {%endif%}
                                    </td>
                                    <td>
                                         {{e.numIFU}}
                                        </td>
                                        <td>
                                         {{e.nom}}
                                            </td>
                                            <td>
                                         {{e.tel1}}
                                                </td>
                                                <td>
                                         {{e.tel2}}
                                                    </td>
                                                    <td>
                                         {{e.mail}}
                                                        </td>
                                                        <td>
                                         {{e.siteweb}}
                                                            </td>
                                                            <td>
                                         {{(e.domaineactivite).nom}}
                                                                </td>
                                                                <td>
                                                                    <a href="{{path('cielo_admin_modifier_entreprise', {'id': e.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                                                    <a href="javascript:void(0)" class="supprimer-entreprise" id="btn_supprimer_entreprise_{{e.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                                                    <a style="display: none" href="{{path('cielo_admin_supprimer_entreprise', {'id': e.id})}}" class="delete" id="link_btn_supprimer_entreprise_{{e.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                                                    <a href="{{path('cielo_admin_entreprise_homepage', {'id': e.id})}}" class="view"><img src="{{asset('bundles/cieloadmin/admin/img/icons/eye.png')}}" title="Voir"></a>
                                                                </td>
                                                            </tr>
                                 {%endfor%}
                                                        </tbody>

                                                        <tfoot>
                                                            <tr>
                                                                <th>Logo</th>
                                                                <th>N° IFU</th>
                                                                <th>Nom</th>
                                                                <th>Téléphone1</th>
                                                                <th>Téléphone2</th>
                                                                <th>Email</th>
                                                                <th>Site web</th>
                                                                <th>Domaine</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                    <div class="row-fluid">
                                                        <div class="span6">

                                                        </div>

                                                        <div class="span6">
                                                            <span style="float: right; color: #999; font-size: 0.6rem">selon la base de données</span>
                                                            <div class="pagination pagination-right">
                                                                <ul>
                                                                    <li class="prev {%if page==1%}disabled{%endif%}"><a href="{{path('cielo_admin_entreprise', {'page': 1})}}">←</a></li>
                                            {%for i in 1..nbrTotalPages%}
                                                                        <li class="{%if i==page%}active{%endif%}"><a href="{{path('cielo_admin_entreprise', {'page': i})}}">{{i}}</a></li>
                                            {%endfor%}
                                                                            <li class="next {%if page==nbrTotalPages%}disabled{%endif%}"><a href="{{path('cielo_admin_entreprise', {'page': nbrTotalPages})}}">→ </a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
{% endblock bodyFils1%}