{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Rendez vous {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Commandes</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Rendez-vous</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">

            <section class="utopia-widget">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                    <span>Rendez vous</span>
                </div>

                <div class="utopia-widget-content">

                    <table class="table datatable table-striped table-bordered">

                        <colgroup>
                            <col class="utopia-col-1">
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Client</th>
                                <th>Date d'envoie</th>
                                <th>Produit</th>
                                <th>Adresse client</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {%for r in rendezVous%}
                                <tr>
                                    <td>
                                {{r.user.nom|upper}} {{r.user.prenom}}<br/>
                                            ({{r.user.username}})
                                        </td>
                                        <td>
                                {{r.dateEnvoie|date('d/m/Y à H:m:s')}}
                                            </td>
                                                <td>
                                                     {%if r.modele.documents|length>0%}
                                                <img 
                                                    src="{{ image(r.modele.documents[0].webPath).resize(96,96, 'f5f5f5')}}"
                                                    style="float: left; margin: 5px"
                                                    />
                                                {%else%}
                                                <img 
                                                src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                style="width: 96px; height: 96px; margin: auto;"
                                                />
                                            {%endif%}
                                                {{r.modele.produit.nom}}<br/>
                                                {%for p in r.modele.proprieteProduits%}
                                                {{p.nom}} : {{p.valeur}}<br/>
                                                {%endfor%}
                                                </td>
                                                <td>
                                                {{r.user.email}}
                                                </td>
                                                        <td>
                                                            <a style="" href="{{path('cielo_admin_sup_rendez_vous', {'id': r.id})}}" class="delete" id="link_btn_supprimer_client_{{r.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                        </td>
                                                    </tr>
                        {%endfor%}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Client</th>
                                                        <th>Date d'envoie</th>
                                                        <th>Produit</th>
                                                        <th>Adresse client</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                            <div class="row-fluid">
                                                <div class="span6">

                                                </div>

                                                <div class="span6">
                                                    <span style="float: right; color: #999; font-size: 0.6rem">selon la base de données</span>
                                                    <div class="pagination pagination-right">
                                                        <ul>
                                                            <li class="prev {%if page==1%}disabled{%endif%}"><a href="{{path('cielo_admin_list_rendez_vous', {'page': 1})}}">←</a></li>
                                                                        {%for i in 1..nbrTotalPages%}
                                                                <li class="{%if i==page%}active{%endif%}"><a href="{{path('cielo_admin_list_rendez_vous', {'page': i})}}">{{i}}</a></li>
                                                                        {%endfor%}
                                                                    <li class="next {%if page==nbrTotalPages%}disabled{%endif%}"><a href="{{path('cielo_admin_list_rendez_vous', {'page': nbrTotalPages})}}">→ </a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>


                                        </div>
                                    </div>
                                    <div class="row-fluid">



                                    </div>
                                </div>
{% endblock bodyFils1%}