{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}| Admin | Login {% endblock title %}

{%block enteteAdmin%}
{%endblock enteteAdmin%}

{%block menuAdmin%}
{%endblock menuAdmin%}

{% block bodyFils1 %}
<div class="container-fluid">

    <div class="row-fluid">
        <div class="span12">
            <div class="utopia-login-message">
                <h1>Bienvenu à CIELO Market</h1>
                <p>Identifiez-vous pour avoir accès</p>
            </div>
        </div>
    </div>
        <div class="row-fluid">

        <div class="span12">

            <div class="row-fluid">

                <div class="span6">
                    <div class="utopia-login-info">
                        <img src="{{asset('bundles/cieloadmin/admin/img/login.png')}}" alt="image">
                    </div>

                </div>

                <div class="span6">
                    <div class="utopia-login">
                        <h1>Admin</h1>
                        <form action="" method="post" class="utopia">
                            <label>Nom d'utilisateur:</label>
                            <input type="email" placeholder="xyz@exemple.com" class="span12 utopia-fluid-input validate[required]">

                            <label>Mot de passe:</label>
                            <input type="password" class="span12 utopia-fluid-input validate[required]" placeholder="******">

                            <ul class="utopia-login-action">
                                <li>
                                    <input type="submit" class="btn span4" value="Login">
                                    <div class="pull-right"><input type="checkbox"> Se souvenir de moi!</div>
                                </li>
                            </ul>

                            <label><a href="{{path('cielo_admin_dashboardpage')}}">Vous n'arrivez pas à accéder à votre compte?</a></label>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div> <!-- end of container -->
{% endblock bodyFils1%}