{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Créer une famille de produit {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{path('cielo_admin_famille_produit')}}">Famille produit</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Création d'une famille de produit</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
            <div class="span6">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Ajouter des tarifs pour la livraison</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                            <div class="row-fluid">
                                <div class="span6">
                                    {{ form_label(form.modeLivraison, "Mode de livraison") }}
                                        <span style="color: red">{{ form_errors(form.modeLivraison) }}</span>
                                    {{ form_widget(form.modeLivraison) }}

                                    {{ form_label(form.zoneGeographique, "Zone géogrphique") }}
                                        <span style="color: red">{{ form_errors(form.zoneGeographique) }}</span>
                                    {{ form_widget(form.zoneGeographique) }}
                                    </div>
                                    <div class="span6">
                                    {{ form_label(form.prix, "Prix") }}
                                    {{ form_errors(form.prix) }}
                                    {{ form_widget(form.prix) }}
                                    {{ form_widget(form) }}
                                    </div>
                                </div>
                                <input type="submit" class="btn" style="margin-top: 10px;"/>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            
            <div class="span6">

                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Les tarifs pour la livraison</span>
                    </div>

                    <div class="utopia-widget-content">

                        <table class="table table-bordered">

                            <colgroup>
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>Livraison</th>
                                    <th>Zone géographique</th>
                                    <th>Prix</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                        {% for mlzg in modeLivraisonZoneGeographique%}
                                    <tr>
                                        <td>
                                            {{mlzg.modeLivraison.nom}}
                                        </td>
                                        <td>
                                            {{mlzg.zoneGeographique.nom}} ({{mlzg.zoneGeographique.type}})
                                        </td>
                                        <td>
                                            {{mlzg.prix}} F CFA
                                        </td>
                                        <td>
                                            <a href="{{path('cielo_admin_modifier_mode_livraison_zone_geographique', {'id': mlzg.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" alt="Modifier"></a>
                                            <a href="{{path('cielo_admin_supprimer_tarif', {'id': mlzg.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                        </td>
                                            </tr>
                                         {%endfor%}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Mode de livraison</th>
                                                <th>Zone géographique</th>
                                                <th>Prix</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                    </table>


                                </div>
                            </section>


                        </div>
                    </div>
                    
                </div>
{% endblock bodyFils1%}