{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Créer une famille de produit {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{path('cielo_admin_famille_produit')}}">Famille produit</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Création d'une famille de produit</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Créer Mode de livraison</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal" data-prototype="{{form_widget(form.proprieteModeLivraisons.vars.prototype)|e}}">
                            <div class="row-fluid">
                                <div class="span4">
                                    {{ form_label(form.nom, "Nom") }}
                                        <span style="color: red">{{ form_errors(form.nom) }}</span>
                                    {{ form_widget(form.nom) }}

                                    {{ form_label(form.description, "Description") }}
                                        <span style="color: red">{{ form_errors(form.description) }}</span>
                                    {{ form_widget(form.description) }}
                                        
                                    {{ form_label(form.document, " ")}}
                                        
                                    {{ form_label(form.document.file, "Choisir l'image") }}
                                        <span style="color: red">{{ form_errors(form.document.file) }}</span>
                                    {{ form_widget(form.document.file) }}

                                    {{ form_label(form.proprieteModeLivraisons, "Propriétés") }}
                                    {{ form_widget(form.proprieteModeLivraisons) }}
                                    {{ form_widget(form) }}
                                        <div id="propriete-container" >
                                        </div>
                                        <a href="#" id="propriete-add" class="btn" style="margin-top: 5px">Ajouter une propriété</a>

                                    </div>
                                </div>

                                <input type="submit" class="btn" style="margin-top: 10px;"/>
                            </form>
                            <script type="text/javascript">
                                $("#propriete-add").click(function(e) {
                                    e.preventDefault();
                                    addImageToForm();
                                });
                                function addImageToForm(imageContainer) {
                                    imageContainer = $("#propriete-container");
                                    var prototype = $(".form-horizontal").attr("data-prototype");
                                    var newImageForm = prototype.replace(/__name__/g, imageContainer.children().length);
                                    imageContainer.append(newImageForm);
                                }
                                </script>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="span8">

                    <section class="utopia-widget">
                        <div class="utopia-widget-title">
                            <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                            <span>Les modes de livraison</span>
                        </div>

                        <div class="utopia-widget-content">

                            <table class="table table-bordered">

                                <colgroup>
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                    <col class="utopia-col-0">
                                    <col class="utopia-col-1">
                                </colgroup>

                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Nom</th>
                                        <th>Description</th>
                                        <th>Propriétés</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for ml in modeLivraison%}
                                        <tr>
                                            <td>
                                         {%if ml.document!=null%}
                                         {% if ml.document.lien!=null%}
                                                <img 
                                                    src="{{ image(ml.document.webPath).resize(96,96, "f5f5f5")}}"
                                                    alt="{{ ml.document.nom }}"
                                                    title="{{ ml.document.description }}" 
                                                    />
                                                {%else%}
                                            <img 
                                                <img 
                                                src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                style="width: 96px; height: 96px; margin: auto; border-radius: 3px;"
                                                />
                                            {%endif%}
                                         {%endif%}
                                        </td>
                                            <td>
                                            {{ml.nom}}
                                                </td>
                                                <td>
                                            {{ml.description}}
                                                    </td>
                                                    <td>
                                            {%if ml.proprieteModeLivraisons|length>0%}
                                                {%for p in ml.proprieteModeLivraisons%}
                                                    {{p.nom}}: {{p.valeur}} <br/>
                                                {%endfor%}
                                            {%else%}
                                                            -
                                            {%endif%}
                                                        </td>
                                                        <td>
                                                            <a href="{{path('cielo_admin_modifier_mode_livraison', {'id': ml.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" alt="Modifier"></a>
                                                            <a href="javascript:void(0)" class="supprimer-mode-livraison" id="btn_supprimer_mode_livraison_{{ml.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                            <a style="display: none" href="{{path('cielo_admin_supprimer_mode_livraison', {'id': ml.id})}}" class="delete" id="link_btn_supprimer_mode_livraison_{{ml.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                        </td>
                                                    </tr>
                                         {%endfor%}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Image</th>
                                                        <th>Nom</th>
                                                        <th>Description</th>
                                                        <th>Propriétés</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </tfoot>
                                            </table>


                                        </div>
                                    </section>


                                </div>
                            </div>
                            <div class="row-fluid">



                            </div>
                        </div>
{% endblock bodyFils1%}