{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Tableau de bord {% endblock title %}

{% block bodyFils1 %}

<!-- Body start -->
<div class="span10 body-container">

    <div class="row-fluid">

        <!--Chart Icons -->
        <div class="span3">
            <div class="utopia-chart-legend">
                <div class="utopia-chart-icon">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/access_point.png')}}">
                </div>
                    <div class="utopia-chart-heading">{{participationEvenement|length}}</div>
                <div class="utopia-chart-desc">PARTICIPANTS</div>
            </div>
        </div>
    </div>

    <div class="row-fluid">

        <div class="span12">

            <div class="row-fluid">

                <div class="span9">
                    <div class="row-fluid">

                        <div class="span12">

                            <section class="utopia-widget">
                                <div class="utopia-widget-title">
                                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                                    <span>{%if participationEvenement|length>0%}{{participationEvenement[0].evenement.nom}}{%else%}Evènement{%endif%}</span>
                                </div>

                                <div class="utopia-widget-content">

                                    <table class="table table-bordered">

                                        <colgroup>
                                            <col class="utopia-col-0">
                                            <col class="utopia-col-1">
                                            <col class="utopia-col-0">
                                            <col class="utopia-col-1">
                                            <col class="utopia-col-0">
                                        </colgroup>

                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Prénoms</th>
                                                <th>Nom d'utilisateur</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in participationEvenement%}
                                                <tr>
                                                    <td>
                                                 {{p.utilisateur.nom|upper}}
                                                        </td>
                                                        <td>
                                                            {{p.utilisateur.prenom}}
                                                        </td>
                                                        <td>
                                                            {{p.utilisateur.username}}
                                                        </td>
                                                        <td>
                                                            {{p.date |date('d/m/Y')}}
                                                        </td>
                                                    </tr>
                                         {%endfor%}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Prénoms</th>
                                                        <th>Nom d'utilisateur</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </tfoot>
                                            </table>


                                        </div>
                                    </section>


                                </div>

                            </div>





                        </div><!-- Mid panel -->

                        <div class="span3">


                            <div class="row-fluid">
                                <div class="span12">
                                    <div id="utopia-dashboard-weather">

                                    </div>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span12">

                                    <div id="utopia-dashboard-datepicker">

                                    </div>

                                </div>
                            </div>



                        </div><!-- Right panel -->

                    </div>

                </div>

            </div>




        </div>
        <!-- Body end -->



        <!-- Maincontent end -->

    </div> <!-- end of container -->


        {% endblock %}