{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Créer une famille de produit {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{path('cielo_admin_famille_produit')}}">Famille produit</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Création d'une famille de produit</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">

            <section class="utopia-widget">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                    <span>Les Produits de cette commande</span>
                </div>

                <div class="utopia-widget-content">

                    <table class="table table-bordered">

                        <colgroup>
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                            <col class="utopia-col-0">
                            <col class="utopia-col-1">
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Nom</th>
                                <th>Entreprise</th>
                                <th>Prix actuel</th>
                                <th>Quantité</th>
                            </tr>
                        </thead>
                        <tbody>
                                        {% for p in produitCommande%}
                                <tr>
                                    <td>
                                        <img src="{{asset(p.modele.documents[0].webPath)}}" style="width:200px; height: 100px"/>
                                    </td>
                                    <td>
                                            {{p.modele.produit.nom}}
                                        </td>
                                        <td>
                                            {{p.modele.produit.categorie.entreprise.nom}}
                                            </td>
                                            <td>
                                            {{p.modele.prixPromo}}
                                                </td>
                                                <td>
                                            {{p.quantite}}
                                                    </td>
                                                </tr>
                                         {%endfor%}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Nom</th>
                                                    <th>Entreprise</th>
                                                    <th>Prix actuel</th>
                                                    <th>Quantité</th>
                                                </tr>
                                            </tfoot>
                                        </table>

                                        <a href="{{path('cielo_admin_terminer_commande', {'id': produitCommande[0].commande.id})}}" class="btn">
                                            <img src="{{asset('bundles/cieloadmin/admin/img/icons2/checkmark.png')}}" class="utopia-icons2-medium-img">

                                            Terminer cette Commande
                                        </a>
                                    </div>
                                </section>


                            </div>
                        </div>
                        <div class="row-fluid">



                        </div>
                    </div>
{% endblock bodyFils1%}