{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Publicité {% endblock title %}
{%block stylesheets%}
{{parent()}}
<link href="{{asset('bundles/cieloadmin/admin/css/colorpicker.css')}}" rel="stylesheet" type="text/css"/>
{%endblock stylesheets%}
{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Publicité</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Ajouter une publicité</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                            <div class="row-fluid">
                                <div class="span12">
                                    {{ form_label(form.nom, "Nom") }}
                                    <span style="color: red">{{ form_errors(form.nom) }}</span>
                                    {{ form_widget(form.nom) }}

                                    {{ form_label(form.lien, "Lien") }}
                                    <span style="color: red">{{ form_errors(form.lien) }}</span>
                                    {{ form_widget(form.lien) }}
                                    
                                    {{ form_label(form.couleurArrierePlan, "Couleur d'arrière plan (code de couleur en hexadécimal svp)") }}
                                    <span style="color: red">{{ form_errors(form.couleurArrierePlan) }}</span>
                                    {{ form_widget(form.couleurArrierePlan) }}
                               </div>
                               
                               <div class="span12">
                                    {{ form_label(form.document, "Image (une image de taille 150x800)") }}
                                            <span style="color: red">{{ form_errors(form.document) }}</span>
                                    {{ form_widget(form.document) }}
                               </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                   {{ form_label(form.panelGauche, "Panel Gauche") }}
                                    <span style="color: red">{{ form_errors(form.panelGauche) }}</span>
                                    {{ form_widget(form.panelGauche) }}
                                    </div>
                               <div class="span6">
                                   {{ form_label(form.panelDroit, "Panel Droit") }}
                                    <span style="color: red">{{ form_errors(form.panelDroit) }}</span>
                                    {{ form_widget(form.panelDroit) }}
                               </div>
                                </div>
                                   {{ form_widget(form) }}
                                <input type="submit" class="btn" style="margin-top: 10px;"/>
                            </form>
                        </div>
                    </div>
                </section>
            </div>

            <div class="span8">

                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Les Publicités</span>
                    </div>

                    <div class="utopia-widget-content">
                        <table class="table table-bordered">

                            <colgroup>
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Panel Gauche</th>
                                    <th>Panel Droit</th>
                                    <th>Couleur Arriere Plan</th>
                                    <th>Lien</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                        {% for p in pubs%}
                                    <tr>
                                         <td>
                                         {%if p.document!=null%}
                                         {% if p.document.lien!=null%}
                                                <img 
                                                    src="{{ image(p.document.webPath).resize(96,192, 'f5f5f5')}}"
                                                    />
                                                {%else%}
                                                <img 
                                                src="{{asset('bundles/cielouser/images/deux.png')}}"
                                                style="width: 96px; height: 96px; margin: auto;"
                                                />
                                            {%endif%}
                                         {%endif%}
                                    </td>
                                    <td>
                                            {{p.nom}}
                                        </td>
                                        <td>
                                            {%if p.panelGauche==true%}<a href="{{path('cielo_admin_activer_panel_gauche', {'id': p.id})}}">Oui</a>{%else%}<a href="{{path('cielo_admin_activer_panel_gauche', {'id': p.id})}}">Non</a>{%endif%}
                                        </td>
                                        <td>
                                            {%if p.panelDroit==true%}<a href="{{path('cielo_admin_activer_panel_droit', {'id': p.id})}}">Oui</a>{%else%}<a href="{{path('cielo_admin_activer_panel_droit', {'id': p.id})}}">Non</a>{%endif%}
                                        </td>
                                        <td>
                                            {{p.couleurArrierePlan}}
                                        </td>
                                        <td>
                                            {{p.lien}}
                                        </td>
                                                <td>
                                                 <a href="{{path('cielo_admin_modifier_pub', {'id': p.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" title="Modifier"></a>
                                                 <a href="{{path('cielo_admin_supprimer_pub', {'id': p.id})}}" class="delete"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" title="Supprimer"></a>
                                                </td>
                                            </tr>
                                         {%endfor%}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Image</th>
                                                <th>Nom</th>
                                                <th>Panel Gauche</th>
                                                <th>Panel Droit</th>
                                                <th>Couleur Arriere Plan</th>
                                                <th>Lien</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                    </div>
                </section>


            </div>
        </div>

    </div>
{% endblock bodyFils1%}
{%block javascript%}
{{parent()}}
<script src="{{asset('bundles/cieloadmin/admin/js/bootstrap-colorpicker.js')}}" type="text/javascript"></script>
<script>
$(document).ready(function () {
    $('#cielo_adminbundle_pub_couleurArrierePlan').colorpicker();
});
</script>
{%endblock%}