{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Créer une famille de produit {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{path('cielo_admin_famille_produit')}}">Famille produit</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Création d'une famille de produit</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Ajouter un texte défilant</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                            <div class="row-fluid">
                                <div class="span4">
                                    {{ form_label(form.contenu, "Texte défilant") }}
                                        <span style="color: red">{{ form_errors(form.contenu) }}</span>
                                    {{ form_widget(form.contenu) }}

                                    {{ form_widget(form) }}
                                    </div>
                                </div>
                                <input type="submit" class="btn" style="margin-top: 10px;"/>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <div class="span8">

                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Les textes défilant</span>
                    </div>

                    <div class="utopia-widget-content">

                        <table class="table table-bordered">

                            <colgroup>
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>Contenu</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                        {% for td in allTexteDefilant%}
                                    <tr>
                                    <td>
                                            {{td.contenu}}
                                        </td>
                                                <td>
                                                {%if td.actif!=true%}
                                                    <a href="{{path('cielo_admin_activer_texte_defilant', {'id': td.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/checkmark.png')}}" title="Cliquer pour activer"></a>
                                                    {%else%}
                                                    <a href="{{path('cielo_admin_desactiver_texte_defilant', {'id': td.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/close.png')}}" title="Cliquer pour désactiver"></a>
                                                {%endif%}
                                                 <a href="{{path('cielo_admin_modifier_texte_defilant', {'id': td.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" alt="Modifier"></a>
                                                 <a href="{{path('cielo_admin_supprimer_texte_defilant', {'id': td.id})}}" class="delete" id="link_btn_supprimer_mode_paiement_{{td.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                </td>
                                            </tr>
                                         {%endfor%}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Contenu</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                    </table>


                                </div>
                            </section>


                        </div>

                    </div>

                </div>
{% endblock bodyFils1%}