{%extends "CIELOAdminBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Admin | Créer une famille de produit {% endblock title %}

{% block bodyFils1 %}
<div class="span10 body-container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{path('cielo_admin_dashboardpage')}}">Tableau de bord</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="{{path('cielo_admin_famille_produit')}}">Famille produit</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Création d'une famille de produit</a> <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>
        <div class="row-fluid" style="margin-bottom: 20px; ">
            <a class="btn" href="{{path('cielo_admin_mode_livraison_zone_geographique')}}" style="float: right" title="Créer un nouveau domaine d'activités">
                Tarif par mode de livraison
            </a>
        </div>
    <div class="row-fluid">
        <div class="span6">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Créer une zone géographique</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                            <div class="row-fluid">
                                <div class="span4">
                                    {{ form_label(form.nom, "Nom") }}
                                        <span style="color: red">{{ form_errors(form.nom) }}</span>
                                    {{ form_widget(form.nom) }}

                                    {{ form_label(form.type, "Type") }}
                                        <span style="color: red">{{ form_errors(form.type) }}</span>
                                    {{ form_widget(form.type) }}
                                    {{ form_widget(form) }}
                                    </div>
                                </div>
                                <input type="submit" class="btn" style="margin-top: 10px;"/>
                            </form>
                        </div>
                    </div>
                </section>
            </div>

                        <div class="span6">

                <section class="utopia-widget">
                    <div class="utopia-widget-title">
                        <img src="{{asset('bundles/cieloadmin/admin/img/icons/paragraph_justify.png')}}" class="utopia-widget-icon">
                        <span>Les zones géographiques</span>
                    </div>

                    <div class="utopia-widget-content">

                        <table class="table table-bordered">

                            <colgroup>
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                                <col class="utopia-col-0">
                                <col class="utopia-col-1">
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Type</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                        {% for zg in zoneGeographique%}
                                    <tr>
                                        <td>
                                            {{zg.nom}}
                                            </td>
                                            <td>
                                            {{zg.type}}
                                                </td>
                                                <td>
                                                    <a href="{{path('cielo_admin_modifier_zone_geographique', {'id': zg.id})}}" class="edit"><img src="{{asset('bundles/cieloadmin/admin/img/icons/pencil.png')}}" alt="Modifier"></a>
                                                    <a href="javascript:void(0)" class="supprimer-zone-geographique" id="btn_supprimer_zone_geographique_{{zg.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                    <a style="display: none" href="{{path('cielo_admin_supprimer_zone_geographique', {'id': zg.id})}}" class="delete" id="link_btn_supprimer_zone_geographique_{{zg.id}}"><img src="{{asset('bundles/cieloadmin/admin/img/icons/trash_can.png')}}" alt="Supprimer"></a>
                                                </td>
                                            </tr>
                                         {%endfor%}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Type</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                    </table>


                                </div>
                            </section>


                        </div>
                </div>
{% endblock bodyFils1%}