{%extends "CIELOAdminEntrepriseBundle::layout.html.twig"%}

{% block title %} {{ parent() }}Enterprise | Ajout Produit {% endblock title %}

{% block bodyFils1 %}
    <div class="span10 body-container">
        <div class="row-fluid">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('cielo_enterprise_homepage')}}">Tableau de bord</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('cielo_enterprise_produit')}}">Produits</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">Ajout d'un modèle à un produit</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
         </div>
            
         <div class="row-fluid">
            <section id="formElement" class="utopia-widget utopia-form-box section">
                <div class="utopia-widget-title">
                    <img src="{{asset('bundles/cieloadmin/admin/img/icons2/pen.png')}}" class="utopia-widget-icon">
                    <span>Ajout d'un modèle à un produit</span>
                </div>
                <div class="row-fluid">
                    <div class="utopia-form-freeSpace" style="margin-left: 20px;">
                        <form method="post" {{ form_enctype(form) }} class="form-horizontal" data-prototype="{{form_widget(form.documents.vars.prototype)|e}}" data-prototypee="{{form_widget(form.proprieteProduits.vars.prototype)|e}}" data-prototypeee="{#{form_widget(form.prixProduits.vars.prototype)|e}#}">
                            <div class="row-fluid">
                                <div class="span3">
                                        
                                    {{ form_label(form.prix, "Prix") }}
                                    {{ form_errors(form.prix) }}
                                    {{ form_widget(form.prix) }}
                                </div>
                                
                                <div class="span3">
                                       
                                    {{ form_label(form.documents, "Image du produits") }}
                                    {{ form_widget(form.documents) }}
                                    <div id="image-container">
                                        
                                    </div>
                                    <a href="#" id="image-add" class="btn" style="margin-top: 5px">Ajouter une image</a>
                                </div>
                                
                                <div class="span3">
                                    {{ form_label(form.proprieteProduits, "Propriété du produits") }}
                                    {{ form_widget(form.proprieteProduits) }}
                                    
                                    <div id="propriete-container">
                                        
                                    </div>
                                    <a href="#" id="propriete-add" class="btn" style="margin-top: 5px">Ajouter une propriété</a>
                                    
                                    {{ form_widget(form) }}
                                </div>
                             </div>
                            <input type="submit" class="btn" style="margin-top: 10px;"/>
                        </form>
                        <script type="text/javascript">
                               $("#image-add").click(function(e){
                                   e.preventDefault();
                                   addImageToForm();
                               });
                               $("#propriete-add").click(function(e){
                                   e.preventDefault();
                                   addProprieteToForm();
                               });
                                function addImageToForm(imageContainer){
                                    imageContainer = $("#image-container");
                                    var prototype = $(".form-horizontal").attr("data-prototype");
                                    var newImageForm = prototype.replace(/__name__/g, imageContainer.children().length);
                                    imageContainer.append(newImageForm)
                                }
                                function addProprieteToForm(proprieteContainer){
                                    proprieteContainer = $("#propriete-container");
                                    var prototype = $(".form-horizontal").attr("data-prototypee");
                                    var newProprieteForm = prototype.replace(/__name__/g, proprieteContainer.children().length);
                                    proprieteContainer.append(newProprieteForm)
                                }
                        </script>
                    </div>
                </div>
         </div>
    </div>
{% endblock bodyFils1%}